Repository BabylonJS/Babylon.js, pull requests merged in 2018-02, with the labels that each got.

#3742 Viewer - minor changes to configuration
  Viewer/src/configuration/configuration.ts
  Viewer/src/configuration/loader.ts
  Viewer/src/configuration/types/index.ts
  Viewer/src/viewer/viewer.ts
  dist/preview release/what's new.md
Labels: viewer

#3770 loading files using Babylon's load file
  Viewer/src/configuration/loader.ts
  Viewer/src/helper.ts
  Viewer/src/templateManager.ts
  dist/preview release/what's new.md
Labels: enhancement, optimizations, viewer

#3771 Viewer load mesh fix
  Viewer/src/templateManager.ts
  Viewer/src/viewer/defaultViewer.ts
  Viewer/src/viewer/viewer.ts
  dist/preview release/what's new.md
  src/Helpers/babylon.environmentHelper.ts
  src/babylon.scene.ts
Labels: bug, optimizations, viewer

#3760 glTF Serializer: Added support for child node hierarchy
  serializers/src/glTF/2.0/babylon.glTFExporter.ts
Labels: bug

#3811 glTF Serializer: Added emissive color to standard material
  serializers/src/glTF/2.0/babylon.glTFMaterial.ts
Labels: bug

#3834 glTF Serializer: Add support for PBRMaterial
  serializers/src/glTF/2.0/babylon.glTFExporter.ts
  serializers/src/glTF/2.0/babylon.glTFMaterial.ts
  src/Materials/PBR/babylon.pbrBaseMaterial.ts
  src/Materials/PBR/babylon.pbrMetallicRoughnessMaterial.ts
Labels: bug, enhancement, exporters
