Repository BabylonJS/Babylon.js, pull requests merged in 2018-06, with the labels that each got.

#4414 [Viewer] using the previously set value for enableBlending
  Viewer/src/model/viewerModel.ts
  dist/preview release/what's new.md
Labels: bug, viewer

#4455 glTF Serializer: Refactoring to preserve original texture names
  serializers/src/glTF/2.0/babylon.glTFMaterial.ts
Labels: exporters, glTF

#4476 glTFSerializer: Refactor alpha mode handling
  serializers/src/glTF/2.0/babylon.glTFMaterial.ts
Labels: exporters, glTF

#4496 disable alpha mode tests for glTF Serializer
  tests/unit/babylon/serializers/babylon.glTFSerializer.tests.ts
Labels: bug, exporters, glTF

#4533 glTFSerializer: Exported textures no longer premultiplied with canvas
  Tools/Gulp/config.json
  serializers/src/glTF/2.0/babylon.glTFExporter.ts
  serializers/src/glTF/2.0/babylon.glTFMaterialExporter.ts
  serializers/src/glTF/2.0/shaders/setAlphaToOne.fragment.fx
  tests/unit/babylon/serializers/babylon.glTFSerializer.tests.ts
Labels: exporters, glTF

#4590 glTFSerializer: fix spec gloss export; normalize normals and tangents
  serializers/src/glTF/2.0/babylon.glTFAnimation.ts
  serializers/src/glTF/2.0/babylon.glTFExporter.ts
  serializers/src/glTF/2.0/babylon.glTFMaterialExporter.ts
  serializers/src/glTF/2.0/babylon.glTFUtilities.ts
Labels: exporters, glTF
