Repository BabylonJS/Babylon.js, pull requests merged in 2021-01, with the labels that each got.

#9609 Introducing GUI Editor into Master
  .gitignore
  .vscode/launch.json
  Playground/frame.html
  Playground/full.html
  Playground/index.html
  Playground/index.js
  Tools/Config/config.json
  dist/preview release/guiEditor/babylon.guiEditor.d.ts
  dist/preview release/guiEditor/babylon.guiEditor.js
  dist/preview release/guiEditor/babylon.guiEditor.max.js
  dist/preview release/guiEditor/babylon.guiEditor.max.js.map
  dist/preview release/guiEditor/babylon.guiEditor.module.d.ts
  dist/preview release/guiEditor/package.json
  dist/preview release/guiEditor/readme-es6.md
  dist/preview release/guiEditor/readme.md
  dist/preview release/what's new.md
  guiEditor/README-ES6.md
  guiEditor/README.md
  guiEditor/imgs/downArrow.svg
  guiEditor/public/index-local.html
  guiEditor/public/index.html
  guiEditor/public/index.js
  guiEditor/src/components/guiList/guiList.scss
  guiEditor/src/components/guiList/guiListComponent.tsx
  guiEditor/src/components/log/log.scss
  guiEditor/src/components/log/logComponent.tsx
  guiEditor/src/components/propertyTab/propertyTab.scss
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/diagram/guiNode.ts
  guiEditor/src/diagram/properties/genericNodePropertyComponent.tsx
  guiEditor/src/diagram/properties/propertyComponentProps.ts
  guiEditor/src/diagram/properties/sliderGuiPropertyComponent.tsx
  guiEditor/src/diagram/propertyLedger.ts
  guiEditor/src/diagram/workbench.tsx
  guiEditor/src/diagram/workbenchCanvas.scss
  guiEditor/src/globalState.ts
  guiEditor/src/guiEditor.ts
  guiEditor/src/guiNodeTools.ts
  guiEditor/src/index.ts
  guiEditor/src/legacy/legacy.ts
  guiEditor/src/main.scss
  guiEditor/src/nodeLocationInfo.ts
  guiEditor/src/portal.tsx
  guiEditor/src/serializationTools.ts
  guiEditor/src/sharedComponents/checkBoxLineComponent.tsx
  guiEditor/src/sharedComponents/floatLineComponent.tsx
  guiEditor/src/sharedComponents/lineContainerComponent.tsx
  guiEditor/src/sharedComponents/lineWithFileButtonComponent.tsx
  guiEditor/src/sharedComponents/messageDialog.tsx
  guiEditor/src/sharedComponents/numericInputComponent.tsx
  guiEditor/src/sharedComponents/propertyChangedEvent.ts
  guiEditor/src/sharedComponents/sliderLineComponent.tsx
  guiEditor/src/sharedComponents/textInputLineComponent.tsx
  guiEditor/src/workbenchEditor.tsx
  guiEditor/tsconfig.json
  guiEditor/webpack.config.js
  nodeEditor/src/sharedComponents/popup.tsx
  sharedUiComponents/lines/draggableLineComponent.tsx
  sharedUiComponents/lines/popup.ts
Labels: new feature

#9785 [GUI Components] Slider
  dist/preview release/what's new.md
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/diagram/guiNode.ts
  guiEditor/src/diagram/properties/sliderGuiPropertyComponent.tsx
  guiEditor/src/diagram/propertyLedger.ts
  guiEditor/src/globalState.ts
  inspector/src/components/actionTabs/tabs/propertyGridTabComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/checkboxPropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/colorPickerPropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/controlPropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/ellipsePropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/gridPropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/imageBasedSliderPropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/imagePropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/inputTextPropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/linePropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/radioButtonPropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/rectanglePropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/scrollViewerPropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/stackPanelPropertyGridComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/gui/textBlockPropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/commonControlPropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/sliderPropertyGridComponent.tsx
Labels: gui editor

#9791 [GUI Components] Adding all GUI Property Tab Components
  dist/preview release/what's new.md
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGridTabComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/checkboxPropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/colorPickerPropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/controlPropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/ellipsePropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/gridPropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/imageBasedSliderPropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/imagePropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/inputTextPropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/linePropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/radioButtonPropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/rectanglePropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/scrollViewerPropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/stackPanelPropertyGridComponent.tsx
  sharedUiComponents/tabs/propertyGrids/gui/textBlockPropertyGridComponent.tsx
Labels: gui editor

#9798 [Gui Editor] Adding Loading and Saving
  dist/preview release/what's new.md
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/diagram/guiNode.ts
  guiEditor/src/diagram/properties/genericNodePropertyComponent.tsx
  guiEditor/src/diagram/properties/propertyComponentProps.ts
  guiEditor/src/diagram/workbench.tsx
  guiEditor/src/guiEditor.ts
  guiEditor/src/serializationTools.ts
  nodeEditor/src/components/propertyTab/propertyTabComponent.tsx
  nodeEditor/src/diagram/display/inputDisplayManager.ts
  nodeEditor/src/diagram/graphFrame.ts
  sharedUiComponents/stringTools.ts
Labels: gui editor

#9812 [GUI Editor] Tweaks and Fixes for Demo
  dist/preview release/what's new.md
  guiEditor/public/index.js
  guiEditor/src/components/guiList/guiListComponent.tsx
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/diagram/guiNode.ts
  guiEditor/src/diagram/workbench.tsx
  guiEditor/src/guiNodeTools.ts
  guiEditor/src/workbenchEditor.tsx
Labels: gui editor

#9818 Nightly
  dist/preview release/guiEditor/babylon.guiEditor.d.ts
  dist/preview release/guiEditor/babylon.guiEditor.js
  dist/preview release/guiEditor/babylon.guiEditor.max.js
  dist/preview release/guiEditor/babylon.guiEditor.max.js.map
  dist/preview release/guiEditor/babylon.guiEditor.module.d.ts
  dist/preview release/inspector/babylon.inspector.bundle.max.js
  dist/preview release/inspector/babylon.inspector.bundle.max.js.map
Labels: automerge

#9833 Adding snippet server loading from URL
  dist/preview release/what's new.md
  guiEditor/public/index.html
  guiEditor/public/index.js
  guiEditor/src/diagram/workbench.tsx
  guiEditor/src/guiEditor.ts
Labels: gui editor
