Repository BabylonJS/Babylon.js, pull requests merged in 2021-05, with the labels that each got.

#10319 [GE] Scene Explorer Style Update
  guiEditor/public/imgs/babylonLogo.svg
  guiEditor/public/imgs/buttonIcon.svg
  guiEditor/public/imgs/checkboxIcon.svg
  guiEditor/public/imgs/collapsedIcon.svg
  guiEditor/public/imgs/colorPickerIcon.svg
  guiEditor/public/imgs/displaygridIcon.svg
  guiEditor/public/imgs/dividerBarIcon.svg
  guiEditor/public/imgs/downArrow.svg
  guiEditor/public/imgs/ellipseIcon.svg
  guiEditor/public/imgs/expandIcon.svg
  guiEditor/public/imgs/expandedIcon.svg
  guiEditor/public/imgs/gridIcon.svg
  guiEditor/public/imgs/guidesIcon.svg
  guiEditor/public/imgs/hamburgerIcon.svg
  guiEditor/public/imgs/handIcon.svg
  guiEditor/public/imgs/imageIcon.svg
  guiEditor/public/imgs/imageSliderIcon.svg
  guiEditor/public/imgs/inputFieldIcon.svg
  guiEditor/public/imgs/keyboardIcon.svg
  guiEditor/public/imgs/lineIcon.svg
  guiEditor/public/imgs/makeComponentIcon.svg
  guiEditor/public/imgs/mulitlineIcon.svg
  guiEditor/public/imgs/passwordFieldIcon.svg
  guiEditor/public/imgs/pointerIcon.svg
  guiEditor/public/imgs/radioButtonIcon.svg
  guiEditor/public/imgs/rectangleIcon.svg
  guiEditor/public/imgs/scrollbarIcon.svg
  guiEditor/public/imgs/sliderIcon.svg
  guiEditor/public/imgs/stackPanelIcon.svg
  guiEditor/public/imgs/textBoxIcon.svg
  guiEditor/public/imgs/visibilityActiveIcon.svg
  guiEditor/public/imgs/visibilityNotActiveIcon.svg
  guiEditor/public/imgs/zoomIcon.svg
  guiEditor/src/components/commandBarComponent.tsx
  guiEditor/src/components/commandButtonComponent.tsx
  guiEditor/src/components/commandDropdownComponent.tsx
  guiEditor/src/components/sceneExplorer/entities/gui/advancedDynamicTextureTreeItemComponent.tsx
  guiEditor/src/components/sceneExplorer/entities/gui/controlTreeItemComponent.tsx
  guiEditor/src/components/sceneExplorer/sceneExplorer.scss
  guiEditor/src/components/sceneExplorer/sceneExplorerComponent.tsx
  guiEditor/src/components/sceneExplorer/treeItemComponent.tsx
  guiEditor/src/components/sceneExplorer/treeItemLabelComponent.tsx
  guiEditor/src/components/sceneExplorer/treeItemSpecializedComponent.tsx
Labels: gui editor

#10350 [GE] Various bug fixes and tweaks
  guiEditor/src/components/commandBarComponent.tsx
  guiEditor/src/components/commandButtonComponent.tsx
  guiEditor/src/components/commandDropdownComponent.tsx
  guiEditor/src/components/sceneExplorer/entities/gui/controlTreeItemComponent.tsx
  guiEditor/src/guiNodeTools.ts
Labels: gui editor

#10385 Initial version of the reflector
  .vscode/launch.json
  Tools/Gulp/package.json
  dist/preview release/what's new.md
  inspector/src/components/actionTabs/tabs/toolsTabComponent.tsx
  reflectorBridge/.gitignore
  reflectorBridge/.vscode/launch.json
  reflectorBridge/package.json
  reflectorBridge/src/index.ts
  reflectorBridge/tsconfig.json
  reflectorBridge/webpack.config.js
  sandbox/src/components/reflectorZone.tsx
  sandbox/src/globalState.ts
  sandbox/src/sandbox.tsx
  src/Misc/index.ts
  src/Misc/reflector.ts
Labels: automerge

#10396 Improved texture inspector panning accesibility
  dist/preview release/what's new.md
  inspector/src/components/actionTabs/tabs/propertyGrids/materials/textures/defaultTools/eyedropper.ts
  inspector/src/components/actionTabs/tabs/propertyGrids/materials/textures/defaultTools/floodfill.ts
  inspector/src/components/actionTabs/tabs/propertyGrids/materials/textures/defaultTools/paintbrush.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/materials/textures/defaultTools/rectangleSelect.ts
  inspector/src/components/actionTabs/tabs/propertyGrids/materials/textures/textureCanvasManager.ts
  inspector/src/components/actionTabs/tabs/propertyGrids/materials/textures/textureEditorComponent.tsx
Labels: enhancement, inspector

#10395 [GE] Mouse Enhancements
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/diagram/workbench.tsx
  guiEditor/src/globalState.ts
Labels: gui editor

#10422 Nightly
  dist/preview release/materialsLibrary/babylon.cellMaterial.js
  dist/preview release/materialsLibrary/babylon.cellMaterial.js.map
  dist/preview release/materialsLibrary/babylon.customMaterial.js
  dist/preview release/materialsLibrary/babylon.customMaterial.js.map
  dist/preview release/materialsLibrary/babylon.fireMaterial.js
  dist/preview release/materialsLibrary/babylon.fireMaterial.js.map
  dist/preview release/materialsLibrary/babylon.furMaterial.js
  dist/preview release/materialsLibrary/babylon.furMaterial.js.map
  dist/preview release/materialsLibrary/babylon.gradientMaterial.js
  dist/preview release/materialsLibrary/babylon.gradientMaterial.js.map
  dist/preview release/materialsLibrary/babylon.gridMaterial.js
  dist/preview release/materialsLibrary/babylon.gridMaterial.js.map
  dist/preview release/materialsLibrary/babylon.lavaMaterial.js
  dist/preview release/materialsLibrary/babylon.lavaMaterial.js.map
  dist/preview release/materialsLibrary/babylon.mixMaterial.js
  dist/preview release/materialsLibrary/babylon.mixMaterial.js.map
  dist/preview release/materialsLibrary/babylon.normalMaterial.js
  dist/preview release/materialsLibrary/babylon.normalMaterial.js.map
  dist/preview release/materialsLibrary/babylon.shadowOnlyMaterial.js
  dist/preview release/materialsLibrary/babylon.shadowOnlyMaterial.js.map
  dist/preview release/materialsLibrary/babylon.simpleMaterial.js
  dist/preview release/materialsLibrary/babylon.simpleMaterial.js.map
  dist/preview release/materialsLibrary/babylon.skyMaterial.js
  dist/preview release/materialsLibrary/babylon.skyMaterial.js.map
  dist/preview release/materialsLibrary/babylon.terrainMaterial.js
  dist/preview release/materialsLibrary/babylon.terrainMaterial.js.map
  dist/preview release/materialsLibrary/babylon.triPlanarMaterial.js
  dist/preview release/materialsLibrary/babylon.triPlanarMaterial.js.map
  dist/preview release/materialsLibrary/babylon.waterMaterial.js
  dist/preview release/materialsLibrary/babylon.waterMaterial.js.map
  dist/preview release/materialsLibrary/babylonjs.materials.js
  dist/preview release/materialsLibrary/babylonjs.materials.js.map
  src/Engines/thinEngine.ts
  tests/validation/ReferenceImages/gltfAnimationNode2.png
  tests/validation/ReferenceImages/gltfAnimationNodeMisc.png
  tests/validation/config.json
Labels: automerge

#10263 Compute BoundingInfo for morph target
  dist/preview release/what's new.md
  src/Meshes/abstractMesh.ts
  src/Meshes/instancedMesh.ts
  src/Meshes/mesh.ts
Labels: automerge
