Repository BabylonJS/Babylon.js, pull requests merged in 2021-04, with the labels that each got.

#10132 Added support for clip planes to the edge renderer
  dist/preview release/what's new.md
  src/Materials/shaderMaterial.ts
  src/Shaders/line.fragment.fx
  src/Shaders/line.vertex.fx
Labels: automerge

#10138 [GE] Creating Default Values For Controls
  dist/preview release/what's new.md
  guiEditor/src/guiNodeTools.ts
Labels: gui editor

#10169 Fix for GUI slider step values greater than one
  dist/preview release/what's new.md
  gui/src/2D/controls/sliders/baseSlider.ts
Labels: gui

#10244 [GE] Adding scene explorer, Black Bar, and White Design
  dist/preview release/what's new.md
  guiEditor/imgs/babylonLogo.svg
  guiEditor/imgs/buttonIcon.svg
  guiEditor/imgs/checkboxIcon.svg
  guiEditor/imgs/colorPickerIcon.svg
  guiEditor/imgs/displaygridIcon.svg
  guiEditor/imgs/dividerBarIcon.svg
  guiEditor/imgs/ellipseIcon.svg
  guiEditor/imgs/expandIcon.svg
  guiEditor/imgs/gridIcon.svg
  guiEditor/imgs/guidesIcon.svg
  guiEditor/imgs/hamburgerIcon.svg
  guiEditor/imgs/handIcon.svg
  guiEditor/imgs/imageIcon.svg
  guiEditor/imgs/imageSliderIcon.svg
  guiEditor/imgs/inputFieldIcon.svg
  guiEditor/imgs/keyboardIcon.svg
  guiEditor/imgs/lineIcon.svg
  guiEditor/imgs/mulitlineIcon.svg
  guiEditor/imgs/passwordFieldIcon.svg
  guiEditor/imgs/pointerIcon.svg
  guiEditor/imgs/radioButtonIcon.svg
  guiEditor/imgs/rectangleIcon.svg
  guiEditor/imgs/scrollbarIcon.svg
  guiEditor/imgs/sliderIcon.svg
  guiEditor/imgs/stackPanelIcon.svg
  guiEditor/imgs/textBoxIcon.svg
  guiEditor/imgs/zoomIcon.svg
  guiEditor/src/components/commandBarComponent.tsx
  guiEditor/src/components/commandButtonComponent.tsx
  guiEditor/src/components/commandDropdownComponent.tsx
  guiEditor/src/components/parentingPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyTab.scss
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/components/sceneExplorer/entities/gui/advancedDynamicTextureTreeItemComponent.tsx
  guiEditor/src/components/sceneExplorer/entities/gui/controlTreeItemComponent.tsx
  guiEditor/src/components/sceneExplorer/extensionsComponent.tsx
  guiEditor/src/components/sceneExplorer/sceneExplorer.scss
  guiEditor/src/components/sceneExplorer/sceneExplorerComponent.tsx
  guiEditor/src/components/sceneExplorer/treeItemComponent.tsx
  guiEditor/src/components/sceneExplorer/treeItemLabelComponent.tsx
  guiEditor/src/components/sceneExplorer/treeItemSelectableComponent.tsx
  guiEditor/src/components/sceneExplorer/treeItemSpecializedComponent.tsx
  guiEditor/src/diagram/workbench.tsx
  guiEditor/src/globalState.ts
  guiEditor/src/guiEditor.ts
  guiEditor/src/guiNodeTools.ts
  guiEditor/src/main.scss
  guiEditor/src/scss/commandBar.scss
  guiEditor/src/scss/hamburgerMenu.scss
  guiEditor/src/scss/header.scss
  guiEditor/src/tools.ts
  guiEditor/src/workbenchEditor.tsx
  package.json
Labels: gui editor
