Repository BabylonJS/Babylon.js, pull requests merged in 2021-07, with the labels that each got.

#10618 Fixed Conditional Block condition assignment
  dist/preview release/what's new.md
  src/Materials/Node/Blocks/conditionalBlock.ts
Labels: automerge

#10610 [GE] CSS and HTML Changes for PropertyTabComponents
  guiEditor/src/components/propertyTab/propertyGrids/gui/checkboxPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyGrids/gui/colorPickerPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyGrids/gui/commonControlPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyGrids/gui/ellipsePropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyGrids/gui/imagePropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyGrids/gui/radioButtonPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyGrids/gui/rectanglePropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyTab.scss
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/main.scss
  sharedUiComponents/lines/floatLineComponent.tsx
  sharedUiComponents/lines/sliderLineComponent.tsx
  sharedUiComponents/lines/textInputLineComponent.tsx
Labels: gui editor

#10644 [GE] Constraints for Mouse Movement
  dist/preview release/what's new.md
  guiEditor/src/diagram/workbench.tsx
Labels: enhancement, gui editor

#10653 [GE] Be able to copy GUI controls
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
Labels: gui editor

#10663 [GE] Parenting System Changes
  guiEditor/public/imgs/makeChildOfContainerIcon.svg
  guiEditor/src/components/sceneExplorer/entities/gui/controlTreeItemComponent.tsx
  guiEditor/src/components/sceneExplorer/sceneExplorer.scss
  guiEditor/src/components/sceneExplorer/treeItemComponent.tsx
  guiEditor/src/components/sceneExplorer/treeItemSelectableComponent.tsx
  guiEditor/src/diagram/workbench.tsx
  guiEditor/src/globalState.ts
  guiEditor/src/tools.ts
Labels: gui editor

#10675 Fix GLB export with characters that don't fit into single UTF-16 code point
  dist/preview release/what's new.md
  serializers/src/glTF/2.0/glTFExporter.ts
Labels: exporters, glTF

#10690 [GE] CSS and design fixes
  guiEditor/src/components/commandBarComponent.tsx
  guiEditor/src/components/commandButtonComponent.tsx
  guiEditor/src/components/propertyTab/propertyGrids/gui/commonControlPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyTab.scss
Labels: gui editor

#10695 [GE] Parenting bug fixes
  guiEditor/src/components/sceneExplorer/entities/gui/controlTreeItemComponent.tsx
  guiEditor/src/diagram/workbench.tsx
Labels: gui editor

#10698 Fix animation when using STEP interpolation
  dist/preview release/what's new.md
  src/Animations/runtimeAnimation.ts
Labels: automerge
