Repository BabylonJS/Babylon.js, pull requests merged in 2021-09, with the labels that each got.

#10989 [GE] Load from file css fix and small fixes
  guiEditor/src/components/commandBarComponent.tsx
  guiEditor/src/components/commandDropdownComponent.tsx
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/globalState.ts
  guiEditor/src/scss/commandBar.scss
  sharedUiComponents/lines/checkBoxLineComponent.tsx
Labels: gui editor

#10997 Refactor ace
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/animationCurveEditorComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/bottomBar/bottomBarComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/bottomBar/mediaPlayerComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/context.ts
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/graph/curveComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/graph/frameBarComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/graph/graphComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/graph/keyPoint.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/graph/playHeadComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/graph/rangeFrameBarComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/sideBar/addAnimationComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/sideBar/animationEntryComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/sideBar/animationSubEntryComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/sideBar/loadAnimationComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/sideBar/sideBarComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/topBarComponent.tsx
  src/Animations/animation.ts
Labels: automerge

#11002 Ace evols2
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/graph/keyPoint.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/scss/sideBar.scss
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/sideBar/addAnimationComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/sideBar/sideBarComponent.tsx
  src/Lights/Shadows/shadowGenerator.ts
Labels: automerge

#11062 Nme promotion warning
  nodeEditor/imgs/triangle.svg
  nodeEditor/src/diagram/graphCanvas.scss
  nodeEditor/src/diagram/graphCanvas.tsx
  nodeEditor/src/diagram/graphNode.ts
  nodeEditor/src/diagram/properties/genericNodePropertyComponent.tsx
  src/Materials/Node/nodeMaterialBlock.ts
  src/Materials/Node/nodeMaterialBlockConnectionPoint.ts
Labels: automerge

#11067 Nightly
  dist/preview release/materialsLibrary/babylon.cellMaterial.js
  dist/preview release/materialsLibrary/babylon.cellMaterial.js.map
  dist/preview release/materialsLibrary/babylon.customMaterial.js
  dist/preview release/materialsLibrary/babylon.customMaterial.js.map
  dist/preview release/materialsLibrary/babylon.fireMaterial.js
  dist/preview release/materialsLibrary/babylon.fireMaterial.js.map
  dist/preview release/materialsLibrary/babylon.furMaterial.js
  dist/preview release/materialsLibrary/babylon.furMaterial.js.map
  dist/preview release/materialsLibrary/babylon.gradientMaterial.js
  dist/preview release/materialsLibrary/babylon.gradientMaterial.js.map
  dist/preview release/materialsLibrary/babylon.gridMaterial.js
  dist/preview release/materialsLibrary/babylon.gridMaterial.js.map
  dist/preview release/materialsLibrary/babylon.lavaMaterial.js
  dist/preview release/materialsLibrary/babylon.lavaMaterial.js.map
  dist/preview release/materialsLibrary/babylon.mixMaterial.js
  dist/preview release/materialsLibrary/babylon.mixMaterial.js.map
  dist/preview release/materialsLibrary/babylon.normalMaterial.js
  dist/preview release/materialsLibrary/babylon.normalMaterial.js.map
  dist/preview release/materialsLibrary/babylon.shadowOnlyMaterial.js
  dist/preview release/materialsLibrary/babylon.shadowOnlyMaterial.js.map
  dist/preview release/materialsLibrary/babylon.simpleMaterial.js
  dist/preview release/materialsLibrary/babylon.simpleMaterial.js.map
  dist/preview release/materialsLibrary/babylon.skyMaterial.js
  dist/preview release/materialsLibrary/babylon.skyMaterial.js.map
  dist/preview release/materialsLibrary/babylon.terrainMaterial.js
  dist/preview release/materialsLibrary/babylon.terrainMaterial.js.map
  dist/preview release/materialsLibrary/babylon.triPlanarMaterial.js
  dist/preview release/materialsLibrary/babylon.triPlanarMaterial.js.map
  dist/preview release/materialsLibrary/babylon.waterMaterial.js
  dist/preview release/materialsLibrary/babylon.waterMaterial.js.map
  dist/preview release/materialsLibrary/babylonjs.materials.js
  dist/preview release/materialsLibrary/babylonjs.materials.js.map
  dist/preview release/nodeEditor/babylon.nodeEditor.js
  dist/preview release/nodeEditor/babylon.nodeEditor.max.js
  dist/preview release/nodeEditor/babylon.nodeEditor.max.js.map
  nodeEditor/src/diagram/properties/inputNodePropertyComponent.tsx
Labels: automerge

#11073 Better gltf/scene loader error handling
  dist/preview release/what's new.md
  loaders/src/glTF/glTFFileLoader.ts
  src/Loading/sceneLoader.ts
Labels: automerge

#11080 Update to responsive design
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
Labels: gui editor

#11092 Optimized graph update
  nodeEditor/src/components/preview/previewAreaComponent.tsx
  nodeEditor/src/components/preview/previewManager.ts
  nodeEditor/src/components/propertyTab/inputsPropertyTabComponent.tsx
  nodeEditor/src/components/propertyTab/properties/color3PropertyTabComponent.tsx
  nodeEditor/src/components/propertyTab/properties/color4PropertyTabComponent.tsx
  nodeEditor/src/components/propertyTab/properties/floatPropertyTabComponent.tsx
  nodeEditor/src/components/propertyTab/properties/matrixPropertyTabComponent.tsx
  nodeEditor/src/components/propertyTab/properties/vector2PropertyTabComponent.tsx
  nodeEditor/src/components/propertyTab/properties/vector3PropertyTabComponent.tsx
  nodeEditor/src/components/propertyTab/properties/vector4PropertyTabComponent.tsx
  nodeEditor/src/components/propertyTab/propertyTabComponent.tsx
  nodeEditor/src/diagram/graphCanvas.scss
  nodeEditor/src/diagram/graphCanvas.tsx
  nodeEditor/src/diagram/graphNode.ts
  nodeEditor/src/diagram/nodeLink.ts
  nodeEditor/src/diagram/properties/conditionalNodePropertyComponent.tsx
  nodeEditor/src/diagram/properties/genericNodePropertyComponent.tsx
  nodeEditor/src/diagram/properties/gradientNodePropertyComponent.tsx
  nodeEditor/src/diagram/properties/inputNodePropertyComponent.tsx
  nodeEditor/src/diagram/properties/texturePropertyTabComponent.tsx
  nodeEditor/src/diagram/properties/trigonometryNodePropertyComponent.tsx
  nodeEditor/src/globalState.ts
Labels: automerge

#11025 [GE] Change webpage URL once saved to snippet server
  guiEditor/public/index.js
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/diagram/workbench.tsx
  guiEditor/src/globalState.ts
  guiEditor/src/guiEditor.ts
Labels: gui editor

#11115 [GE] Various bug fixes
  guiEditor/src/components/propertyTab/propertyGrids/gui/commonControlPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/components/sceneExplorer/treeItemComponent.tsx
  guiEditor/src/components/sceneExplorer/treeItemSelectableComponent.tsx
  guiEditor/src/diagram/workbench.tsx
  guiEditor/src/workbenchEditor.tsx
Labels: gui editor

#11124 Fix for Grid Saving
  gui/src/2D/controls/grid.ts
  guiEditor/src/diagram/workbench.tsx
Labels: gui

#11150 [GE] Grid UX Fixes and Minor Bug Fix for Property Grid
  guiEditor/src/components/parentingPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/diagram/workbench.tsx
  guiEditor/src/tools.ts
Labels: gui editor

#11156 [GE] Various Bug Fixes + Resizing Grid
  guiEditor/src/components/parentingPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyGrids/gui/commonControlPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyGrids/gui/gridPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/components/sceneExplorer/treeItemSelectableComponent.tsx
  guiEditor/src/diagram/workbench.tsx
  sharedUiComponents/lines/textInputLineComponent.tsx
Labels: gui editor

#11165 [GE] Control Audit, adt parseFromURLAsync
  gui/src/2D/advancedDynamicTexture.ts
  gui/src/2D/controls/colorpicker.ts
  gui/src/2D/controls/control.ts
  guiEditor/src/components/propertyTab/propertyGrids/gui/commonControlPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyGrids/gui/displayGridPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/components/sceneExplorer/sceneExplorerComponent.tsx
  guiEditor/src/diagram/workbench.tsx
Labels: gui editor

#11182 Fix to input on blur
  gui/src/2D/advancedDynamicTexture.ts
Labels: gui

#11183 [GE] Various Bug Fixes, ZoomToFit, 2-Button Mouse Panning
  guiEditor/public/imgs/canvasFitIcon.svg
  guiEditor/src/components/commandBarComponent.tsx
  guiEditor/src/components/parentingPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyGrids/gui/commonControlPropertyGridComponent.tsx
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/diagram/workbench.tsx
  guiEditor/src/globalState.ts
  guiEditor/src/guiNodeTools.ts
  guiEditor/src/workbenchEditor.tsx
  sharedUiComponents/lines/sliderLineComponent.tsx
Labels: gui editor

#11191 Fix resize->save bug in texture inspector
  inspector/src/components/actionTabs/tabs/propertyGrids/materials/textures/textureCanvasComponent.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/materials/textures/textureCanvasManager.ts
Labels: inspector
