Repository BabylonJS/Babylon.js, pull requests merged in 2021-12, with the labels that each got.

#11522 GUI editor live connection
  dist/preview release/what's new.md
  gui/src/2D/advancedDynamicTexture.ts
  guiEditor/src/components/propertyTab/propertyTabComponent.tsx
  guiEditor/src/diagram/workbench.tsx
  guiEditor/src/globalState.ts
  guiEditor/src/guiEditor.ts
  guiEditor/src/workbenchEditor.tsx
  inspector/src/components/actionTabs/tabs/propertyGrids/materials/texturePropertyGridComponent.tsx
  inspector/src/components/sceneExplorer/entities/gui/advancedDynamicTextureTreeItemComponent.tsx
  inspector/src/components/sceneExplorer/entities/gui/guiTools.ts
  inspector/src/components/sceneExplorer/sceneExplorer.scss
Labels: gui editor

#11585 Fix GUI editor save to snippet server
  guiEditor/src/guiEditor.ts
Labels: bug, gui editor

#11514 Add support for rendering to XR projection layer
  dist/preview release/what's new.md
  src/LibDeclarations/webxr.d.ts
  src/XR/features/WebXRLayers.ts
  src/XR/features/index.ts
  src/XR/native/index.ts
  src/XR/native/nativeXRRenderTarget.ts
  src/XR/webXRCamera.ts
  src/XR/webXRExperienceHelper.ts
  src/XR/webXRFeaturesManager.ts
  src/XR/webXRLayerWrapper.ts
  src/XR/webXRManagedOutputCanvas.ts
  src/XR/webXRRenderTargetTextureProvider.ts
  src/XR/webXRSessionManager.ts
  src/XR/webXRTypes.ts
  src/XR/webXRWebGLLayer.ts
Labels: automerge

#11682 Change cursor on hover GUI gizmo scale points
  guiEditor/src/diagram/guiGizmo.tsx
Labels: gui editor
