Repository BabylonJS/Babylon.js, pull requests merged in 2023-01, with the labels that each got.

#13390 TaskManager.addTextureTask: Fix doc
  packages/dev/core/src/Misc/assetsManager.ts
Labels: skip changelog

#13385 ShadowDepthWrapper: Remove unneeded code
  packages/dev/core/src/Materials/shadowDepthWrapper.ts
Labels: skip changelog

#13392 Fix font style options on gui editor.
  packages/tools/guiEditor/src/components/propertyTab/propertyGrids/gui/commonControlPropertyGridComponent.tsx
Labels: bug, gui editor

#13365 Add a _internalMetadata to avoid side effects with metadata
  packages/dev/core/src/Gizmos/boundingBoxGizmo.ts
  packages/dev/core/src/Materials/Textures/baseTexture.ts
  packages/dev/core/src/Materials/material.ts
  packages/dev/core/src/node.ts
  packages/dev/loaders/src/glTF/2.0/Extensions/KHR_materials_variants.ts
  packages/dev/loaders/src/glTF/2.0/glTFLoader.ts
Labels: bug, loaders

#13399 Force the control's old rect position to be invalidated before moving
  packages/dev/gui/src/2D/advancedDynamicTexture.ts
  packages/dev/gui/src/2D/controls/control.ts
Labels: bug, gui

#13403 [PG] reference files correctly
  packages/tools/playground/public/index.html
Labels: skip changelog

#13394 GUI Editor Line Gizmo Improvements
  packages/dev/gui/src/2D/controls/control.ts
  packages/dev/gui/src/2D/controls/line.ts
  packages/tools/guiEditor/src/diagram/gizmoLine.tsx
  packages/tools/guiEditor/src/diagram/gizmoScalePoint.tsx
Labels: enhancement, gui editor

#13404 Fix calculation of text height in InputTextArea
  packages/dev/gui/src/2D/controls/inputTextArea.ts
  packages/tools/tests/test/visualization/ReferenceImages/GUI Input Text Area Inside ScrollViewer.png
  packages/tools/tests/test/visualization/config.json
Labels: bug, gui

#13410 Properly notify textHighlightObservable
  packages/dev/gui/src/2D/controls/inputText.ts
Labels: bug, gui

#13408 Improve pointerDragBehavior customization
  packages/dev/core/src/Behaviors/Meshes/pointerDragBehavior.ts
Labels: skip changelog

#13406 Prevent Uncaught Exception in NullEngine.dispose
  packages/dev/core/src/Engines/engine.ts
Labels: skip changelog

#13411 [GUI] Fix 2 slider3D issues
  packages/dev/gui/src/3D/controls/slider3D.ts
  packages/dev/gui/src/3D/materials/mrdl/mrdlSliderThumbMaterial.ts
Labels: bug, VR/AR/XR

#13407 Update meshopt_decoder.js to 0.18
  packages/tools/babylonServer/public/meshopt_decoder.js
Labels: skip changelog

#13414 some API changes for fade in and out behavior
  packages/dev/core/src/Behaviors/Meshes/fadeInOutBehavior.ts
Labels: skip changelog

#13415 Fix LoadScriptAsync to reject with proper error
  packages/dev/core/src/Misc/tools.ts
Labels: bug

#13418 NME: Add a RealTime input
  packages/dev/core/src/Engines/thinEngine.ts
  packages/dev/core/src/Materials/Node/Blocks/Input/animatedInputBlockTypes.ts
  packages/dev/core/src/Materials/Node/Blocks/Input/inputBlock.ts
  packages/tools/nodeEditor/src/blockTools.ts
  packages/tools/nodeEditor/src/components/nodeList/nodeListComponent.tsx
  packages/tools/nodeEditor/src/graphSystem/properties/inputNodePropertyComponent.tsx
Labels: new feature, nme

#13419 Export gltf scene level metadata
  packages/dev/serializers/src/glTF/2.0/glTFExporter.ts
Labels: bug, exporters, glTF

#13421 PBR material: Fix typo with OBJECTSPACE_NORMALMAP define
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
Labels: skip changelog

#13423 ActionManager: Add support for Material in serialization and parsing
  packages/dev/core/src/Actions/action.ts
  packages/dev/core/src/Actions/actionManager.ts
  packages/dev/core/src/Actions/directActions.ts
  packages/dev/core/src/Materials/material.ts
Labels: materials, new feature

#13425 Fix sound play function not accepting zero as a valid offset
  packages/dev/core/src/Audio/sound.ts
Labels: bug, audio

#13427 Add location to glFragColor in WebGL preprocessor
  packages/dev/core/src/Engines/WebGL/webGL2ShaderProcessors.ts
Labels: enhancement, rendering engine

#13388 Cache loaded dom images on Image class so the playground-editor doesn't have to reload them often
  packages/dev/gui/src/2D/controls/image.ts
Labels: enhancement, gui editor

#13430 Fixes and performance improvement for linked GUI
  packages/dev/gui/src/2D/advancedDynamicTexture.ts
  packages/dev/gui/src/2D/controls/control.ts
Labels: bug, gui

#13431 Fix broken sound offset backward compatibility
  packages/dev/core/src/Audio/sound.ts
Labels: bug, audio

#13367 Fixed issue when setting ViewPort multiple times per frame in Native
  packages/dev/core/src/Engines/Native/nativeInterfaces.ts
  packages/dev/core/src/Engines/nativeEngine.ts
Labels: native

#13436 Fix Action Deserialization
  packages/dev/core/src/Actions/actionManager.ts
Labels: bug, loaders

#13442 Fix #13391 instanceof Dom Elements
  packages/dev/core/src/Materials/Textures/htmlElementTexture.ts
Labels: skip changelog

#13443 Fix playing animations in Sandbox when they have the same name
  packages/tools/sandbox/src/components/animationBar.tsx
Labels: bug, sandbox

#13444 Fix Sound current time when stop is called while paused
  packages/dev/core/src/Audio/sound.ts
Labels: bug, audio

#13437 Material: Make the frozen mode more user friendly
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
  packages/dev/core/src/Materials/effect.ts
  packages/dev/core/src/Materials/material.ts
  packages/dev/core/src/Materials/pushMaterial.ts
  packages/dev/core/src/Materials/standardMaterial.ts
Labels: materials, new feature

#13387 Pan torwards cursor when zooming on GUI Editor
  packages/tools/guiEditor/src/diagram/workbench.tsx
Labels: enhancement, gui editor

#13452 Fix memory leaks
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
  packages/dev/core/src/Materials/Textures/texture.ts
  packages/dev/core/src/Materials/effect.ts
  packages/dev/core/src/Materials/standardMaterial.ts
Labels: bug, memory leak

#13440 Fix GUI Image caching to consider images that have been created but n…
  packages/dev/gui/src/2D/controls/image.ts
  packages/tools/tests/test/visualization/ReferenceImages/GUI Images in Grid.png
  packages/tools/tests/test/visualization/config.json
Labels: bug, gui

#13455 Fix Sound current time when pause is called, and refactor pause system
  packages/dev/core/src/Audio/sound.ts
Labels: bug, audio

#13456 Optimizing performance of _BinaryWriter._resizeBuffer
  packages/dev/serializers/src/glTF/2.0/glTFExporter.ts
Labels: optimizations, loaders

#13457 Fix Lines Mesh with Push Material
  packages/dev/core/src/Meshes/linesMesh.ts
Labels: bug, materials

#13459 Fluid Renderer: Fixes WebGPU support
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.renderTarget.ts
  packages/dev/core/src/Shaders/fluidRenderingBilateralBlur.fragment.fx
  packages/dev/core/src/Shaders/fluidRenderingRender.fragment.fx
  packages/dev/core/src/Shaders/fluidRenderingStandardBlur.fragment.fx
Labels: bug, rendering engine, WebGPU

#13361 [GUI] Gradients on GUI
  packages/dev/core/src/Engines/ICanvas.ts
  packages/dev/gui/src/2D/controls/button.ts
  packages/dev/gui/src/2D/controls/container.ts
  packages/dev/gui/src/2D/controls/control.ts
  packages/dev/gui/src/2D/controls/ellipse.ts
  packages/dev/gui/src/2D/controls/gradient/BaseGradient.ts
  packages/dev/gui/src/2D/controls/gradient/LinearGradient.ts
  packages/dev/gui/src/2D/controls/gradient/RadialGradient.ts
  packages/dev/gui/src/2D/controls/index.ts
  packages/dev/gui/src/2D/controls/line.ts
  packages/dev/gui/src/2D/controls/rectangle.ts
  packages/dev/gui/src/2D/controls/sliders/scrollBar.ts
  packages/dev/gui/src/2D/controls/sliders/slider.ts
  packages/tools/tests/test/visualization/ReferenceImages/GUI Gradient Linear with transparency.png
  packages/tools/tests/test/visualization/ReferenceImages/GUI Gradient Linear.png
  packages/tools/tests/test/visualization/ReferenceImages/GUI Gradient Radial.png
  packages/tools/tests/test/visualization/config.json
Labels: enhancement, gui

#13462 Fixes to GUI Editor Zoom Behavior
  packages/tools/guiEditor/src/diagram/workbench.tsx
Labels: bug, gui editor

#13463 Fix webXRFeaturesManager test name
  packages/dev/core/test/unit/XR/webXRFeaturesManager.test.ts
Labels: skip changelog

#13460 Add forceResizeWidth on GUI Text Block to allow for width resize even…
  packages/dev/gui/src/2D/controls/textBlock.ts
  packages/tools/tests/test/visualization/ReferenceImages/GUI Force Resize Width.png
  packages/tools/tests/test/visualization/config.json
Labels: enhancement, gui

#13464 Effect: Fix crash when using an external shader file
  packages/dev/core/src/Materials/effect.ts
Labels: skip changelog

#13465 Observable: Fix single fire events not working sometimes
  packages/dev/core/src/Misc/observable.ts
Labels: bug, design

#13468 BaseCameraPointerInputs: Fixed logic to ignore extra touches
  packages/dev/core/src/Cameras/Inputs/BaseCameraPointersInput.ts
  packages/dev/core/test/unit/Cameras/babylon.arcRotateCameraInputs.test.ts
Labels: bug, inputs

#13466 InputManager: Fix for POINTERTAP firing during multi-touch gesture
  packages/dev/core/src/Inputs/scene.inputManager.ts
  packages/dev/core/test/unit/DeviceInput/babylon.inputManager.test.ts
Labels: bug, inputs

#13470 Babylon serializer: Serialize actions for instances
  packages/dev/core/src/Meshes/mesh.ts
Labels: loaders, new feature

#13469 KTX2 decoding: Add default KTX2 decoder configuration
  packages/dev/buildTools/src/webpackTools.ts
  packages/dev/core/src/Materials/Textures/index.ts
  packages/dev/core/src/Materials/Textures/ktx2decoderTypes.ts
  packages/dev/core/src/Misc/khronosTextureContainer2.ts
  packages/public/umd/babylonjs-ktx2decoder/webpack.config.js
  packages/tools/ktx2Decoder/src/Transcoders/liteTranscoder.ts
  packages/tools/ktx2Decoder/src/Transcoders/liteTranscoder_UASTC_ASTC.ts
  packages/tools/ktx2Decoder/src/Transcoders/liteTranscoder_UASTC_BC7.ts
  packages/tools/ktx2Decoder/src/Transcoders/liteTranscoder_UASTC_R8_UNORM.ts
  packages/tools/ktx2Decoder/src/Transcoders/liteTranscoder_UASTC_RG8_UNORM.ts
  packages/tools/ktx2Decoder/src/Transcoders/liteTranscoder_UASTC_RGBA_SRGB.ts
  packages/tools/ktx2Decoder/src/Transcoders/liteTranscoder_UASTC_RGBA_UNORM.ts
  packages/tools/ktx2Decoder/src/Transcoders/mscTranscoder.ts
  packages/tools/ktx2Decoder/src/ktx2Decoder.ts
  packages/tools/ktx2Decoder/src/ktx2FileReader.ts
  packages/tools/ktx2Decoder/src/transcodeDecisionTree.ts
  packages/tools/ktx2Decoder/src/transcoder.ts
  packages/tools/ktx2Decoder/src/transcoderManager.ts
  packages/tools/ktx2Decoder/webpack.config.js
Labels: new feature, texture

#13475 Add GUI is ready function and add it on visualization tests
  .vscode/launch.json
  packages/dev/gui/src/2D/advancedDynamicTexture.ts
  packages/dev/gui/src/2D/controls/container.ts
  packages/dev/gui/src/2D/controls/control.ts
  packages/dev/gui/src/2D/controls/image.ts
  packages/tools/testTools/src/visualizationUtils.ts
  packages/tools/tests/test/visualization/config.json
Labels: enhancement, gui, new feature

#13472 Fix sound source `onended` handling
  packages/dev/core/src/Audio/sound.ts
Labels: bug, audio

#13476 clearOnGuiReadyObservable
  packages/dev/gui/src/2D/advancedDynamicTexture.ts
Labels: skip changelog

#13478 Fix sound current time after it ends on its own
  packages/dev/core/src/Audio/sound.ts
Labels: bug, audio

#13479 Fix hit detection in a multi-cam scenario with billboarded meshes.
  packages/dev/core/src/Culling/ray.ts
  packages/dev/core/src/Meshes/transformNode.ts
Labels: bug, picking

#13481 Fix GLTF Variants Clone
  packages/dev/core/src/Meshes/mesh.ts
Labels: bug, glTF

#13480 MorphTargetMgr: Fallback to vertex attribute mode if too many targets
  packages/dev/core/src/Engines/thinEngine.ts
  packages/dev/core/src/Morph/morphTargetManager.ts
Labels: rendering engine, new feature

#13483 Fix a typo in contributing.md
  contributing.md
Labels: skip changelog

#13482 Get Sound play test working
  packages/dev/core/test/unit/Audio/sound.test.ts
Labels: skip changelog

#13484 WebGPU: Fix stencil buffer creation with RTT
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.renderTarget.ts
Labels: bug, WebGPU

#13486 Texture: Allow ImageBitmap for the buffer parameter of updateURL
  packages/dev/core/src/Materials/Textures/texture.ts
Labels: new feature, texture

#13467 Fix asset container instantiation with parented instanced nodes
  packages/dev/core/src/assetContainer.ts
  packages/tools/tests/test/visualization/ReferenceImages/Asset Container Instantiate to Scene 2.png
  packages/tools/tests/test/visualization/ReferenceImages/Asset Container Instantiate to Scene.png
  packages/tools/tests/test/visualization/config.json
Labels: bug

#13489 Fix ImportMesh of babylon files that share a geometry uniqueId
  packages/dev/core/src/Loading/Plugins/babylonFileLoader.ts
  packages/tools/tests/test/visualization/ReferenceImages/Load babylon files with same geometry uniqueId.png
  packages/tools/tests/test/visualization/config.json
Labels: bug, loaders
