Repository BabylonJS/Babylon.js, pull requests merged in 2023-06, with the labels that each got.

#13929 [AssetContainer] Fix to instantiateModelsToScene
  packages/dev/core/src/assetContainer.ts
Labels: bug, assets

#13930 [GUI Editor] Fix conversion from % to px throwing error
  packages/tools/guiEditor/src/diagram/coordinateHelper.tsx
Labels: bug, gui editor

#13931 fix anisotropic texture debug mode
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockAnisotropic.fx
Labels: bug, materials

#13914 [Physics] Better handling of parented bodies
  packages/dev/core/src/Physics/v2/Plugins/havokPlugin.ts
  packages/dev/core/src/Physics/v2/physicsBody.ts
Labels: enhancement, physics

#13927 DeviceEventFactory: Modified event factory to provide correct value for buttons property
  packages/dev/core/src/DeviceInput/eventFactory.ts
  packages/dev/core/src/Inputs/scene.inputManager.ts
  packages/dev/core/test/unit/DeviceInput/babylon.deviceInput.test.ts
  packages/tools/tests/test/visualization/config.json
Labels: bug, inputs

#13937 WebGPU: Add support for post processes written in WGSL
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/dev/core/src/ShadersWGSL/postprocess.vertex.fx
Labels: new feature, WebGPU

#13938 Revert changes from PR 13927
  packages/dev/core/src/DeviceInput/eventFactory.ts
  packages/dev/core/src/Inputs/scene.inputManager.ts
  packages/dev/core/test/unit/DeviceInput/babylon.deviceInput.test.ts
  packages/tools/tests/test/visualization/config.json
Labels: bug, inputs

#13942 [GUI Editor] Fix Control item being draggable while renaming
  packages/tools/guiEditor/src/components/sceneExplorer/entities/gui/controlTreeItemComponent.tsx
  packages/tools/guiEditor/src/components/sceneExplorer/sceneExplorer.scss
  packages/tools/guiEditor/src/components/sceneExplorer/treeItemSelectableComponent.tsx
Labels: bug, gui editor

#13941 [Inspector] Avoid crashes with bad name/id assignments
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/meshes/meshPropertyGridComponent.tsx
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/parentPropertyGridComponent.tsx
Labels: bug, inspector

#13943 Tri-planar material: Add support for non uniform scaling
  packages/dev/materials/src/triPlanar/triPlanarMaterial.ts
  packages/dev/materials/src/triPlanar/triplanar.vertex.fx
Labels: materials, new feature

#13909 Stop baking LH to RH in glTF serializer
  packages/dev/core/src/Maths/math.vector.ts
  packages/dev/loaders/src/glTF/2.0/Extensions/KHR_lights_punctual.ts
  packages/dev/serializers/src/glTF/2.0/Extensions/EXT_mesh_gpu_instancing.ts
  packages/dev/serializers/src/glTF/2.0/Extensions/KHR_lights_punctual.ts
  packages/dev/serializers/src/glTF/2.0/glTFAnimation.ts
  packages/dev/serializers/src/glTF/2.0/glTFExporter.ts
  packages/dev/serializers/src/glTF/2.0/glTFExporterExtension.ts
  packages/dev/serializers/src/glTF/2.0/glTFSerializer.ts
  packages/dev/serializers/src/glTF/2.0/glTFUtilities.ts
  packages/tools/tests/test/visualization/ReferenceImages/gltfSerializerMorphTargetAnimation.png
  packages/tools/tests/test/visualization/config.json
Labels: glTF, breaking change

#13947 Add glossiness, base color, specular color, and emissive color to material debug modes
  packages/dev/core/src/Shaders/ShadersInclude/pbrDebug.fx
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/materials/pbrMaterialPropertyGridComponent.tsx
  packages/tools/tests/test/visualization/ReferenceImages/Base Color Debug Mode.png
  packages/tools/tests/test/visualization/ReferenceImages/Emissive Color Debug Mode.png
  packages/tools/tests/test/visualization/ReferenceImages/Glossiness Debug Mode.png
  packages/tools/tests/test/visualization/ReferenceImages/Specular Color Debug Mode.png
  packages/tools/tests/test/visualization/config.json
Labels: new feature

#13949 Tri-planar material: Fix uniform scaling
  packages/dev/materials/src/triPlanar/triplanar.vertex.fx
Labels: bug, materials

#13951 [Physics] Fix warning on copying a mesh with physics body
  packages/dev/core/src/Misc/deepCopier.ts
Labels: bug, physics

#13952 [GUI Editor] Add isVisible property on the common control properties …
  packages/tools/guiEditor/src/components/propertyTab/propertyGrids/gui/commonControlPropertyGridComponent.tsx
  packages/tools/guiEditor/src/components/sceneExplorer/entities/gui/controlTreeItemComponent.tsx
Labels: enhancement, gui editor

#13958 [GUI] Fix fixedRatioMasterIsWidth not being preserved on the GUI Editor
  packages/dev/gui/src/2D/controls/control.ts
  packages/dev/gui/src/2D/controls/inputTextArea.ts
Labels: bug, gui, gui editor

#13946 Added ArrayBufferView to possible input types to load scene content.
  packages/dev/core/src/Loading/sceneLoader.ts
  packages/dev/loaders/src/glTF/glTFFileLoader.ts
  packages/dev/loaders/src/glTF/glTFValidation.ts
  packages/tools/tests/test/visualization/ReferenceImages/glbArrayBufferViewLoad.png
  packages/tools/tests/test/visualization/config.json
Labels: enhancement, loaders, breaking change

#13956 Allows colour changes from bboxrenderer observers
  packages/dev/core/src/Rendering/boundingBoxRenderer.ts
Labels: enhancement, rendering engine

#13960 Add NativeEngine enableScissor and disableScissor
  packages/dev/core/src/Engines/Native/nativeInterfaces.ts
  packages/dev/core/src/Engines/nativeEngine.ts
Labels: new feature

#13964 Allow removing an observer without knowing its observable
  packages/dev/core/src/Misc/observable.ts
Labels: enhancement

#13962 [NME] When opening NME from PG, use the PG's scene clear color
  packages/dev/core/src/Materials/Node/nodeMaterial.ts
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/materials/nodeMaterialPropertyGridComponent.tsx
  packages/dev/inspector/src/components/sceneExplorer/entities/materialTreeItemComponent.tsx
  packages/tools/nodeEditor/src/nodeEditor.ts
Labels: enhancement, nme

#13963 [Documentation] Add some clarification about picking triangles from b…
  packages/dev/core/src/Culling/ray.ts
  packages/dev/core/src/Meshes/abstractMesh.ts
  packages/dev/core/src/scene.ts
Labels: skip changelog

#13966 [Physics] Raycast filtering
  packages/dev/core/src/Physics/physicsRaycastResult.ts
  packages/dev/core/src/Physics/v2/IPhysicsEnginePlugin.ts
  packages/dev/core/src/Physics/v2/Plugins/havokPlugin.ts
Labels: physics, new feature

#13968 Water material: Fix support for mesh instances
  packages/dev/materials/src/water/water.fragment.fx
  packages/dev/materials/src/water/water.vertex.fx
  packages/dev/materials/src/water/waterMaterial.ts
Labels: bug, materials

#13970 Material: Add serialization and parsing of material plugins
  packages/dev/core/src/Materials/PBR/pbrMaterial.ts
  packages/dev/core/src/Materials/material.ts
  packages/dev/core/src/Materials/materialPluginManager.ts
  packages/dev/core/src/Materials/standardMaterial.ts
Labels: enhancement, materials

#13978 Materials: Add support for plugins when cloning materials
  packages/dev/core/src/Materials/PBR/pbrMaterial.ts
  packages/dev/core/src/Materials/material.ts
  packages/dev/core/src/Materials/materialPluginBase.ts
  packages/dev/core/src/Materials/standardMaterial.ts
Labels: bug, materials

#13976 Decal: Fix crash when the mesh is an instanced mesh
  packages/dev/core/src/Meshes/Builders/decalBuilder.ts
Labels: bug, rendering engine

#13974 NME: Add support for sampler types to CustomBlock
  packages/dev/core/src/Materials/Node/Blocks/customBlock.ts
Labels: enhancement, nme

#13971 Update animationGroup.ts
  packages/dev/core/src/Animations/animationGroup.ts
Labels: enhancement, animations

#13982 InputManager: Move-based Picking not working with SpriteManager and specific flag
  packages/dev/core/src/Inputs/scene.inputManager.ts
  packages/dev/core/test/unit/DeviceInput/babylon.inputManager.test.ts
Labels: bug, inputs

#13985 VideoTexture: Revert changes
  packages/dev/core/src/Materials/Textures/videoTexture.ts
Labels: bug, rendering engine

#13840 GreasedLine
  packages/dev/core/src/Materials/greasedLinePluginMaterial.ts
  packages/dev/core/src/Materials/index.ts
  packages/dev/core/src/Meshes/Builders/greasedLineBuilder.ts
  packages/dev/core/src/Meshes/Builders/index.ts
  packages/dev/core/src/Meshes/abstractMesh.ts
  packages/dev/core/src/Meshes/greasedLineMesh.ts
  packages/dev/core/src/Meshes/index.ts
  packages/dev/core/src/Meshes/mesh.ts
  packages/dev/core/src/Misc/deepCopier.ts
  packages/dev/core/src/Misc/greasedLineTools.ts
  packages/dev/core/src/Misc/index.ts
  packages/tools/tests/test/visualization/ReferenceImages/greased-line-basic.png
  packages/tools/tests/test/visualization/ReferenceImages/webgpu/greased-line-basic.png
  packages/tools/tests/test/visualization/config.json
  packages/tools/tests/test/visualization/webgpu.json
Labels: rendering engine, new feature

#13987 Allow Add, Divide, Subtract and Multiply Node to use float as second …
  packages/dev/core/src/Materials/Node/Blocks/addBlock.ts
  packages/dev/core/src/Materials/Node/Blocks/divideBlock.ts
  packages/dev/core/src/Materials/Node/Blocks/multiplyBlock.ts
  packages/dev/core/src/Materials/Node/Blocks/subtractBlock.ts
Labels: nme

#13992 SSR: Fix crash when using a PBR material in glossiness/specular mode
  packages/dev/core/src/Rendering/geometryBufferRenderer.ts
Labels: bug, post-process

#13993 [XR] Call the onInitial observable in AR mode as well
  packages/dev/core/src/XR/webXRExperienceHelper.ts
Labels: bug, VR/AR/XR

#13994 Interaction Test: Update first test to remove inertia
  packages/tools/tests/test/interactions/safari.test.ts
Labels: inputs, skip changelog

#13996 CubeTexture: Fix parsing when name has been overwritten
  packages/dev/core/src/Materials/Textures/cubeTexture.ts
Labels: bug, texture

#14005 Allow customizing vis-tests further
  jest-puppeteer.config.js
  packages/tools/tests/test/visualization/visualization.utils.ts
Labels: skip changelog

#14006 needMoveForGravity public access
  packages/dev/core/src/Cameras/flyCamera.ts
  packages/dev/core/src/Cameras/freeCamera.ts
Labels: enhancement, physics

#14002 Improve convertToUnIndexedMesh and convertToFlatShadedMesh vertex data handling with support for morph targets
  packages/dev/core/src/Meshes/mesh.ts
  packages/tools/tests/test/visualization/ReferenceImages/convertToFlatShadedMesh.png
  packages/tools/tests/test/visualization/config.json
Labels: enhancement, new feature

#13998 [Physics] Add raycast filtering to physics engine interface
  packages/dev/core/src/Physics/IPhysicsEngine.ts
  packages/dev/core/src/Physics/physicsRaycastResult.ts
  packages/dev/core/src/Physics/v2/IPhysicsEnginePlugin.ts
  packages/dev/core/src/Physics/v2/Plugins/havokPlugin.ts
  packages/dev/core/src/Physics/v2/physicsEngine.ts
Labels: enhancement, physics

#14007 Refactoring of the Bone class
  packages/dev/core/src/Bones/bone.ts
  packages/dev/core/src/Bones/boneIKController.ts
  packages/dev/core/src/Bones/skeleton.ts
  packages/dev/core/src/Debug/skeletonViewer.ts
  packages/dev/core/src/Gizmos/gizmo.ts
  packages/dev/core/src/Meshes/transformNode.ts
  packages/dev/loaders/src/glTF/2.0/glTFLoader.ts
Labels: enhancement, bones

#14013 Add scissor validation tests
  packages/tools/tests/test/visualization/ReferenceImages/multiCameraRenderingWithScissors.png
  packages/tools/tests/test/visualization/ReferenceImages/scissorTestNegativeXandY.png
  packages/tools/tests/test/visualization/ReferenceImages/scissorTestOobWidthAndHeight.png
  packages/tools/tests/test/visualization/config.json
Labels: skip changelog
