Repository BabylonJS/Babylon.js, pull requests merged in 2023-04, with the labels that each got.

#13691 WebGPU: synchronize with Spec / multiple improvements and fixes
  packages/dev/core/src/Engines/Extensions/engine.cubeTexture.ts
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.multiRender.ts
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.renderTarget.ts
  packages/dev/core/src/Engines/WebGPU/webgpuConstants.ts
  packages/dev/core/src/Engines/WebGPU/webgpuShaderProcessorsWGSL.ts
  packages/dev/core/src/Engines/WebGPU/webgpuTextureHelper.ts
  packages/dev/core/src/Engines/WebGPU/webgpuTintWASM.ts
  packages/dev/core/src/Engines/constants.ts
  packages/dev/core/src/Engines/nativeEngine.ts
  packages/dev/core/src/Engines/renderTargetWrapper.ts
  packages/dev/core/src/Engines/thinEngine.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/dev/core/src/LibDeclarations/webgpu.d.ts
  packages/dev/core/src/Materials/Textures/internalTexture.ts
  packages/dev/core/src/Materials/Textures/renderTargetTexture.ts
  packages/dev/core/src/Materials/Textures/textureCreationOptions.ts
  packages/dev/core/src/PostProcesses/postProcess.ts
  packages/dev/core/src/Rendering/depthPeelingRenderer.ts
  packages/dev/core/src/Rendering/fluidRenderer/fluidRenderer.ts
  packages/dev/core/src/Rendering/fluidRenderer/fluidRenderingDepthTextureCopy.ts
  packages/dev/core/src/Rendering/fluidRenderer/fluidRenderingTextures.ts
  packages/dev/core/src/Shaders/default.fragment.fx
  packages/dev/core/src/Shaders/depthOfFieldMerge.fragment.fx
  packages/dev/core/src/Shaders/fluidRenderingRender.fragment.fx
  packages/dev/core/src/Shaders/motionBlur.fragment.fx
  packages/dev/core/src/Shaders/screenSpaceReflection2.fragment.fx
  packages/dev/core/src/Shaders/screenSpaceReflection2Blur.fragment.fx
  packages/dev/core/src/Shaders/ssao2.fragment.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/bakedVertexAnimation.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/bonesVertex.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/clipPlaneFragment.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/clipPlaneVertex.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/instancesVertex.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/morphTargetsVertex.fx
  packages/tools/babylonServer/public/twgsl/twgsl.wasm
  packages/tools/playground/src/components/rendererComponent.tsx
  packages/tools/sandbox/src/components/renderingZone.tsx
  packages/tools/testTools/src/visualizationUtils.ts
  packages/tools/tests/test/visualization/ReferenceImages/node-material1.png
  packages/tools/tests/test/visualization/ReferenceImages/prepass-mirror-with-pp.png
  packages/tools/tests/test/visualization/ReferenceImages/prepass-mirror-without-pp.png
  packages/tools/tests/test/visualization/config.json
  packages/tools/tests/test/visualization/webgpu.json
Labels: bug, new feature, WebGPU

#13695 Inspector. Particle System. Fix broken links to the documentation
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/particleSystems/particleSystemPropertyGridComponent.tsx
Labels: bug, documentation

#13694 Add inspector option for DepthOfFieldBlurLevel
  packages/dev/core/src/PostProcesses/depthOfFieldMergePostProcess.ts
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/postProcesses/defaultRenderingPipelinePropertyGridComponent.tsx
Labels: enhancement, inspector

#13697 NativeEngine: Override updateRenderTargetTextureSampleCount to prevent crashes
  packages/dev/core/src/Engines/nativeEngine.ts
Labels: bug, rendering engine, native

#13698 Properly dispose of default rendering pipeline in the postProcessRend…
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/defaultRenderingPipeline.ts
  packages/dev/core/src/PostProcesses/RenderPipeline/postProcessRenderPipelineManager.ts
  packages/dev/inspector/src/components/sceneExplorer/sceneExplorerComponent.tsx
Labels: bug, post-process

#13701 Playground download: Make sure that the canvas area occupies 100% of the surface.
  packages/tools/playground/public/zipContent/index.html
Labels: Playground

#13703 Animation: Fix infinite loop when mutating scene._activeAnimatables
  packages/dev/core/src/Animations/animationGroup.ts
Labels: bug, animations

#13702 Screenshot: Add finalWidth and finalHeight to the size object
  packages/dev/core/src/Misc/interfaces/screenshotSize.ts
  packages/dev/core/src/Misc/screenshotTools.ts
  packages/dev/core/src/Misc/textureTools.ts
Labels: rendering engine, new feature

#13704 Reflection Probe: Fix Z inversion in right handed system
  packages/dev/core/src/Probes/reflectionProbe.ts
Labels: bug, rendering engine

#13705 PBR: Fix crash when enabling/disabling anisotropy
  packages/dev/core/src/Materials/PBR/pbrAnisotropicConfiguration.ts
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
Labels: bug, materials

#13706 Make trailmesh diameter public
  packages/dev/core/src/Meshes/trailMesh.ts
Labels: enhancement, rendering engine

#13707 Fix scene recorder
  packages/dev/core/src/Misc/sceneRecorder.ts
Labels: bug, inspector

#13713 docs: Fix a few typos
  packages/dev/proceduralTextures/readme.md
  what's new.md
Labels: skip changelog

#13716 Fluid renderer: Fix alpha not preserved
  packages/dev/core/src/Shaders/fluidRenderingRender.fragment.fx
Labels: bug, rendering engine

#13708 Add overrideRenderingFillMode property to Mesh
  packages/dev/core/src/Layers/effectLayer.ts
  packages/dev/core/src/Meshes/mesh.ts
  packages/dev/core/src/Rendering/depthPeelingRenderer.ts
  packages/dev/serializers/src/glTF/2.0/glTFExporter.ts
Labels: enhancement, rendering engine

#13714 update inspector readme
  packages/dev/inspector/README.md
Labels: skip changelog

#13717 Morph targets: Workaround for Mali-G72 and morph target texture
  packages/dev/core/src/Engines/engineCapabilities.ts
  packages/dev/core/src/Engines/nativeEngine.ts
  packages/dev/core/src/Engines/nullEngine.ts
  packages/dev/core/src/Engines/thinEngine.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/dev/core/src/Morph/morphTargetManager.ts
Labels: enhancement, rendering engine

#13720 Fix asset Container crash with predicate
  packages/dev/core/src/LibDeclarations/webgpu.d.ts
  packages/dev/core/src/assetContainer.ts
Labels: bug, assets

#13721 Inspector. Add custom items to context menus or override them
  packages/dev/core/src/Debug/debugLayer.ts
  packages/dev/inspector/src/components/sceneExplorer/sceneExplorerComponent.tsx
  packages/dev/inspector/src/components/sceneExplorer/treeItemComponent.tsx
  packages/dev/inspector/src/inspector.ts
Labels: enhancement, inspector

#13725 Add option to keep context menu entries open, but close them by default.
  packages/dev/core/src/Debug/debugLayer.ts
  packages/dev/inspector/src/components/sceneExplorer/extensionsComponent.tsx
Labels: enhancement, inspector

#13724 Round up ideal width/height calculations so no control is cut off
  .vscode/launch.json
  packages/dev/gui/src/2D/valueAndUnit.ts
  packages/tools/tests/test/visualization/ReferenceImages/Rounding values on controls inside StackPanel.png
  packages/tools/tests/test/visualization/config.json
Labels: bug, gui

#13729 glTF exporter: Fix warning message
  packages/dev/serializers/src/glTF/2.0/glTFMaterialExporter.ts
Labels: bug, exporters

#13728 GPU particle system: Fix particles not rendered in water PG
  packages/dev/core/src/Particles/gpuParticleSystem.ts
Labels: bug, particles

#13726 remove beta flag from GUI Editor
  packages/tools/guiEditor/src/components/commandBarComponent.tsx
Labels: skip changelog

#13732 Prevent previous element props to be selected
  packages/dev/inspector/src/components/sceneExplorer/sceneExplorerComponent.tsx
Labels: bug, inspector

#13733 Sprite manager: Force the sampling mode in pixel perfect mode
  packages/dev/core/src/Sprites/spriteManager.ts
Labels: enhancement, sprite

#13735 fix import path
  packages/dev/serializers/src/glTF/2.0/glTFSerializer.ts
Labels: bug, exporters

#13736 Post Process: Add a property to clear the buffer even when alpha blending is enabled
  packages/dev/core/src/PostProcesses/postProcess.ts
Labels: new feature, post-process

#13739 CascadedShadowMaps: Allows setting min and max number of cascades
  packages/dev/core/src/Lights/Shadows/cascadedShadowGenerator.ts
Labels: enhancement, shadows

#13738 Fix Imports
  packages/dev/core/src/Physics/v2/physicsBody.ts
Labels: bug, physics

#13740 Engine: Rollback changes because of perf problems
  packages/dev/core/src/Engines/WebGL/webGLPipelineContext.ts
  packages/dev/core/src/Materials/effect.ts
Labels: rendering engine

#13741 BoundingInfo: Fix encapsulateBoundingInfo method
  packages/dev/core/src/Culling/boundingInfo.ts
Labels: bug, math

#13744 Adding no-op setters to instancedMesh
  packages/dev/core/src/Meshes/instancedMesh.ts
Labels: bug

#13742 Clip planes defines perf
  packages/dev/core/src/Layers/effectLayer.ts
  packages/dev/core/src/Lights/Shadows/shadowGenerator.ts
  packages/dev/core/src/Materials/clipPlaneMaterialHelper.ts
  packages/dev/core/src/Materials/shaderMaterial.ts
  packages/dev/core/src/Particles/gpuParticleSystem.ts
  packages/dev/core/src/Particles/particleSystem.ts
  packages/dev/core/src/Rendering/depthRenderer.ts
  packages/dev/core/src/Rendering/geometryBufferRenderer.ts
  packages/dev/core/src/Rendering/outlineRenderer.ts
Labels: bug, rendering engine

#13745 Compute shader: Fix wrong ubo bound to the shader in some cases
  packages/dev/core/src/Compute/computeShader.ts
Labels: bug, WebGPU

#13746 Fix GLTF export of ambient texture with texture transforms
  packages/dev/serializers/src/glTF/2.0/glTFMaterialExporter.ts
Labels: bug, glTF, texture

#13743 Round values coming from grid width calculation to avoid gaps between…
  packages/dev/gui/src/2D/controls/grid.ts
  packages/tools/tests/test/visualization/ReferenceImages/Rounding cell widths on Grid.png
  packages/tools/tests/test/visualization/config.json
Labels: bug, gui

#13747 Update typo in solidParticleSystem.ts
  packages/dev/core/src/Particles/solidParticleSystem.ts
Labels: skip changelog

#13750 ShadowGenerator: improve performance
  packages/dev/core/src/Lights/Shadows/shadowGenerator.ts
Labels: enhancement, skip changelog

#13749 Physics Iteration 13
  packages/dev/core/src/Meshes/abstractMesh.ts
  packages/dev/core/src/Meshes/thinInstanceMesh.ts
  packages/dev/core/src/Physics/physicsEngineComponent.ts
  packages/dev/core/src/Physics/physicsHelper.ts
  packages/dev/core/src/Physics/physicsRaycastResult.ts
  packages/dev/core/src/Physics/v2/IPhysicsEnginePlugin.ts
  packages/dev/core/src/Physics/v2/physicsAggregate.ts
  packages/dev/core/src/Physics/v2/physicsBody.ts
  packages/dev/core/src/Physics/v2/physicsConstraint.ts
  packages/dev/core/src/Physics/v2/physicsEngine.ts
  packages/dev/core/src/Physics/v2/physicsEngineComponent.ts
  packages/dev/core/src/Physics/v2/physicsShape.ts
Labels: skip changelog

#13751 WebGPU: MultiRenderTarget extended support
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.multiRender.ts
  packages/dev/core/src/Engines/WebGPU/webgpuHardwareTexture.ts
  packages/dev/core/src/Engines/WebGPU/webgpuTextureHelper.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/tools/tests/test/visualization/config.json
Labels: new feature, WebGPU

#13752 Physics iteration14
  packages/dev/core/src/Physics/physicsRaycastResult.ts
  packages/dev/core/src/Physics/v2/IPhysicsEnginePlugin.ts
  packages/dev/core/src/Physics/v2/physicsAggregate.ts
  packages/dev/core/src/Physics/v2/physicsBody.ts
  packages/dev/core/src/Physics/v2/physicsConstraint.ts
  packages/dev/core/src/Physics/v2/physicsShape.ts
Labels: skip changelog

#13755 Physics iteration15
  packages/dev/core/src/Physics/v2/Plugins/havokPlugin.ts
  packages/dev/core/src/Physics/v2/Plugins/index.ts
Labels: skip changelog

#13760 readme version
  packages/public/@babylonjs/core/readme.md
  readme-es6.md
Labels: skip changelog

#13753 PrePass renderer: Save memory by using a Red format for the depth texture
  packages/dev/core/src/Engines/Extensions/engine.multiRender.ts
  packages/dev/core/src/Engines/thinEngine.ts
  packages/dev/core/src/Rendering/prePassRenderer.ts
Labels: rendering engine, optimizations, new feature

#13767 SSR: Fix ghosting when using large step values
  packages/dev/core/src/Shaders/ShadersInclude/screenSpaceRayTrace.fx
Labels: bug, rendering engine

#13727 Add NME MeshAttributeExistsBlock
  packages/dev/core/src/Materials/Node/Blocks/index.ts
  packages/dev/core/src/Materials/Node/Blocks/meshAttributeExistsBlock.ts
  packages/dev/core/src/Materials/Node/nodeMaterial.ts
  packages/tools/nodeEditor/src/blockTools.ts
  packages/tools/nodeEditor/src/components/nodeList/nodeListComponent.tsx
  packages/tools/nodeEditor/src/graphSystem/display/meshAttributeExistsDisplayManager.ts
  packages/tools/nodeEditor/src/graphSystem/registerToDisplayLedger.ts
Labels: new feature

#13768 Effect Layer: Set intensity of effect per mesh
  packages/dev/core/src/Layers/effectLayer.ts
  packages/dev/core/src/Shaders/glowMapGeneration.fragment.fx
Labels: rendering engine, new feature

#13774 Animation: Fix animation.runtimeAnimations array not cleaned up on stop
  packages/dev/core/src/Animations/animatable.ts
  packages/dev/core/src/Animations/runtimeAnimation.ts
Labels: bug, animations

#13778 Physics: Fix aggregate size calculation and allow passing box rotatio…
  packages/dev/core/src/Physics/v2/physicsAggregate.ts
  packages/dev/core/src/Physics/v2/physicsBody.ts
Labels: bug, physics
