Repository BabylonJS/Babylon.js, pull requests merged in 2023-12, with the labels that each got.

#14549 Better handling of StackPanel layout warning
  packages/dev/gui/src/2D/controls/container.ts
  packages/dev/gui/src/2D/controls/control.ts
  packages/dev/gui/src/2D/controls/stackPanel.ts
  packages/dev/gui/src/2D/controls/textBlock.ts
Labels: bug, gui

#14575 Detect procedural texture readyness.
  packages/dev/core/src/Materials/Textures/Procedurals/proceduralTexture.ts
Labels: enhancement, texture

#14576 PBR custom materials: Fix default shader name
  packages/dev/materials/src/custom/pbrCustomMaterial.ts
Labels: bug, materials

#14582 Fix random generator bug
  packages/dev/core/src/Meshes/Node/Blocks/randomBlock.ts
Labels: skip changelog

#14583 Factorize
  packages/dev/core/src/Maths/math.plane.ts
Labels: skip changelog

#14578 Gaussian Splatting
  packages/dev/core/src/Rendering/GaussianSplatting/gaussianSplatting.ts
  packages/dev/core/src/Rendering/GaussianSplatting/index.ts
  packages/dev/core/src/Rendering/index.ts
Labels: new feature

#14584 Animations: Use a new mode for "relative from current" animation loop
  packages/dev/core/src/Animations/animatable.ts
  packages/dev/core/src/Animations/animation.ts
  packages/dev/core/src/Animations/runtimeAnimation.ts
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/sideBar/addAnimationComponent.tsx
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/sideBar/editAnimationComponent.tsx
Labels: animations, new feature

#14581 Materials: Add support for logarithmic depth to all materials
  packages/dev/core/src/Materials/Background/backgroundMaterial.ts
  packages/dev/core/src/Materials/Node/Blocks/Fragment/fragmentOutputBlock.ts
  packages/dev/core/src/Materials/Node/Blocks/Vertex/vertexOutputBlock.ts
  packages/dev/core/src/Materials/Node/nodeMaterial.ts
  packages/dev/core/src/Materials/Node/nodeMaterialBuildStateSharedData.ts
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
  packages/dev/core/src/Materials/material.ts
  packages/dev/core/src/Materials/shaderMaterial.ts
  packages/dev/core/src/Materials/standardMaterial.ts
  packages/dev/core/src/Shaders/background.fragment.fx
  packages/dev/core/src/Shaders/background.vertex.fx
  packages/dev/core/src/Shaders/line.fragment.fx
  packages/dev/core/src/Shaders/line.vertex.fx
  packages/dev/materials/src/cell/cell.fragment.fx
  packages/dev/materials/src/cell/cell.vertex.fx
  packages/dev/materials/src/cell/cellMaterial.ts
  packages/dev/materials/src/fire/fire.fragment.fx
  packages/dev/materials/src/fire/fire.vertex.fx
  packages/dev/materials/src/fire/fireMaterial.ts
  packages/dev/materials/src/fur/fur.fragment.fx
  packages/dev/materials/src/fur/fur.vertex.fx
  packages/dev/materials/src/fur/furMaterial.ts
  packages/dev/materials/src/gradient/gradient.fragment.fx
  packages/dev/materials/src/gradient/gradient.vertex.fx
  packages/dev/materials/src/gradient/gradientMaterial.ts
  packages/dev/materials/src/grid/grid.fragment.fx
  packages/dev/materials/src/grid/grid.vertex.fx
  packages/dev/materials/src/grid/gridMaterial.ts
  packages/dev/materials/src/lava/lava.fragment.fx
  packages/dev/materials/src/lava/lava.vertex.fx
  packages/dev/materials/src/lava/lavaMaterial.ts
  packages/dev/materials/src/mix/mix.fragment.fx
  packages/dev/materials/src/mix/mix.vertex.fx
  packages/dev/materials/src/mix/mixMaterial.ts
  packages/dev/materials/src/normal/normal.fragment.fx
  packages/dev/materials/src/normal/normal.vertex.fx
  packages/dev/materials/src/normal/normalMaterial.ts
  packages/dev/materials/src/shadowOnly/shadowOnly.fragment.fx
  packages/dev/materials/src/shadowOnly/shadowOnly.vertex.fx
  packages/dev/materials/src/shadowOnly/shadowOnlyMaterial.ts
  packages/dev/materials/src/simple/simple.fragment.fx
  packages/dev/materials/src/simple/simple.vertex.fx
  packages/dev/materials/src/simple/simpleMaterial.ts
  packages/dev/materials/src/sky/sky.fragment.fx
  packages/dev/materials/src/sky/sky.vertex.fx
  packages/dev/materials/src/sky/skyMaterial.ts
  packages/dev/materials/src/terrain/terrain.fragment.fx
  packages/dev/materials/src/terrain/terrain.vertex.fx
  packages/dev/materials/src/terrain/terrainMaterial.ts
  packages/dev/materials/src/triPlanar/triPlanarMaterial.ts
  packages/dev/materials/src/triPlanar/triplanar.fragment.fx
  packages/dev/materials/src/triPlanar/triplanar.vertex.fx
  packages/dev/materials/src/water/waterMaterial.ts
Labels: materials, new feature

#14588 Fix reentrance of updated vertex data
  packages/dev/core/src/Meshes/Node/Blocks/Set/setColorsBlock.ts
  packages/dev/core/src/Meshes/Node/Blocks/Set/setNormalsBlock.ts
  packages/dev/core/src/Meshes/Node/Blocks/Set/setPositionsBlock.ts
  packages/dev/core/src/Meshes/Node/Blocks/Set/setTangentsBlock.ts
  packages/dev/core/src/Meshes/Node/Blocks/Set/setUVsBlock.ts
  packages/dev/core/src/Meshes/Node/Blocks/mergeGeometryBlock.ts
Labels: skip changelog

#14587 Make inputTextArea show placeholder
  packages/dev/gui/src/2D/controls/inputTextArea.ts
  packages/tools/tests/test/visualization/ReferenceImages/gui-inputtextarea-withplaceholder.png
  packages/tools/tests/test/visualization/config.json
Labels: bug, gui

#14591 PBR material: Fix duplication of colorinstance in attribute array
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
Labels: bug, materials

#14589 Gaussian Splatting file loader
  packages/dev/core/src/Rendering/GaussianSplatting/gaussianSplatting.ts
  packages/dev/loaders/src/SPLAT/index.ts
  packages/dev/loaders/src/SPLAT/splatFileLoader.ts
  packages/dev/loaders/src/index.ts
Labels: loaders

#14594 ACE: Fixed incorrect display of loop mode when editing a property
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/sideBar/editAnimationComponent.tsx
Labels: bug, ace

#14599 Scene: Fix return type of getMeshesByTags
  packages/dev/core/src/scene.ts
Labels: bug, rendering engine

#14600 Fix code generation in GeometryInputBlock.
  packages/dev/core/src/Meshes/Node/nodeGeometryBlock.ts
Labels: bug, nge

#14602 AnimationGroupMask: Add a disabled property
  packages/dev/core/src/Animations/animationGroup.ts
  packages/dev/core/src/Animations/animationGroupMask.ts
Labels: enhancement, animations

#14601 GaussianSplat .PLY file format support
  packages/dev/loaders/src/SPLAT/splatFileLoader.ts
Labels: loaders, new feature

#14543 WebXR mesh detection
  packages/dev/core/src/LibDeclarations/webxr.d.ts
  packages/dev/core/src/LibDeclarations/webxr.nativeextensions.d.ts
  packages/dev/core/src/XR/features/WebXRMeshDetector.ts
Labels: enhancement, VR/AR/XR

#14604 ComputeShader: Add a fastMode switch
  packages/dev/core/src/Compute/computeShader.ts
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.computeShader.ts
Labels: enhancement, WebGPU

#14605 Morph: Fix baking of morph data when multiple non zero influences
  packages/dev/core/src/Meshes/abstractMesh.ts
Labels: bug, rendering engine

#14607 Fixing two issues
  packages/dev/sharedUiComponents/src/lines/textInputLineComponent.tsx
  packages/dev/sharedUiComponents/src/stringTools.ts
Labels: skip changelog

#14606 Physics V2 ragdolls
  packages/dev/core/src/Physics/v2/index.ts
  packages/dev/core/src/Physics/v2/ragdoll.ts
Labels: enhancement, physics, animations, new feature, bones

#14613 Keep initial value for incremental scaling
  packages/dev/core/src/Gizmos/axisScaleGizmo.ts
Labels: enhancement, gizmos

#14615 Animation: Fix return value of createKeyForFrame when key already exists
  packages/dev/core/src/Animations/animation.ts
Labels: bug, animations

#14611 WebGPU: ubos and storage buffers optimizations
  packages/dev/core/src/Buffers/storageBuffer.ts
  packages/dev/core/src/Engines/Extensions/engine.storageBuffer.ts
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.storageBuffer.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/dev/core/src/Materials/uniformBuffer.ts
Labels: enhancement, WebGPU

#14616 Always use volume IOR for refraction
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockSubSurface.fx
Labels: skip changelog

#14617 ArcRotateCamera: Fix alpha offset inversion to not include beta = 0
  packages/dev/core/src/Cameras/arcRotateCamera.ts
Labels: bug, inputs

#14621 RenderTargetTexture: Fix wrong transformation matrix set on scene when multiple scenes are defined
  packages/dev/core/src/Materials/Textures/renderTargetTexture.ts
  packages/dev/core/src/scene.ts
Labels: bug, texture

#14623 WebGPU: Reseting ubos in flushFramebuffer does not work
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/dev/core/src/Materials/uniformBuffer.ts
Labels: bug, WebGPU

#14622 Fix broken glTF validator array buffer management
  packages/dev/core/src/Engines/engine.ts
  packages/dev/core/src/Engines/nativeEngine.ts
  packages/dev/core/src/Materials/Node/nodeMaterial.ts
  packages/dev/core/src/Meshes/Compression/dracoCompression.ts
  packages/dev/core/src/Misc/tools.ts
  packages/dev/core/src/Rendering/GaussianSplatting/gaussianSplatting.ts
  packages/dev/core/src/XR/motionController/webXRMotionControllerManager.ts
  packages/dev/core/src/scene.ts
  packages/dev/loaders/src/glTF/glTFFileLoader.ts
  packages/dev/loaders/src/glTF/glTFValidation.ts
Labels: bug

#14625 Fix rearm for crowd agent onreach observable
  packages/dev/core/src/Navigation/Plugins/recastJSPlugin.ts
Labels: bug

#14626 small improvements for ragdoll
  packages/dev/core/src/Physics/v2/ragdoll.ts
Labels: skip changelog

#14627 add isDisposed method to physicsbody
  packages/dev/core/src/Physics/v2/physicsBody.ts
Labels: enhancement, physics

#14624 WebGPU: Add support for GPU timing for compute shaders, render targets and main render pass
  packages/dev/core/src/Compute/computeShader.ts
  packages/dev/core/src/Engines/Extensions/engine.computeShader.ts
  packages/dev/core/src/Engines/Extensions/engine.multiRender.ts
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.computeShader.ts
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.multiRender.ts
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.storageBuffer.ts
  packages/dev/core/src/Engines/WebGPU/webgpuBufferManager.ts
  packages/dev/core/src/Engines/WebGPU/webgpuOcclusionQuery.ts
  packages/dev/core/src/Engines/WebGPU/webgpuPerfCounter.ts
  packages/dev/core/src/Engines/WebGPU/webgpuQuerySet.ts
  packages/dev/core/src/Engines/WebGPU/webgpuRenderTargetWrapper.ts
  packages/dev/core/src/Engines/WebGPU/webgpuTimestampQuery.ts
  packages/dev/core/src/Engines/index.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/dev/core/src/LibDeclarations/webgpu.d.ts
  packages/dev/core/src/Materials/Textures/multiRenderTarget.ts
  packages/dev/core/src/Misc/perfCounter.ts
  packages/dev/core/src/Particles/computeShaderParticleSystem.ts
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockSubSurface.fx
Labels: new feature, WebGPU

#14628 Force alpha to be 1 with opaque alpha mode in glTF
  packages/dev/loaders/src/glTF/2.0/Extensions/KHR_materials_pbrSpecularGlossiness.ts
  packages/dev/loaders/src/glTF/2.0/glTFLoader.ts
  packages/tools/tests/test/visualization/ReferenceImages/gltfMaterialMetallicRoughness0.png
  packages/tools/tests/test/visualization/ReferenceImages/gltfMaterialMetallicRoughness1.png
  packages/tools/tests/test/visualization/ReferenceImages/gltfMaterialSpecularGlossiness0.png
  packages/tools/tests/test/visualization/ReferenceImages/gltfMaterialSpecularGlossiness1.png
Labels: bug, loaders, glTF

#14631 LH/RH support for Ragdolls
  packages/dev/core/src/Physics/v2/ragdoll.ts
Labels: skip changelog

#14632 Bake morph data: allow negative influences
  packages/dev/core/src/Meshes/abstractMesh.ts
Labels: enhancement, rendering engine

#14633 SSR: Don't recalculate the camera view/projection matrices each frame
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/ssrRenderingPipeline.ts
Labels: bug, post-process

#14634 fix Loading Image for Native
  packages/dev/core/src/Misc/fileTools.ts
Labels: skip changelog

#14636 Nit
  packages/dev/core/src/Engines/Extensions/engine.cubeTexture.ts
  packages/dev/core/src/Engines/nativeEngine.ts
  packages/dev/core/src/Materials/Textures/videoTexture.ts
  packages/dev/core/src/Misc/environmentTextureTools.ts
  packages/dev/core/src/Misc/fileTools.ts
Labels: skip changelog

#14638 refactor(scaleGizmo): isHovered
  packages/dev/core/src/Gizmos/positionGizmo.ts
  packages/dev/core/src/Gizmos/rotationGizmo.ts
  packages/dev/core/src/Gizmos/scaleGizmo.ts
Labels: skip changelog

#14640 WebGPU: Inject dynamic and uniform buffer extensions in WebGPU engine
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.dynamicBuffer.ts
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.uniformBuffer.ts
  packages/dev/core/src/Engines/WebGPU/Extensions/index.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
Labels: enhancement, WebGPU

#14642 Incremental bounding box scaling
  packages/dev/core/src/Gizmos/boundingBoxGizmo.ts
Labels: enhancement, gizmos

#14644 GeometryBufferRenderer: Allow to define texture type and format
  packages/dev/core/src/Engines/engineCapabilities.ts
  packages/dev/core/src/Engines/nativeEngine.ts
  packages/dev/core/src/Engines/nullEngine.ts
  packages/dev/core/src/Engines/thinEngine.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/dev/core/src/Rendering/geometryBufferRenderer.ts
  packages/dev/core/src/Rendering/geometryBufferRendererSceneComponent.ts
  packages/dev/core/src/Shaders/geometry.fragment.fx
Labels: enhancement, rendering engine

#14645 GeometryBufferRenderer: Add a getter for "unsigned normals"
  packages/dev/core/src/Rendering/geometryBufferRenderer.ts
Labels: enhancement, rendering engine

#14646 SSR: Add support for world/unsigned normals
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/ssrRenderingPipeline.ts
  packages/dev/core/src/Shaders/screenSpaceReflection2.fragment.fx
Labels: enhancement, post-process

#14647 DynamicTexture: Add a dispose method
  packages/dev/core/src/Engines/ICanvas.ts
  packages/dev/core/src/Materials/Textures/dynamicTexture.ts
Labels: enhancement, texture

#14651 ProceduralTexture: Add options when creating a (custom) procedural texture
  packages/dev/core/src/Materials/Textures/Procedurals/customProceduralTexture.ts
  packages/dev/core/src/Materials/Textures/Procedurals/proceduralTexture.ts
Labels: enhancement, texture

#14652 WebGPU: Fix breaking change in the constructor of ComputeShader
  packages/dev/core/src/Compute/computeShader.ts
Labels: bug, WebGPU
