Repository BabylonJS/Babylon.js, pull requests merged in 2023-03, with the labels that each got.

#13576 Add function "updateBodyInstances" to synchronize mesh instances with…
  packages/dev/core/src/Physics/v2/IPhysicsEnginePlugin.ts
  packages/dev/core/src/Physics/v2/physicsBody.ts
Labels: physics, skip changelog

#13575 Fix adaptToDeviceRatio for native engine
  packages/dev/core/src/Engines/Native/nativeInterfaces.ts
  packages/dev/core/src/Engines/nativeEngine.ts
  packages/dev/core/src/Engines/thinEngine.ts
Labels: bug, native

#13578 PointerDragBehavior: Added check to force releaseDrag to fire when no active button is present
  packages/dev/core/src/Behaviors/Meshes/pointerDragBehavior.ts
Labels: bug, inputs

#13577 InputManager: Fix scenario where click can occur when ExclusiveDoubleClickMode = true
  packages/dev/core/src/Inputs/scene.inputManager.ts
  packages/dev/core/test/unit/DeviceInput/babylon.inputManager.test.ts
Labels: bug, inputs

#13579 Fluid renderer: Fix stencil usage
  packages/dev/core/src/Rendering/fluidRenderer/fluidRenderer.ts
Labels: bug, rendering engine

#13562 Decals: Add Decal Map support
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
  packages/dev/core/src/Materials/PBR/pbrMaterial.decalMap.ts
  packages/dev/core/src/Materials/index.ts
  packages/dev/core/src/Materials/material.decalMap.ts
  packages/dev/core/src/Materials/material.decalMapConfiguration.ts
  packages/dev/core/src/Materials/materialFlags.ts
  packages/dev/core/src/Materials/standardMaterial.decalMap.ts
  packages/dev/core/src/Materials/standardMaterial.ts
  packages/dev/core/src/Meshes/abstractMesh.decalMap.ts
  packages/dev/core/src/Meshes/index.ts
  packages/dev/core/src/Meshes/meshUVSpaceRenderer.ts
  packages/dev/core/src/Shaders/ShadersInclude/decalFragment.fx
  packages/dev/core/src/Shaders/ShadersInclude/decalFragmentDeclaration.fx
  packages/dev/core/src/Shaders/ShadersInclude/decalVertexDeclaration.fx
  packages/dev/core/src/Shaders/ShadersInclude/defaultFragmentDeclaration.fx
  packages/dev/core/src/Shaders/ShadersInclude/defaultVertexDeclaration.fx
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockAlbedoOpacity.fx
  packages/dev/core/src/Shaders/ShadersInclude/pbrFragmentDeclaration.fx
  packages/dev/core/src/Shaders/ShadersInclude/pbrFragmentSamplersDeclaration.fx
  packages/dev/core/src/Shaders/ShadersInclude/pbrVertexDeclaration.fx
  packages/dev/core/src/Shaders/default.fragment.fx
  packages/dev/core/src/Shaders/default.vertex.fx
  packages/dev/core/src/Shaders/meshUVSpaceRenderer.fragment.fx
  packages/dev/core/src/Shaders/meshUVSpaceRenderer.vertex.fx
  packages/dev/core/src/Shaders/pbr.fragment.fx
  packages/dev/core/src/Shaders/pbr.vertex.fx
  packages/dev/inspector/src/components/actionTabs/tabs/debugTabComponent.tsx
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/materials/pbrMaterialPropertyGridComponent.tsx
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/materials/standardMaterialPropertyGridComponent.tsx
  packages/tools/tests/test/visualization/ReferenceImages/Decal Map.png
  packages/tools/tests/test/visualization/config.json
Labels: materials, new feature

#13580 Fix connected controls being unset when opening the editor
  packages/tools/guiEditor/src/diagram/workbench.tsx
Labels: bug, gui editor

#13585 Decal maps: Don't throw an error if the decal map plugin can't be instantiated
  packages/dev/core/src/Materials/PBR/pbrMaterial.decalMap.ts
  packages/dev/core/src/Materials/standardMaterial.decalMap.ts
Labels: skip changelog

#13584 Clean up and improve logic for instantiating nodes in AssetContainer.…
  packages/dev/core/src/assetContainer.ts
Labels: bug, assets

#13594 WebGPU: Fix crashes after latest spec changes
  packages/dev/core/src/Engines/WebGPU/webgpuTextureHelper.ts
  packages/dev/core/src/Engines/WebGPU/webgpuTintWASM.ts
  packages/tools/babylonServer/public/twgsl/twgsl.js
  packages/tools/babylonServer/public/twgsl/twgsl.wasm
Labels: skip changelog

#13593 Geometry Buffer Renderer: Fix specular color not in linear space
  packages/dev/core/src/Shaders/geometry.fragment.fx
Labels: bug, rendering engine

#13592 SSR2: Fix local cubemap support
  packages/dev/core/src/Shaders/screenSpaceReflection2.fragment.fx
Labels: bug, rendering engine

#13589 Particle systems: Fix crash when setting updateInAnimate to true
  packages/dev/core/src/Particles/gpuParticleSystem.ts
  packages/dev/core/src/ShadersWGSL/gpuUpdateParticles.compute.fx
Labels: bug, particles

#13588 RTT: Use same logic for particle systems than in the main path
  packages/dev/core/src/Materials/Textures/renderTargetTexture.ts
Labels: bug, rendering engine

#13599 Inspector: Add missing support for inspectableCustomProperties
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/postProcesses/commonPostProcessPropertyGridComponent.tsx
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/postProcesses/commonRenderingPipelinePropertyGridComponent.tsx
Labels: bug, inspector

#13602 Center/Extent fix for aggregates
  packages/dev/core/src/Physics/v2/physicsAggregate.ts
  packages/dev/core/src/Physics/v2/physicsBody.ts
Labels: physics, skip changelog

#13603 spriteManagers array is optional
  packages/dev/core/src/Rendering/renderingManager.ts
  packages/dev/core/src/Sprites/spriteManager.ts
  packages/dev/core/src/Sprites/spriteSceneComponent.ts
Labels: bug

#13604 Don't export bones of nodes that are not exported.
  packages/dev/serializers/src/glTF/2.0/glTFExporter.ts
Labels: bug, glTF

#13598 NME Texture block: Add support for 2DArrayTexture
  packages/dev/core/src/Materials/Node/Blocks/Dual/textureBlock.ts
  packages/dev/core/src/Materials/Node/nodeMaterialBuildState.ts
  packages/tools/nodeEditor/src/graphSystem/display/textureDisplayManager.modules.scss
Labels: new feature, nme

#13608 Mesh: Fix crash with instanced rendering
  packages/dev/core/src/Meshes/mesh.ts
Labels: bug, rendering engine

#13609 update recast.js with lower memory usage
  packages/tools/babylonServer/public/recast.js
Labels: bug, memory leak, navigation

#13611 PBR material in Inspector: Fix debug split and factor
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
Labels: bug, inspector

#13610 Fix horizontal StackPanel width calculation when a child has forceRes…
  packages/dev/gui/src/2D/controls/stackPanel.ts
  packages/dev/gui/src/2D/controls/textBlock.ts
  packages/tools/tests/test/visualization/ReferenceImages/GUI Horizontal Stack Panel and Text Block with resizeToFit and forceResizeWidth.png
  packages/tools/tests/test/visualization/ReferenceImages/GUI Text Block with resizeToFit and forceResizeWidth.png
  packages/tools/tests/test/visualization/config.json
Labels: bug, gui

#13615 Fix nullengine
  packages/dev/core/src/DeviceInput/webDeviceInputSystem.ts
Labels: skip changelog

#13582 InputManager: Modified Logic for ExclusiveDoubleClickMode For Click/DoubleClick Mutual Exclusivity
  packages/dev/core/src/Inputs/scene.inputManager.ts
  packages/dev/core/test/unit/DeviceInput/babylon.inputManager.test.ts
Labels: bug, inputs

#13618 Fixing an issue with follow camera and physics
  packages/dev/core/src/Cameras/targetCamera.ts
Labels: bug, physics

#13617 SSAO2: Fix expensive blur that could not be disabled
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/ssao2RenderingPipeline.ts
Labels: bug, post-process

#13623 Stl Loader Less Restrictive
  packages/dev/loaders/src/STL/stlFileLoader.ts
Labels: bug, loaders

#13629 Disable Flaky ExclusiveDoubleClickMode test
  packages/dev/core/test/unit/DeviceInput/babylon.inputManager.test.ts
Labels: skip changelog

#13628 Adds: keysRotateUp/keysRotateDown (Free Camera)
  packages/dev/core/src/Cameras/Inputs/freeCameraKeyboardMoveInput.ts
  packages/dev/core/src/Cameras/freeCamera.ts
Labels: enhancement, inputs

#13631 SSR2: more improvements
  packages/dev/core/src/Engines/engineCapabilities.ts
  packages/dev/core/src/Engines/nativeEngine.ts
  packages/dev/core/src/Engines/nullEngine.ts
  packages/dev/core/src/Engines/thinEngine.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/ssrRenderingPipeline.ts
  packages/dev/core/src/Rendering/geometryBufferRenderer.ts
  packages/dev/core/src/Rendering/prePassRenderer.ts
  packages/dev/core/src/Shaders/ShadersInclude/screenSpaceRayTrace.fx
  packages/dev/core/src/Shaders/geometry.fragment.fx
  packages/dev/core/src/Shaders/screenSpaceReflection2.fragment.fx
  packages/dev/core/src/Shaders/screenSpaceReflection2Blur.fragment.fx
  packages/dev/core/src/Shaders/screenSpaceReflection2BlurCombiner.fragment.fx
  packages/dev/inspector/src/components/actionTabs/lines/textureLinkLineComponent.tsx
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGridTabComponent.tsx
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/postProcesses/ssrRenderingPipelinePropertyGridComponent.tsx
  packages/dev/inspector/src/components/sceneExplorer/sceneExplorerComponent.tsx
  packages/tools/tests/test/visualization/ReferenceImages/Screen Space Reflections 2.png
  packages/tools/tests/test/visualization/ReferenceImages/ssr.png
  packages/tools/tests/test/visualization/config.json
Labels: skip changelog

#13634 Fix a condition in _moveToProjectedPosition causing bugs with linked TextBlocks
  packages/dev/gui/src/2D/controls/control.ts
Labels: bug, gui

#13637 Button3D: Allow setting the dimensions at creation time
  packages/dev/gui/src/3D/controls/button3D.ts
  packages/dev/gui/src/3D/controls/contentDisplay3D.ts
Labels: gui, new feature

#13636 Sprites: Add pixel perfect mode
  packages/dev/core/src/Shaders/sprites.fragment.fx
  packages/dev/core/src/Sprites/spriteManager.ts
  packages/dev/core/src/Sprites/spriteRenderer.ts
  packages/tools/tests/test/visualization/ReferenceImages/Sprites Pixel Perfect.png
  packages/tools/tests/test/visualization/config.json
Labels: new feature, sprite

#13642 Fix env texture creation from gamma space
  packages/dev/core/src/Misc/environmentTextureTools.ts
Labels: bug, texture

#13645 Physics Update 11
  packages/dev/core/src/Physics/v2/IPhysicsEnginePlugin.ts
  packages/dev/core/src/Physics/v2/physicsAggregate.ts
  packages/dev/core/src/Physics/v2/physicsBody.ts
  packages/dev/core/src/Physics/v2/physicsEngineComponent.ts
  packages/dev/core/src/Physics/v2/physicsMaterial.ts
  packages/dev/core/src/Physics/v2/physicsShape.ts
Labels: skip changelog

#13640 Check if the node exists before adding to the list of nodes to sort.
  packages/dev/core/src/assetContainer.ts
Labels: bug, assets

#13657 Add iridescence configuration to PBR material cloning
  packages/dev/core/src/Materials/PBR/pbrMaterial.ts
  packages/dev/core/src/Materials/Textures/cubeTexture.ts
Labels: bug, materials

#13655 Observable: Fix wrong value returned by hasObservers
  packages/dev/core/src/Misc/observable.ts
Labels: bug, design

#13654 collision observable
  packages/dev/core/src/Physics/v2/IPhysicsEnginePlugin.ts
  packages/dev/core/src/Physics/v2/physicsBody.ts
Labels: skip changelog

#13659 Add shouldExportAnimation option on GLTF exporter to filter out animations
  packages/dev/serializers/src/glTF/2.0/glTFAnimation.ts
  packages/dev/serializers/src/glTF/2.0/glTFExporter.ts
  packages/dev/serializers/src/glTF/2.0/glTFSerializer.ts
Labels: enhancement, exporters, glTF

#13662 fix filtering texture output setup
  packages/dev/core/src/Materials/Textures/Filtering/hdrFiltering.ts
Labels: skip changelog

#13666 Use Matrix.IdentityReadonly instead of Matrix.Identity() for a couple of GUI math operations
  packages/dev/gui/src/2D/controls/control.ts
  packages/dev/gui/src/2D/controls/line.ts
Labels: bug, gui

#13667 Add the TextWrapping.WordWrapEllipsis option to the TextBlock inspector
  packages/dev/sharedUiComponents/src/tabs/propertyGrids/gui/textBlockPropertyGridComponent.tsx
Labels: inspector, gui

#13661 WebDeviceInputSystem: Add pointerId to WheelEvents when dispatching to InputManager
  packages/dev/core/src/DeviceInput/eventFactory.ts
  packages/dev/core/src/DeviceInput/webDeviceInputSystem.ts
  packages/dev/core/src/Inputs/scene.inputManager.ts
  packages/tools/tests/test/interactions/safari.test.ts
Labels: bug, inputs

#13672 Physics Iteration 12
  packages/dev/core/src/Meshes/mesh.ts
  packages/dev/core/src/Physics/v2/physicsAggregate.ts
  packages/dev/core/src/Physics/v2/physicsBody.ts
  packages/dev/core/src/Physics/v2/physicsConstraint.ts
  packages/dev/core/src/Physics/v2/physicsShape.ts
Labels: skip changelog

#13670 Playground: Make more PGs work after download
  packages/tools/playground/public/zipContent/index.html
Labels: enhancement, Playground

#13673 PickingInfo getTextureCoordinates: Allow to choose the uv set
  packages/dev/core/src/Collisions/pickingInfo.ts
Labels: new feature, collisions

#13650 Engine: Modified isPointerLock to update when called instead of during pointerlockchange event
  packages/dev/core/src/Engines/engine.ts
  packages/dev/core/src/Inputs/scene.inputManager.ts
  packages/dev/core/test/unit/DeviceInput/babylon.inputManager.test.ts
Labels: bug, inputs

#13669 Fix word wrap ellipsis algorithm.
  packages/dev/gui/src/2D/controls/textBlock.ts
Labels: bug, gui

#13676 Transmission helper: Fix opaque meshes being rendered two times
  packages/dev/loaders/src/glTF/2.0/Extensions/KHR_materials_transmission.ts
Labels: bug, rendering engine, glTF

#13680 [Bugfix] Respect options.powerPreference without doNotHandleContextLost flag
  packages/dev/core/src/Engines/thinEngine.ts
Labels: bug

#13681 Material plugins: Add support for uniform array
  packages/dev/core/src/Materials/materialPluginBase.ts
  packages/dev/core/src/Materials/materialPluginManager.ts
  packages/dev/core/src/Materials/uniformBuffer.ts
Labels: materials, new feature

#13682 Fix GUI Editor not saving Control observables
  packages/tools/guiEditor/src/diagram/workbench.tsx
Labels: bug, gui editor

#13683 Fix stopAllAnimatables stop loop order.
  packages/dev/core/src/Animations/animatable.ts
Labels: bug, animations

#13649 Fixes to Grid behaviors in GUI Editor
  packages/dev/gui/src/2D/controls/control.ts
  packages/dev/sharedUiComponents/src/imgs/gridColumnIconDark.svg
  packages/dev/sharedUiComponents/src/imgs/gridColumnIconLight.svg
  packages/dev/sharedUiComponents/src/imgs/gridRowIconDark.svg
  packages/dev/sharedUiComponents/src/imgs/gridRowIconLight.svg
  packages/dev/sharedUiComponents/src/lines/textInputLineComponent.tsx
  packages/tools/guiEditor/src/components/commandButtonComponent.tsx
  packages/tools/guiEditor/src/components/propertyTab/propertyGrids/gui/gridPropertyGridComponent.tsx
  packages/tools/guiEditor/src/components/propertyTab/propertyTab.scss
  packages/tools/guiEditor/src/diagram/coordinateHelper.tsx
  packages/tools/guiEditor/src/diagram/workbench.tsx
Labels: bug, gui editor

#13687 Make GLTFLoader index and vertex buffer load methods public
  packages/dev/loaders/src/glTF/2.0/glTFLoader.ts
Labels: skip changelog
