Repository BabylonJS/Babylon.js, pull requests merged in 2023-05, with the labels that each got.

#13773 Node Material Editor: Fix automatic creation of inputs for "sourceY" …
  packages/dev/core/src/Materials/Node/nodeMaterialConnectionPointCustomObject.ts
  packages/dev/sharedUiComponents/src/nodeGraphSystem/graphCanvas.tsx
Labels: bug, nme

#13783 Update havokPlugin.ts
  packages/dev/core/src/Physics/v2/Plugins/havokPlugin.ts
Labels: bug, physics

#13806 [GUI] Fix GUI cloning
  packages/dev/gui/src/2D/advancedDynamicTexture.ts
  packages/dev/gui/src/2D/controls/control.ts
  packages/tools/tests/test/visualization/ReferenceImages/GUI for Mesh cloning.png
  packages/tools/tests/test/visualization/config.json
Labels: bug, gui

#13803 Dump Tools: Use an offscreen canvas
  packages/dev/core/src/LibDeclarations/offscreenCanvas.d.ts
  packages/dev/core/src/Misc/dumpTools.ts
  packages/dev/core/src/Misc/tools.ts
Labels: rendering engine, new feature

#13798 GamepadManager: Fixed issue where providing scene object to constructor would prevent status updates
  packages/dev/core/src/Gamepads/gamepadManager.ts
Labels: bug, inputs

#13808 cylinder/capsule size computation fix
  packages/dev/core/src/Physics/v2/Plugins/havokPlugin.ts
  packages/dev/core/src/Physics/v2/physicsAggregate.ts
Labels: physics

#13810 HDRCubeTexture: Fix texture being ready too soon
  packages/dev/core/src/Engines/Extensions/engine.rawTexture.ts
Labels: bug, rendering engine

#13814 remove unused interface parameters for aggregate
  packages/dev/core/src/Physics/v2/physicsAggregate.ts
Labels: skip changelog

#13815 Reset raycast result when no hit
  packages/dev/core/src/Physics/v2/Plugins/havokPlugin.ts
Labels: bug, physics

#13811 [Physics] Add set/getGravityFactor to PhysicsBody
  packages/dev/core/src/Physics/v2/IPhysicsEnginePlugin.ts
  packages/dev/core/src/Physics/v2/Plugins/havokPlugin.ts
  packages/dev/core/src/Physics/v2/physicsBody.ts
Labels: physics, new feature

#13816 WebGPU: Fix viewport reset too often
  packages/dev/core/src/Engines/webgpuEngine.ts
Labels: bug, WebGPU

#13807 [Texture] Add option to material cloning to not clone the same texture multiple times
  packages/dev/core/src/Materials/PBR/pbrMaterial.ts
  packages/dev/core/src/Materials/standardMaterial.ts
  packages/dev/core/src/Misc/decorators.ts
  packages/dev/core/test/unit/Materials/babylon.material.test.ts
Labels: enhancement, texture, breaking change

#13830 Use getBoundingClientRect instead of width
  packages/dev/core/src/Engines/thinEngine.ts
Labels: bug

#13834 Refraction: Fix refraction coordinates in right handed system
  packages/dev/core/src/Materials/Node/Blocks/PBR/refractionBlock.ts
  packages/dev/core/src/Materials/PBR/pbrSubSurfaceConfiguration.ts
  packages/tools/nodeEditor/src/graphSystem/display/textureDisplayManager.modules.scss
  packages/tools/nodeEditor/src/graphSystem/display/textureDisplayManager.ts
Labels: bug, materials, skip changelog

#13838 raycast reset and GC
  packages/dev/core/src/Physics/physicsRaycastResult.ts
  packages/dev/core/src/Physics/v2/Plugins/havokPlugin.ts
Labels: skip changelog

#13841 Video: Fix video not played when using multiple videos in a shader
  packages/dev/core/src/Engines/thinEngine.ts
Labels: bug, rendering engine

#13839 WebGPU: Update TWGSL
  packages/tools/babylonServer/public/twgsl/twgsl.wasm
  packages/tools/tests/test/visualization/config.json
  packages/tools/tests/test/visualization/webgpu.json
Labels: bug, WebGPU

#13836 NME Triplanar block: Fix redefinition of variable names
  packages/dev/core/src/Materials/Node/Blocks/triPlanarBlock.ts
Labels: bug, skip changelog

#13843 Fix video texture bootstrap data.
  packages/dev/core/src/Materials/Textures/videoTexture.ts
Labels: bug, texture

#13845 Fix polynomials not being ready in PBR and env
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
  packages/dev/core/src/Misc/environmentTextureTools.ts
Labels: bug, texture

#13844 Fix Required dependency in HTMLElementTexture
  packages/dev/core/src/Materials/Textures/htmlElementTexture.ts
Labels: bug, texture

#13848 SSR: Make the jitter centered
  packages/dev/core/src/Shaders/screenSpaceReflection2.fragment.fx
Labels: rendering engine, new feature

#13850 Fix Dump tools clamping
  packages/dev/core/src/Misc/dumpTools.ts
Labels: bug, tools

#13855 DecalMap: Fix the isReady function
  packages/dev/core/src/Meshes/meshUVSpaceRenderer.ts
Labels: bug, materials

#13856 ArcRotateCamera: Account for offset when using zoom to mouse location
  packages/dev/core/src/Cameras/Inputs/arcRotateCameraMouseWheelInput.ts
Labels: bug, inputs

#13857 Decal: Add support for thin instances
  packages/dev/core/src/Meshes/Builders/decalBuilder.ts
Labels: rendering engine, new feature

#13842 Node Material Editor: Allow loading GLTF format files in preview window, add drag and drop, revert to cube when loading fails
  packages/tools/nodeEditor/src/components/preview/previewManager.ts
  packages/tools/nodeEditor/src/components/preview/previewMeshControlComponent.tsx
  packages/tools/nodeEditor/src/globalState.ts
Labels: enhancement, nme

#13860 Sprite: Fix picking when angle is not zero
  packages/dev/core/src/Sprites/spriteManager.ts
Labels: bug, sprite

#13866 Material plugin: Fix cleaning when engine is disposed
  packages/dev/core/src/Engines/engine.ts
  packages/dev/core/src/Materials/material.ts
  packages/dev/core/src/Materials/materialPluginManager.ts
  packages/tools/playground/src/components/rendererComponent.tsx
Labels: bug, materials

#13869 core not supported in declare module
  packages/dev/core/src/Rendering/fluidRenderer/fluidRenderer.ts
Labels: bug, rendering engine

#13864 Allow `scene.audioListenerPositionProvider` to be set to null
  packages/dev/core/src/Audio/audioSceneComponent.ts
Labels: bug

#13870 Fix Scene performance counters
  packages/dev/core/src/Instrumentation/sceneInstrumentation.ts
  packages/dev/core/src/Misc/perfCounter.ts
  packages/dev/core/src/scene.ts
Labels: bug, performance viewer

#13871 WebGPU: add support for new texture formats
  packages/dev/core/src/Engines/WebGPU/webgpuCacheRenderPipeline.ts
  packages/dev/core/src/Engines/WebGPU/webgpuTextureHelper.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
Labels: new feature, WebGPU

#13872 Mesh: Improve doc for ignoreCameraMaxZ
  packages/dev/core/src/Meshes/mesh.ts
Labels: skip changelog

#13877 [Screen Reader Support] Option for twin renderer to not render all GUI controls by default
  packages/tools/accessibility/src/HtmlTwin/htmlTwinHostComponent.tsx
  packages/tools/accessibility/src/HtmlTwin/htmlTwinRenderer.ts
Labels: new feature, accessibility

#13878 Fix #13567
  packages/dev/core/src/Materials/Node/Blocks/curveBlock.ts
  packages/dev/core/src/Materials/Node/Blocks/index.ts
  packages/tools/nodeEditor/src/blockTools.ts
  packages/tools/nodeEditor/src/components/nodeList/nodeListComponent.tsx
  packages/tools/nodeEditor/src/graphSystem/display/curveDisplayManager.modules.scss
  packages/tools/nodeEditor/src/graphSystem/display/curveDisplayManager.ts
  packages/tools/nodeEditor/src/graphSystem/properties/curveNodePropertyComponent.tsx
  packages/tools/nodeEditor/src/graphSystem/registerToDisplayLedger.ts
  packages/tools/nodeEditor/src/graphSystem/registerToPropertyLedger.ts
Labels: new feature, nme

#13881 WebGPU: Allow to pass to a compute shader the gpu buffer used in a bundle to render instances
  packages/dev/core/src/Engines/WebGPU/webgpuDrawContext.ts
  packages/dev/core/src/Meshes/WebGPU/webgpuDataBuffer.ts
Labels: new feature, WebGPU

#13885 Mesh: Fix billboards in right-handed systems
  packages/dev/core/src/Meshes/transformNode.ts
Labels: bug, rendering engine

#13888 Pre-Pass renderer: Fix scene.isReady when using the prepass renderer
  packages/dev/core/src/Lights/Shadows/cascadedShadowGenerator.ts
  packages/dev/core/src/Lights/Shadows/shadowGenerator.ts
  packages/dev/core/src/Materials/materialDefines.ts
  packages/dev/core/src/Meshes/mesh.ts
  packages/dev/core/src/Rendering/prePassRenderer.ts
  packages/dev/core/src/scene.ts
Labels: bug, rendering engine

#13890 [GUI] Fix the underline/strike-through line to use the color of the text when there is no outline.
  packages/dev/gui/src/2D/controls/textBlock.ts
Labels: bug, gui

#13895 MultiRenderTarget: Fix texture size calculation
  packages/dev/core/src/Materials/Textures/multiRenderTarget.ts
  packages/dev/core/src/Materials/Textures/renderTargetTexture.ts
Labels: bug, materials

#13893 [Inspector] Prevent crashing when a mesh's name is of the wrong type.
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/parentPropertyGridComponent.tsx
  packages/dev/inspector/src/components/sceneExplorer/entities/meshTreeItemComponent.tsx
Labels: bug, inspector

#13896 Scene: Make sure the layers are ready in scene.isReady
  packages/dev/core/src/Layers/layer.ts
  packages/dev/core/src/scene.ts
Labels: bug, rendering engine

#13903 Fix typo in files input class
  packages/dev/core/src/Misc/filesInput.ts
Labels: bug

#13904 [ACE] Add Backspace key to delete keyframe so it works on Mac
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/animationCurveEditorComponent.tsx
Labels: bug, ace

#13905 Pre-pass renderer: Fix bloom and depth renderer
  packages/dev/core/src/Engines/engine.ts
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/ssrRenderingPipeline.ts
  packages/dev/core/src/Rendering/depthRenderer.ts
Labels: bug, rendering engine

#13906 Effect layer: Intensity also affects emissive color
  packages/dev/core/src/Shaders/glowMapGeneration.fragment.fx
Labels: rendering engine, new feature

#13908 WebGPU: Support the flat qualifier on varyings
  packages/dev/core/src/Engines/Processors/iShaderProcessor.ts
  packages/dev/core/src/Engines/Processors/shaderCodeNode.ts
  packages/dev/core/src/Engines/WebGL/webGL2ShaderProcessors.ts
  packages/dev/core/src/Engines/WebGPU/webgpuShaderProcessorsGLSL.ts
Labels: bug, rendering engine, WebGPU

#13910 Fix sound distance not respecting Scene `audioListenerProvider` when set
  packages/dev/core/src/Audio/sound.ts
Labels: bug

#13911 Bone look controller: Add useAbsoluteValueForYaw property
  packages/dev/core/src/Bones/boneLookController.ts
Labels: new feature, bones

#13915 Inspector fix parenting
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/parentPropertyGridComponent.tsx
Labels: bug, inspector

#13913 Physics fix getEventMask
  packages/dev/core/src/Physics/v2/Plugins/havokPlugin.ts
Labels: bug, physics

#13917 SSR: add the useFresnel property to generate more physically accurate results
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/ssrRenderingPipeline.ts
  packages/dev/core/src/Shaders/ShadersInclude/screenSpaceRayTrace.fx
  packages/dev/core/src/Shaders/screenSpaceReflection2.fragment.fx
  packages/dev/core/src/Shaders/screenSpaceReflection2BlurCombiner.fragment.fx
Labels: rendering engine, new feature

#13918 Havok Physics Plugin: Fix applied impulse in Collision Event
  packages/dev/core/src/Physics/v2/Plugins/havokPlugin.ts
Labels: bug, physics

#13921 Fix #13907
  packages/dev/core/src/Meshes/Builders/textBuilder.ts
Labels: skip changelog

#13919 [Physics] Fix type checking for mesh parameter in aggregate
  packages/dev/core/src/Physics/v2/physicsAggregate.ts
Labels: bug, physics

#13923 NME fix input style.
  packages/dev/sharedUiComponents/src/nodeGraphSystem/graphCanvas.tsx
Labels: skip changelog
