Repository BabylonJS/Babylon.js, pull requests merged in 2023-07, with the labels that each got.

#14019 [Physics] Avoid cloning physics body twice and set body properties when cloning
  packages/dev/core/src/Meshes/mesh.ts
  packages/dev/core/src/Physics/v2/physicsBody.ts
Labels: bug, physics

#14021 Engine: Fix crash when disposing effect or engine while shader compiled in parallel
  packages/dev/core/src/Engines/WebGL/webGLPipelineContext.ts
  packages/dev/core/src/Engines/thinEngine.ts
Labels: bug, rendering engine

#14022 [Physics] Reset body and body index on PhysicsRaycastResult
  packages/dev/core/src/Physics/physicsRaycastResult.ts
Labels: bug, physics

#14023 Water material: Add removeFromRenderList method
  packages/dev/materials/src/water/waterMaterial.ts
Labels: enhancement, materials

#14027 Picking: Fix ray picking when using reverse depth buffer
  packages/dev/core/src/Culling/ray.ts
Labels: bug, picking

#14028 [Inspector] When changing relevant properties on the Camera, Light an…
  packages/dev/inspector/src/components/sceneExplorer/entities/cameraTreeItemComponent.tsx
  packages/dev/inspector/src/components/sceneExplorer/entities/lightTreeItemComponent.tsx
  packages/dev/inspector/src/components/sceneExplorer/entities/meshTreeItemComponent.tsx
Labels: bug, inspector

#14029 [Build] UMD - compile from source, force es5
  packages/dev/buildTools/src/pathTransform.ts
  packages/public/@babylonjs/core/package.json
  packages/public/umd/babylonjs-loaders/package.json
  packages/public/umd/babylonjs-loaders/tsconfig.build.json
  packages/public/umd/babylonjs-loaders/webpack.config.js
  packages/public/umd/babylonjs-materials/package.json
  packages/public/umd/babylonjs-materials/tsconfig.build.json
  packages/public/umd/babylonjs-materials/webpack.config.js
  packages/public/umd/babylonjs-post-process/package.json
  packages/public/umd/babylonjs-post-process/tsconfig.build.json
  packages/public/umd/babylonjs-post-process/webpack.config.js
  packages/public/umd/babylonjs-procedural-textures/package.json
  packages/public/umd/babylonjs-procedural-textures/tsconfig.build.json
  packages/public/umd/babylonjs-procedural-textures/webpack.config.js
  packages/public/umd/babylonjs-serializers/package.json
  packages/public/umd/babylonjs-serializers/tsconfig.build.json
  packages/public/umd/babylonjs-serializers/webpack.config.js
  packages/public/umd/babylonjs/package.json
  packages/public/umd/babylonjs/tsconfig.build.json
  packages/public/umd/babylonjs/webpack.config.js
Labels: skip changelog

#14025 Material: Adds a property to define the relative order in which decals and detailed maps are rendered
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
  packages/dev/core/src/Materials/PBR/pbrMaterial.ts
  packages/dev/core/src/Materials/materialHelper.ts
  packages/dev/core/src/Materials/standardMaterial.ts
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockAlbedoOpacity.fx
  packages/dev/core/src/Shaders/default.fragment.fx
Labels: enhancement, materials

#14036 GPU particle systems: Fix current active count
  packages/dev/core/src/Particles/gpuParticleSystem.ts
Labels: bug, particles

#14046 Effect layer stencil
  packages/dev/core/src/Layers/effectLayer.ts
  packages/dev/core/src/Layers/glowLayer.ts
Labels: enhancement, rendering engine

#14037 [XR] Input transformation should be applied during the XR loop
  packages/dev/core/src/Cameras/freeCamera.ts
  packages/dev/core/src/Cameras/targetCamera.ts
  packages/dev/core/src/XR/features/WebXRControllerMovement.ts
  packages/dev/core/src/XR/webXRCamera.ts
Labels: bug, VR/AR/XR

#14041 Fix SerializeMesh method to account for non-mesh ob…
  packages/dev/core/src/Meshes/mesh.ts
  packages/dev/core/src/Meshes/trailMesh.ts
  packages/dev/core/src/Misc/sceneSerializer.ts
  packages/dev/core/src/scene.ts
  packages/dev/core/test/unit/Meshes/babylon.positionAndRotation.test.ts
  packages/dev/core/test/unit/Scene/babylon.sceneSerializer.test.ts
  packages/tools/tests/test/visualization/ReferenceImages/SerializeMesh with hierarchy.png
  packages/tools/tests/test/visualization/config.json
Labels: bug, exporters

#14049 Shaders: Fix shader parsing
  packages/dev/core/src/Engines/Processors/shaderCodeCursor.ts
  packages/dev/core/src/Materials/Node/Blocks/Fragment/perturbNormalBlock.ts
Labels: bug, rendering engine

#14048 Fix setting spatial sound option to false
  packages/dev/core/src/Audio/sound.ts
  packages/dev/core/test/unit/Audio/sound.test.ts
Labels: bug

#14050 Fix regression from 14037
  packages/dev/core/src/Cameras/freeCamera.ts
  packages/dev/core/src/Cameras/targetCamera.ts
Labels: skip changelog

#14053 ParticleSystem: Fix update function when particle array is not internal array
  packages/dev/core/src/Particles/particleSystem.ts
Labels: bug, particles

#14051 fix `Bone.returnToRest()`, `Bone.updateMatrix()` does not work properly
  packages/dev/core/src/Bones/bone.ts
Labels: bug, animations

#14059 Screenshot tools: Fallback on regular canvas if offscreen canvas not supported
  packages/dev/core/src/Misc/dumpTools.ts
Labels: enhancement, rendering engine

#14058 Fix invalidateRect of a Rectangle Control with thickness
  packages/dev/gui/src/2D/controls/control.ts
  packages/dev/gui/src/2D/controls/rectangle.ts
Labels: bug, gui

#14057 Animations: Add a weight property to AnimationGroup
  packages/dev/core/src/Animations/animationGroup.ts
Labels: enhancement, animations

#14052 Animations: Add support for animatable and animation group ordering
  packages/dev/core/src/Animations/animatable.ts
  packages/dev/core/src/Animations/animationGroup.ts
Labels: animations, new feature

#14062 AnimationGroup: Add MergeAnimationGroups method
  packages/dev/core/src/Animations/animationGroup.ts
Labels: animations, new feature

#14065 FreeCameraMouseInput: Reset Active pointerId when detaching controls
  packages/dev/core/src/Cameras/Inputs/freeCameraMouseInput.ts
  packages/dev/core/test/unit/DeviceInput/babylon.inputManager.test.ts
Labels: bug, inputs

#14067 PBR: Fix doc for the metallicReflectanceColor property
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
  packages/dev/core/src/Materials/PBR/pbrMaterial.ts
Labels: skip changelog

#14068 AnimationGroup: add enableBlending method
  packages/dev/core/src/Animations/animationGroup.ts
  packages/dev/core/src/Animations/runtimeAnimation.ts
Labels: enhancement, animations

#14070 Raw textures: Add creationFlags parameter for 3D and 2DArray texture creation
  packages/dev/core/src/Materials/Textures/rawTexture2DArray.ts
  packages/dev/core/src/Materials/Textures/rawTexture3D.ts
Labels: enhancement, texture

#14079 NME: Generate code for "mode" property
  packages/dev/core/src/Materials/Node/nodeMaterial.ts
Labels: enhancement, nme

#14080 SpotLight: Fix projection texture matrix not computed in world space
  packages/dev/core/src/Lights/spotLight.ts
Labels: bug, rendering engine

#14073 preparation for NOTICE changes in public packages
  packages/public/@babylonjs/core/NOTICE.md
  packages/public/@babylonjs/core/package.json
  packages/public/umd/babylonjs/NOTICE.md
Labels: skip changelog

#14085 Delete what's new.md
  what's new.md
Labels: skip changelog

#14088 Add extra conditions for outParams declarations in PBR block shaders
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockAmbientOcclusion.fx
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockAnisotropic.fx
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockClearcoat.fx
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockReflectivity.fx
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockSheen.fx
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockSubSurface.fx
Labels: skip changelog

#14092 Effect renderer: Restore the right values for the depth and stencil states
  packages/dev/core/src/Materials/effectRenderer.ts
Labels: bug, rendering engine

#14093 Fix inertia view of parented bodies
  packages/dev/core/src/Debug/physicsViewer.ts
Labels: bug, physics
