Repository BabylonJS/Babylon.js, pull requests merged in 2025-07, with the labels that each got.

#16836 Body MotionType stored on plugin side
  packages/dev/core/src/Physics/v2/physicsBody.ts
Labels: skip changelog

#16841 Inspector v2: Handle scene explorer mutations + some bug fixes
  packages/dev/inspector-v2/src/components/properties/commonGeneralProperties.tsx
  packages/dev/inspector-v2/src/components/properties/lights/shadowGeneratorSetupProperties.tsx
  packages/dev/inspector-v2/src/components/properties/meshAdvancedProperties.tsx
  packages/dev/inspector-v2/src/components/properties/meshGeneralProperties.tsx
  packages/dev/inspector-v2/src/components/properties/meshOutlineOverlayProperties.tsx
  packages/dev/inspector-v2/src/components/properties/nodeGeneralProperties.tsx
  packages/dev/inspector-v2/src/components/properties/spriteTransformProperties.tsx
  packages/dev/inspector-v2/src/components/properties/transformProperties.tsx
  packages/dev/inspector-v2/src/components/scene/sceneExplorer.tsx
  packages/dev/inspector-v2/src/components/stats/countStats.tsx
  packages/dev/inspector-v2/src/hooks/compoundPropertyHooks.ts
  packages/dev/inspector-v2/src/hooks/observableHooks.ts
  packages/dev/inspector-v2/src/services/panes/properties/propertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/materialExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/nodeExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/skeletonExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/spriteManagerExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/texturesExplorerService.tsx
  packages/dev/sharedUiComponents/src/fluent/primitives/colorPicker.tsx
  packages/tools/playground/src/components/rendererComponent.tsx
Labels: inspector

#16845 gizmo mem leak
  packages/dev/core/src/Gizmos/boundingBoxGizmo.ts
Labels: gizmos

#16839 Fix overlapping audio parameter ramps
  packages/dev/core/src/AudioV2/webAudio/components/webAudioParameterComponent.ts
  packages/dev/core/src/AudioV2/webAudio/subNodes/spatialWebAudioSubNode.ts
  packages/dev/core/src/AudioV2/webAudio/subProperties/spatialWebAudioListener.ts
  packages/dev/core/src/AudioV2/webAudio/webAudioEngine.ts
  packages/tools/babylonServer/public/audiov2-test.js
  packages/tools/tests/test/audioV2/shared/abstractAudioNode.volume.ts
  packages/tools/tests/test/audioV2/utils/audioV2.utils.ts
Labels: bug, audio

#16785 Support for back stencil configuration + blend configuration per target + dual source blending
  packages/dev/core/src/Debug/directionalLightFrustumViewer.ts
  packages/dev/core/src/Engines/AbstractEngine/abstractEngine.alpha.ts
  packages/dev/core/src/Engines/AbstractEngine/abstractEngine.states.ts
  packages/dev/core/src/Engines/AbstractEngine/abstractEngine.stencil.ts
  packages/dev/core/src/Engines/AbstractEngine/index.ts
  packages/dev/core/src/Engines/Extensions/engine.alpha.ts
  packages/dev/core/src/Engines/WebGL/webGL2ShaderProcessors.ts
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.alpha.ts
  packages/dev/core/src/Engines/WebGPU/webgpuCacheRenderPipeline.ts
  packages/dev/core/src/Engines/WebGPU/webgpuShaderProcessorsWGSL.ts
  packages/dev/core/src/Engines/WebGPU/webgpuStencilStateComposer.ts
  packages/dev/core/src/Engines/abstractEngine.ts
  packages/dev/core/src/Engines/constants.ts
  packages/dev/core/src/Engines/engine.ts
  packages/dev/core/src/Engines/engineCapabilities.ts
  packages/dev/core/src/Engines/nativeEngine.ts
  packages/dev/core/src/Engines/nullEngine.ts
  packages/dev/core/src/Engines/thinEngine.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/dev/core/src/FrameGraph/Tasks/PostProcesses/passTask.ts
  packages/dev/core/src/FrameGraph/Tasks/Rendering/objectRendererTask.ts
  packages/dev/core/src/FrameGraph/Tasks/Rendering/shadowGeneratorTask.ts
  packages/dev/core/src/FrameGraph/Tasks/Rendering/taaObjectRendererTask.ts
  packages/dev/core/src/FrameGraph/Tasks/Texture/clearTextureTask.ts
  packages/dev/core/src/FrameGraph/frameGraph.ts
  packages/dev/core/src/FrameGraph/frameGraphContext.ts
  packages/dev/core/src/FrameGraph/frameGraphRenderContext.ts
  packages/dev/core/src/FrameGraph/frameGraphUtils.ts
  packages/dev/core/src/FrameGraph/index.ts
  packages/dev/core/src/LibDeclarations/webgl2.d.ts
  packages/dev/core/src/Materials/material.ts
  packages/dev/core/src/Materials/materialStencilState.ts
  packages/dev/core/src/Meshes/mesh.ts
  packages/dev/core/src/PostProcesses/thinPassPostProcess.ts
  packages/dev/core/src/Rendering/outlineRenderer.ts
  packages/dev/core/src/Shaders/lod.fragment.fx
  packages/dev/core/src/ShadersWGSL/lod.fragment.fx
  packages/dev/core/src/States/IStencilState.ts
  packages/dev/core/src/States/alphaCullingState.ts
  packages/dev/core/src/States/stencilState.ts
  packages/dev/core/src/States/stencilStateComposer.ts
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/lights/directionalLightPropertyGridComponent.tsx
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/materials/commonMaterialPropertyGridComponent.tsx
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/meshes/meshPropertyGridComponent.tsx
  packages/dev/inspector/src/components/globalState.ts
  packages/dev/inspector/src/components/sceneExplorer/entities/sceneTreeItemComponent.tsx
  packages/dev/sharedUiComponents/src/lines/hexLineComponent.tsx
Labels: rendering engine, new feature

#16855 typo fix
  packages/dev/core/src/Behaviors/Cameras/framingBehavior.ts
Labels: skip changelog

#16842 WebGPU: Fix wrong instances displayed in custom RTT
  packages/dev/core/src/Meshes/instancedMesh.ts
  packages/dev/core/src/Meshes/mesh.ts
  packages/dev/core/src/Misc/snapshotRenderingHelper.ts
  packages/dev/core/src/Rendering/edgesRenderer.ts
  packages/dev/core/src/Rendering/geometryBufferRenderer.ts
Labels: bug, rendering engine, WebGPU

#16856 FrameGraph: Fix scene in wrong state when rendering objects with frame graphs
  packages/dev/core/src/FrameGraph/frameGraphRenderContext.ts
  packages/dev/core/src/scene.ts
Labels: bug, frame graph

#16859 Inspector v2: Various minor cleanup
  packages/dev/inspector-v2/src/components/properties/commonGeneralProperties.tsx
  packages/dev/inspector-v2/src/inspector.tsx
  packages/dev/inspector-v2/src/services/panes/properties/bonePropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/meshPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/transformPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/texturesExplorerService.tsx
  packages/dev/inspector-v2/test/app/index.ts
Labels: inspector, skip changelog

#16864 Inspector v2: Rendering Pipelines in Scene Explorer
  packages/dev/core/src/PostProcesses/RenderPipeline/postProcessRenderPipeline.ts
  packages/dev/core/src/PostProcesses/RenderPipeline/postProcessRenderPipelineManager.ts
  packages/dev/inspector-v2/src/components/properties/commonGeneralProperties.tsx
  packages/dev/inspector-v2/src/inspector.tsx
  packages/dev/inspector-v2/src/instrumentation/propertyInstrumentation.ts
  packages/dev/inspector-v2/src/services/panes/scene/renderingPipelinesExplorerService.tsx
Labels: inspector

#16871 Inspector v2: Animation Groups in Scene Explorer
  packages/dev/core/src/Animations/animationGroup.ts
  packages/dev/inspector-v2/src/inspector.tsx
  packages/dev/inspector-v2/src/instrumentation/propertyInstrumentation.ts
  packages/dev/inspector-v2/src/services/panes/scene/animationGroupExplorerService.tsx
Labels: inspector

#16870 Fix IES texture sampling mode and Mipmaps generation
  packages/dev/core/src/Materials/Textures/Loaders/iesTextureLoader.ts
  packages/dev/core/src/Materials/Textures/thinTexture.ts
Labels: bug

#16878 Fix Billboard individual mode in RH
  packages/dev/core/src/Meshes/transformNode.ts
Labels: bug

#16879 Add support for Mesh Shape
  packages/dev/core/src/Particles/Node/Blocks/Emitters/index.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/meshShapeBlock.ts
  packages/tools/nodeParticleEditor/src/blockTools.ts
  packages/tools/nodeParticleEditor/src/components/nodeList/nodeListComponent.tsx
  packages/tools/nodeParticleEditor/src/graphSystem/properties/meshShapeNodePropertyComponent.tsx
  packages/tools/nodeParticleEditor/src/graphSystem/registerToPropertyLedger.ts
Labels: new feature, npe

#16885 Fix missing serialized comments for node editors
  packages/dev/core/src/FrameGraph/Node/nodeRenderGraphBlock.ts
  packages/dev/core/src/Meshes/Node/nodeGeometryBlock.ts
  packages/dev/core/src/Particles/Node/nodeParticleBlock.ts
Labels: bug, nme, nrge, npe

#16889 Link PS to NPS
  packages/dev/core/src/Particles/Node/nodeParticleSystemSet.ts
  packages/dev/core/src/Particles/particleSystem.ts
Labels: skip changelog, npe

#16882 Adding attractor to NPE
  packages/dev/core/src/Particles/Node/Blocks/Update/updateAttractorBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Update/updateFlowMapBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/index.ts
  packages/tools/nodeParticleEditor/src/blockTools.ts
  packages/tools/nodeParticleEditor/src/components/nodeList/nodeListComponent.tsx
Labels: new feature, npe

#16893 Remove unused audio `engine` doc params
  packages/dev/core/src/AudioV2/abstractAudio/audioEngineV2.ts
Labels: audio, skip changelog

#16891 Initial release for the Particle System to Node Particle System Set converter
  packages/dev/core/src/Particles/Node/Blocks/Emitters/IShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/boxShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/customShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/cylinderShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/meshShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/pointShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/sphereShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/systemBlock.ts
  packages/dev/core/src/Particles/Node/index.ts
  packages/dev/core/src/Particles/Node/nodeParticleSystemSet.helper.ts
  packages/dev/core/src/Particles/Node/nodeParticleSystemSet.ts
  packages/dev/core/src/Particles/particleSystem.ts
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/particleSystems/particleSystemPropertyGridComponent.tsx
  packages/tools/babylonServer/public/index-ts.html
  packages/tools/babylonServer/public/index.html
  packages/tools/babylonServer/webpack.config.js
Labels: skip changelog, npe

#16896 Inspector v2: Flesh out camera properties
  packages/dev/inspector-v2/src/components/properties/boundProperty.tsx
  packages/dev/inspector-v2/src/components/properties/cameras/arcRotateCameraProperties.tsx
  packages/dev/inspector-v2/src/components/properties/cameras/cameraProperties.tsx
  packages/dev/inspector-v2/src/components/properties/cameras/followCameraProperties.tsx
  packages/dev/inspector-v2/src/components/properties/cameras/freeCameraProperties.tsx
  packages/dev/inspector-v2/src/components/properties/cameras/targetCameraProperties.tsx
  packages/dev/inspector-v2/src/components/properties/sprites/spriteTransformProperties.tsx
  packages/dev/inspector-v2/src/hooks/settingsHooks.ts
  packages/dev/inspector-v2/src/inspector.tsx
  packages/dev/inspector-v2/src/services/panes/properties/cameraPropertiesService.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/propertyLines/syncedSliderPropertyLine.tsx
Labels: inspector

#16900 enum fix for ktx/basis
  packages/dev/core/src/Materials/Textures/ktx2decoderTypes.ts
Labels: bug, texture

#16905 Make sure svg sanitize avoid pure url
  packages/dev/gui/src/2D/controls/image.ts
  packages/tools/tests/test/visualization/ReferenceImages/GUI-Images-in-Grid.png
  packages/tools/tests/test/visualization/config.json
Labels: skip changelog

#16917 Inspector v2: Add useResource hook and use it to correctly manage some object lifetimes in stats
  packages/dev/inspector-v2/src/components/properties/animation/animationsProperties.tsx
  packages/dev/inspector-v2/src/components/stats/frameStepStats.tsx
  packages/dev/inspector-v2/src/hooks/resourceHooks.ts
Labels: inspector

#16916 Improved depth/stencil support in the engine and in frame graphs + miscellaneous
  packages/dev/core/src/Compute/computeShader.ts
  packages/dev/core/src/Engines/Extensions/engine.computeShader.ts
  packages/dev/core/src/Engines/IDrawContext.ts
  packages/dev/core/src/Engines/WebGPU/webgpuComputeContext.ts
  packages/dev/core/src/Engines/WebGPU/webgpuDrawContext.ts
  packages/dev/core/src/Engines/WebGPU/webgpuStencilStateComposer.ts
  packages/dev/core/src/Engines/abstractEngine.ts
  packages/dev/core/src/Engines/nativeEngine.ts
  packages/dev/core/src/Engines/renderTargetWrapper.ts
  packages/dev/core/src/Engines/thinEngine.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/dev/core/src/FrameGraph/Node/Blocks/PostProcesses/basePostProcessBlock.ts
  packages/dev/core/src/FrameGraph/Passes/renderPass.ts
  packages/dev/core/src/FrameGraph/Tasks/PostProcesses/postProcessTask.ts
  packages/dev/core/src/FrameGraph/Tasks/Texture/clearTextureTask.ts
  packages/dev/core/src/FrameGraph/frameGraphRenderContext.ts
  packages/dev/core/src/FrameGraph/frameGraphTextureManager.ts
  packages/dev/core/src/LibDeclarations/webgpu.d.ts
  packages/dev/core/src/Materials/drawWrapper.ts
  packages/dev/core/src/Materials/effectRenderer.ts
  packages/dev/core/src/Materials/index.ts
  packages/dev/core/src/States/index.ts
Labels: enhancement, rendering engine

#16925 Fix #16921
  packages/tools/nodeEditor/src/globalState.ts
  packages/tools/nodeEditor/src/graphSystem/display/debugDisplayManager.ts
  packages/tools/nodeEditor/src/graphSystem/properties/debugNodePropertyTabComponent.tsx
Labels: nme, skip changelog

#16924 Fix submesh identification with picking octrees
  packages/dev/core/src/Collisions/intersectionInfo.ts
  packages/dev/core/src/Meshes/abstractMesh.ts
Labels: bug

#16941 [Fluent/InspectorV2] StringifiedPropertyLine
  packages/dev/inspector-v2/src/components/properties/commonGeneralProperties.tsx
  packages/dev/inspector-v2/src/components/properties/skeleton/skeletonProperties.tsx
  packages/dev/inspector-v2/src/components/stats/countStats.tsx
  packages/dev/inspector-v2/src/components/stats/frameStepStats.tsx
  packages/dev/inspector-v2/src/components/stats/statsPane.tsx
  packages/dev/inspector-v2/src/components/stats/systemStats.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/propertyLines/stringifiedPropertyLine.tsx
Labels: inspector, tools

#16942 [Fluent] Add Vector2PropertyLine
  packages/dev/sharedUiComponents/src/fluent/hoc/propertyLines/vectorPropertyLine.tsx
Labels: inspector, tools

#16937 Inspector v2: Texture properties + MakeAsyncComponent
  packages/dev/inspector-v2/src/components/extensibleAccordion.tsx
  packages/dev/inspector-v2/src/components/properties/textures/advancedDynamicTextureProperties.tsx
  packages/dev/inspector-v2/src/components/properties/textures/baseTextureProperties.tsx
  packages/dev/inspector-v2/src/components/properties/textures/cubeTextureProperties.tsx
  packages/dev/inspector-v2/src/components/properties/textures/multiRenderTargetProperties.tsx
  packages/dev/inspector-v2/src/components/properties/textures/renderTargetTextureProperties.tsx
  packages/dev/inspector-v2/src/components/properties/textures/textureFormatUtils.ts
  packages/dev/inspector-v2/src/components/properties/textures/textureProperties.tsx
  packages/dev/inspector-v2/src/components/properties/textures/thinTextureProperties.tsx
  packages/dev/inspector-v2/src/inspector.tsx
  packages/dev/inspector-v2/src/services/panes/properties/propertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/texturePropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/texturesExplorerService.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/propertyLines/booleanBadgePropertyLine.tsx
  packages/dev/sharedUiComponents/src/fluent/primitives/lazyComponent.tsx
Labels: inspector

#16943 Inspector v2: Make properties services and component structure consistent and stub out services for the rest of the entity types
  packages/dev/inspector-v2/src/components/properties/lights/areaLightProperties.tsx
  packages/dev/inspector-v2/src/components/properties/lights/directionalLightProperties.tsx
  packages/dev/inspector-v2/src/components/properties/lights/hemisphericLightProperties.tsx
  packages/dev/inspector-v2/src/components/properties/lights/pointLightProperties.tsx
  packages/dev/inspector-v2/src/components/properties/lights/shadowGeneratorProperties.tsx
  packages/dev/inspector-v2/src/components/properties/lights/shadowLightProperties.tsx
  packages/dev/inspector-v2/src/components/properties/lights/spotLightProperties.tsx
  packages/dev/inspector-v2/src/components/properties/materials/materialProperties.tsx
  packages/dev/inspector-v2/src/components/properties/mesh/meshAdvancedProperties.tsx
  packages/dev/inspector-v2/src/components/properties/mesh/meshGeneralProperties.tsx
  packages/dev/inspector-v2/src/components/properties/mesh/meshOutlineOverlayProperties.tsx
  packages/dev/inspector-v2/src/components/properties/nodeGeneralProperties.tsx
  packages/dev/inspector-v2/src/components/properties/nodes/abstractMeshProperties.tsx
  packages/dev/inspector-v2/src/components/properties/nodes/nodeProperties.tsx
  packages/dev/inspector-v2/src/inspector.tsx
  packages/dev/inspector-v2/src/services/panes/properties/effectLayerPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/frameGraphPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/lightPropertiesServices.tsx
  packages/dev/inspector-v2/src/services/panes/properties/materialPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/meshPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/nodePropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/postProcessPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/renderingPipelinePropertiesService.tsx
Labels: inspector

#16849 Fix RH camera inputs
  packages/dev/core/src/Cameras/Inputs/flyCameraMouseInput.ts
  packages/dev/core/src/Cameras/Inputs/freeCameraMouseInput.ts
  packages/dev/core/src/Cameras/Inputs/freeCameraTouchInput.ts
Labels: bug
