Repository BabylonJS/Babylon.js, pull requests merged in 2025-09, with the labels that each got.

#17095 FrameGraph: Disposes of frame graphs when the scene is disposed
  packages/dev/core/src/FrameGraph/frameGraph.ts
  packages/dev/core/src/scene.ts
Labels: bug, frame graph

#17096 SSAO2: Fix artifacts when using an off-center frustum with an orthographic camera
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/ssao2RenderingPipeline.ts
  packages/dev/core/src/Shaders/ssao2.fragment.fx
  packages/dev/core/src/ShadersWGSL/ssao2.fragment.fx
Labels: bug, post-process

#17097 Back from vacation fixes
  packages/dev/core/src/Gizmos/planeDragGizmo.ts
  packages/dev/core/src/Meshes/GaussianSplatting/gaussianSplattingMesh.ts
Labels: skip changelog

#17088 Use scene offlineprovider for cubecreation
  packages/dev/core/src/Engines/AbstractEngine/abstractEngine.cubeTexture.ts
  packages/dev/core/src/Engines/abstractEngine.functions.ts
  packages/dev/core/src/Engines/abstractEngine.ts
  packages/dev/core/src/Misc/fileTools.ts
Labels: skip changelog

#17112 FrameGraph: Fix of incorrectly rendered bounding boxes and outlines in geometry textures
  packages/dev/core/src/FrameGraph/Node/Blocks/Rendering/baseObjectRendererBlock.ts
  packages/dev/core/src/FrameGraph/Node/Blocks/Rendering/geometryRendererBlock.ts
  packages/dev/core/src/FrameGraph/Tasks/Rendering/geometryRendererTask.ts
  packages/dev/core/src/FrameGraph/Tasks/Rendering/objectRendererTask.ts
  packages/dev/core/src/Materials/Textures/renderTargetTexture.ts
  packages/dev/core/src/Rendering/objectRenderer.ts
  packages/dev/core/src/Rendering/outlineRenderer.ts
Labels: bug, frame graph

#17109 Ensure bone's absolute matrix is updated when dirty
  packages/dev/core/src/Bones/bone.ts
Labels: bug

#17116 SSAO2: Allow passing an existing instance of a geometry buffer renderer
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/ssao2RenderingPipeline.ts
Labels: new feature, post-process

#17106 Inspector v2: metadata cleanup
  packages/dev/inspector-v2/src/components/properties/metadataProperties.tsx
  packages/dev/sharedUiComponents/src/fluent/primitives/switch.tsx
Labels: inspector, skip changelog

#17124 Adding visual tests using the devhost
  package.json
  packages/dev/lottiePlayer/src/localPlayer.ts
  packages/dev/lottiePlayer/src/player.ts
  packages/tools/devHost/public/index.html
  packages/tools/devHost/src/index.ts
  packages/tools/devHost/src/lottie/main.ts
  packages/tools/devHost/src/testScene/main.ts
  packages/tools/testTools/src/index.ts
  packages/tools/tests/playwright.utils.ts
  packages/tools/tests/test/playwright/visualization.lottie.test.ts
  packages/tools/tests/test/playwright/visualization.webgl2.test.ts
  packages/tools/tests/test/playwright/visualizationPlaywright.devhost.utils.ts
  packages/tools/tests/test/visualization/ReferenceImages/text-main-json.png
  packages/tools/tests/test/visualization/ReferenceImages/text-main-url.png
  packages/tools/tests/test/visualization/ReferenceImages/text-worker-json.png
  packages/tools/tests/test/visualization/ReferenceImages/text-worker-url.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-noParents-cross-main-json.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-noParents-cross-main-url.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-noParents-cross-worker-json.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-noParents-cross-worker-url.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-noParents-main-json.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-noParents-main-url.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-noParents-worker-json.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-noParents-worker-url.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-redParent-cross-main-json.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-redParent-cross-main-url.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-redParent-cross-worker-json.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-redParent-cross-worker-url.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-text-main-json.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-text-main-url.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-text-worker-json.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-text-worker-url.png
  packages/tools/tests/test/visualization/config.lottie.json
  playwright.config.ts
  playwright.devhost.config.ts
Labels: tests

#17127 ESLint: Fix a couple issues in the cross package relative import custom rule
  packages/tools/eslintBabylonPlugin/src/index.ts
Labels: bug, build, tools

#17130 Fix MergeMeshes issues with multimaterials
  packages/dev/core/src/Meshes/mesh.ts
Labels: bug

#17131 Depth Renderer: Allows a custom RTT to be passed through the constructor
  packages/dev/core/src/Rendering/depthRenderer.ts
  packages/dev/core/src/Rendering/depthRendererSceneComponent.ts
Labels: rendering engine, new feature

#17132 Inspector v2: Use Collapse for "shell" pane collapse/expand
  packages/dev/inspector-v2/src/services/shellService.tsx
Labels: inspector, skip changelog

#17142 Updating playwright config for devhost tests
  playwright.devhost.config.ts
Labels: enhancement

#17149 TAARenderingPipeline: Add a comment about the pipeline creation location
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/taaRenderingPipeline.ts
Labels: skip changelog

#17150 Fix legacy audio engine dispose issue
  packages/dev/core/src/Audio/audioEngine.ts
  packages/tools/tests/test/audioV2/legacy.test.ts
  packages/tools/tests/test/audioV2/utils/audioV2.utils.ts
Labels: bug, audio

#17152 Add support for local load and save in the PG
  packages/tools/playground/public/imgs/saveLocal.svg
  packages/tools/playground/src/components/commandBarComponent.tsx
  packages/tools/playground/src/globalState.ts
  packages/tools/playground/src/scss/commandBar.scss
  packages/tools/playground/src/tools/loadManager.ts
  packages/tools/playground/src/tools/saveManager.ts
Labels: Playground, new feature

#17168 OBJFileLoader: Update defaults for missing mesh attributes
  packages/dev/loaders/src/OBJ/solidParser.ts
  packages/tools/tests/test/visualization/ReferenceImages/objTestLoader.png
  packages/tools/tests/test/visualization/ReferenceImages/objTestLoaderLegacy.png
Labels: breaking change

#17178 Disable chunking for umd builds
  packages/dev/buildTools/src/webpackTools.ts
Labels: bug, build

#17181 missing splat normalization
  packages/dev/core/src/Meshes/GaussianSplatting/gaussianSplattingMesh.ts
Labels: bug

#17195 OpenPBR: Fix albedo sampler name
  packages/dev/core/src/Shaders/openpbr.vertex.fx
  packages/dev/core/src/ShadersWGSL/openpbr.vertex.fx
Labels: bug, openpbr

#17206 Clustered lights: Fix crash when disposing lights
  packages/dev/core/src/Materials/PBR/openPbrMaterial.ts
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
  packages/dev/core/src/Materials/materialHelper.functions.ts
  packages/dev/core/src/Materials/standardMaterial.ts
  packages/dev/core/src/Shaders/ShadersInclude/lightFragment.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/lightsFragmentFunctions.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/pbrDirectLightingFunctions.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/pbrFragmentExtraDeclaration.fx
  packages/dev/core/src/ShadersWGSL/default.fragment.fx
  packages/dev/core/src/ShadersWGSL/default.vertex.fx
  packages/dev/core/src/ShadersWGSL/pbr.vertex.fx
Labels: bug, materials

#17210 Allow MSDF users to provide their layout engine
  packages/dev/addons/src/msdfText/paragraphOptions.ts
  packages/dev/addons/src/msdfText/sdf/paragraph.ts
Labels: new feature

#17197 Internally expose _panningEpsilon and _rotationEpsilon which are used to calculate inertial limit
  packages/dev/core/src/Cameras/arcRotateCamera.ts
  packages/dev/core/src/Cameras/targetCamera.ts
Labels: bug, inputs

#17199 gltfLoader: fully respect the skipMaterials flag
  packages/dev/loaders/src/glTF/2.0/Extensions/MSFT_minecraftMesh.ts
  packages/dev/loaders/src/glTF/2.0/glTFLoader.ts
Labels: bug
