Repository BabylonJS/Babylon.js, pull requests merged in 2025-06, with the labels that each got.

#16701 Fix nasty bug
  packages/dev/core/src/Animations/runtimeAnimation.ts
Labels: bug, skip changelog

#16699 shape accessor for CharacterController
  packages/dev/core/src/Physics/v2/characterController.ts
Labels: skip changelog

#16705 Fix inspector bugs where animation target name gets cut off and clicking on it does not link to target
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/animations/targetedAnimationPropertyGridComponent.tsx
  packages/dev/sharedUiComponents/src/lines/textLineComponent.tsx
Labels: bug, inspector

#16707 Viewer: Switch from ShadowOnlyMaterial to BackgroundMaterial
  packages/dev/core/src/ShadersWGSL/background.fragment.fx
  packages/public/@babylonjs/viewer/package.json
  packages/tools/viewer/src/viewer.ts
Labels: viewer

#16711 Viewer Configurator: Add shadows to Viewer Configurator
  packages/tools/viewer-configurator/src/components/configurator/configurator.tsx
  packages/tools/viewer/src/index.ts
  packages/tools/viewer/src/viewer.ts
Labels: new feature, tools

#16712 Viewer: Add missing element event for shadows config
  packages/tools/viewer/src/viewerElement.ts
Labels: bug, viewer

#16715 WebGPU: Fix wrong display in fast snapshot mode
  packages/dev/core/src/Materials/uniformBuffer.ts
Labels: bug, WebGPU

#16728 Fix regression with TargetCamera.setTarget
  packages/dev/core/src/Cameras/targetCamera.ts
Labels: bug, skip changelog

#16746 NPE: Fix umd package reference in es6 build command
  package.json
Labels: skip changelog

#16761 Allow user to globally set the numMaxInfluencers
  packages/dev/core/src/Morph/morphTargetManager.ts
Labels: rendering engine, new feature

#16763 Add new utility function to set a camera FOV based on focal length
  packages/dev/core/src/Cameras/camera.ts
Labels: new feature

#16766 [Fluent] Add buttonLine, switchPropertyLine; Introduce noCopy mode for tools
  packages/dev/sharedUiComponents/src/fluent/hoc/buttonLine.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/fluentToolWrapper.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/propertyLine.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/switchPropertyLine.tsx
  packages/dev/sharedUiComponents/src/lines/buttonLineComponent.tsx
  packages/dev/sharedUiComponents/src/lines/checkBoxLineComponent.tsx
  packages/tools/nodeEditor/src/graphEditor.tsx
Labels: new feature, tools

#16767 Removing custom material variable inside of LineMesh
  packages/dev/core/src/Meshes/linesMesh.ts
Labels: bug

#16772 Inspector v2: Add support for toggle commands in scene explorer
  packages/dev/inspector-v2/src/components/scene/sceneExplorer.tsx
  packages/dev/inspector-v2/src/services/panes/properties/propertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/nodeExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/sceneExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/statsService.tsx
Labels: inspector

#16795 Inspector v2: Clear the selected item when it is disposed
  packages/dev/inspector-v2/src/services/selectionService.ts
Labels: inspector

#16797 Add WebAudio listener fallback implementation
  packages/dev/core/src/AudioV2/webAudio/subProperties/spatialWebAudioListener.ts
Labels: bug, audio

#16792 Add support for DebugPane and Settings pane for Inspector v2
  packages/dev/inspector-v2/package.json
  packages/dev/inspector-v2/src/components/debug/debugPane.tsx
  packages/dev/inspector-v2/src/components/properties/transformNodeTransformProperties.tsx
  packages/dev/inspector-v2/src/services/panes/debugService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/transformNodePropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/settingsService.tsx
  packages/dev/inspector-v2/src/services/settingsContext.ts
  packages/dev/inspector-v2/tsconfig.build.json
  packages/dev/inspector-v2/webpack.config.js
  packages/dev/sharedUiComponents/src/fluent/hoc/vectorPropertyLine.tsx
  packages/dev/sharedUiComponents/src/fluent/primitives/syncedSlider.tsx
  packages/tools/playground/webpack.config.js
Labels: inspector

#16807 Inspector v2: Handle extension install errors
  packages/dev/inspector-v2/src/extensibility/extensionManager.ts
  packages/dev/inspector-v2/src/modularTool.tsx
  packages/dev/inspector-v2/src/services/extensionsListService.tsx
  packages/dev/inspector-v2/src/themes/babylonTheme.ts
Labels: inspector

#16781 Add audio `setVolume` method with ramp duration and curve shape options
  packages/dev/core/src/AudioV2/abstractAudio/abstractAudioBus.ts
  packages/dev/core/src/AudioV2/abstractAudio/abstractAudioOutNode.ts
  packages/dev/core/src/AudioV2/abstractAudio/abstractSoundSource.ts
  packages/dev/core/src/AudioV2/abstractAudio/audioEngineV2.ts
  packages/dev/core/src/AudioV2/abstractAudio/index.ts
  packages/dev/core/src/AudioV2/abstractAudio/subNodes/volumeAudioSubNode.ts
  packages/dev/core/src/AudioV2/audioParameter.ts
  packages/dev/core/src/AudioV2/audioUtils.ts
  packages/dev/core/src/AudioV2/index.ts
  packages/dev/core/src/AudioV2/webAudio/components/webAudioParameterComponent.ts
  packages/dev/core/src/AudioV2/webAudio/subNodes/spatialWebAudioSubNode.ts
  packages/dev/core/src/AudioV2/webAudio/subNodes/stereoWebAudioSubNode.ts
  packages/dev/core/src/AudioV2/webAudio/subNodes/volumeWebAudioSubNode.ts
  packages/dev/core/src/AudioV2/webAudio/subProperties/spatialWebAudioListener.ts
  packages/dev/core/src/AudioV2/webAudio/webAudioEngine.ts
  packages/dev/core/src/AudioV2/webAudio/webAudioMainOut.ts
  packages/dev/core/src/AudioV2/webAudio/webAudioStaticSound.ts
  packages/tools/babylonServer/public/audiov2-test.js
  packages/tools/tests/test/audioV2/shared/abstractAudioNode.volume.ts
  packages/tools/tests/test/audioV2/shared/abstractSound.currentTime.ts
  packages/tools/tests/test/audioV2/utils/abstractAudioNode.utils.ts
  packages/tools/tests/test/audioV2/utils/audioV2.utils.ts
Labels: audio, new feature

#16810 Fix audio parameter doc comment
  packages/dev/core/src/AudioV2/audioParameter.ts
Labels: skip changelog

#16814 Custom irradiance shader hooks
  packages/dev/core/src/Shaders/ShadersInclude/hdrFilteringFunctions.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/hdrFilteringFunctions.fx
Labels: skip changelog

#16813 Inspector v2: Allow AccordionPane to have default content and use it in DebugService and SettingsService
  packages/dev/inspector-v2/src/components/accordionPane.tsx
  packages/dev/inspector-v2/src/components/debug/debugPane.tsx
  packages/dev/inspector-v2/src/services/panes/debugService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/propertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/settingsService.tsx
  packages/dev/inspector-v2/src/services/panes/statsService.tsx
  packages/dev/inspector-v2/src/services/panes/toolsService.tsx
  packages/dev/sharedUiComponents/src/fluent/primitives/accordion.tsx
Labels: inspector

#16818 [Fluent] Add QuaternionPropertyLine; route checkboxLineComponent to switch
  packages/dev/inspector-v2/src/components/properties/transformNodeTransformProperties.tsx
  packages/dev/inspector-v2/src/hooks/compoundPropertyHooks.ts
  packages/dev/sharedUiComponents/src/fluent/hoc/vectorPropertyLine.tsx
  packages/tools/nodeEditor/src/sharedComponents/checkBoxLineComponent.tsx
Labels: inspector, new feature, tools

#16816 Fix volume fade ramps
  packages/dev/core/src/AudioV2/audioUtils.ts
  packages/tools/tests/test/audioV2/shared/abstractAudioNode.volume.ts
Labels: bug, audio

#16799 Inspector V2: Initial port of the statistics pane
  packages/dev/core/src/LibDeclarations/browser.d.ts
  packages/dev/core/src/Misc/pressureObserverWrapper.ts
  packages/dev/inspector-v2/src/components/stats/countStats.tsx
  packages/dev/inspector-v2/src/components/stats/frameStepStats.tsx
  packages/dev/inspector-v2/src/components/stats/performanceStats.tsx
  packages/dev/inspector-v2/src/components/stats/statsPane.tsx
  packages/dev/inspector-v2/src/components/stats/systemStats.tsx
  packages/dev/inspector-v2/src/services/panes/statsService.tsx
  packages/dev/inspector-v2/webpack.config.js
  packages/dev/sharedUiComponents/src/fluent/primitives/accordion.tsx
Labels: inspector

#16828 Fix build break
  packages/dev/inspector-v2/src/components/properties/boneProperties.tsx
Labels: bug, skip changelog

#16831 Fixing a few issues with NPE
  packages/dev/core/src/Particles/Node/Blocks/index.ts
  packages/dev/core/src/Particles/Node/Blocks/particleGradientBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/particleRandomBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/randomRangeBlock.ts
  packages/dev/core/src/Particles/Node/nodeParticleSystemSet.ts
  packages/tools/nodeParticleEditor/src/blockTools.ts
  packages/tools/nodeParticleEditor/src/components/nodeList/nodeListComponent.tsx
Labels: npe

#16832 Fix rh issue with billboard
  packages/dev/core/src/Meshes/transformNode.ts
  packages/tools/tests/test/visualization/ReferenceImages/rh-billboard.png
  packages/tools/tests/test/visualization/ReferenceImages/rh-billboard2.png
  packages/tools/tests/test/visualization/config.json
Labels: geometry

#16825 Inspector v2: Sprites for scene and properties
  .vscode/launch.json
  packages/dev/core/src/Sprites/spriteManager.ts
  packages/dev/core/src/Sprites/spriteSceneComponent.ts
  packages/dev/inspector-v2/src/components/properties/boundProperty.tsx
  packages/dev/inspector-v2/src/components/properties/lights/shadowGeneratorSetupProperties.tsx
  packages/dev/inspector-v2/src/components/properties/spriteAnimationProperties.tsx
  packages/dev/inspector-v2/src/components/properties/spriteGeneralProperties.tsx
  packages/dev/inspector-v2/src/components/properties/spriteOtherProperties.tsx
  packages/dev/inspector-v2/src/components/properties/spriteTransformProperties.tsx
  packages/dev/inspector-v2/src/hooks/compoundPropertyHooks.ts
  packages/dev/inspector-v2/src/inspector.tsx
  packages/dev/inspector-v2/src/services/panes/properties/spritePropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/spriteManagerExplorerService.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/syncedSliderLine.tsx
Labels: inspector
