Repository BabylonJS/Babylon.js, pull requests merged in 2025-04, with the labels that each got.

#16432 NME: Fix wrong generated code for ColorConverter and ColorMerger
  packages/dev/core/src/Materials/Node/Blocks/colorConverterBlock.ts
  packages/dev/core/src/Materials/Node/Blocks/colorMergerBlock.ts
Labels: bug, nme

#16435 Fix lazy loaded property values in audio engine
  packages/dev/core/src/AudioV2/abstractAudio/subNodes/audioAnalyzerSubNode.ts
  packages/dev/core/src/AudioV2/abstractAudio/subNodes/spatialAudioSubNode.ts
  packages/dev/core/src/AudioV2/abstractAudio/subNodes/stereoAudioSubNode.ts
  packages/dev/core/src/AudioV2/abstractAudio/subProperties/audioAnalyzer.ts
  packages/dev/core/src/AudioV2/abstractAudio/subProperties/spatialAudio.ts
  packages/dev/core/src/AudioV2/abstractAudio/subProperties/stereoAudio.ts
Labels: bug, audio

#16438 ObjectRenderer: Fix backward compatibility break introduced with the renderInLinearSpace property
  packages/dev/core/src/Materials/Textures/renderTargetTexture.ts
  packages/dev/core/src/Rendering/objectRenderer.ts
Labels: bug, rendering engine

#16437 Add AudioEngineV2 state playwright tests
  packages/tools/tests/test/audioV2/audioEngineV2.state.test.ts
  playwright.config.ts
Labels: audio, skip changelog

#16439 Dispose managed material plugins on feature destruction
  packages/dev/core/src/XR/features/WebXRDepthSensing.ts
Labels: bug

#16442 PhysicsViewer, bbhelper fixes
  packages/dev/core/src/Culling/Helper/boundingInfoHelper.ts
  packages/dev/core/src/Debug/physicsViewer.ts
Labels: skip changelog

#16443 Post Processes: Fix scale being overwritten by default (1,1) values
  packages/dev/core/src/Materials/effectRenderer.ts
  packages/dev/core/src/PostProcesses/postProcess.ts
  packages/dev/core/src/PostProcesses/thinBlackAndWhitePostProcess.ts
  packages/dev/core/src/PostProcesses/thinBloomMergePostProcess.ts
  packages/dev/core/src/PostProcesses/thinBlurPostProcess.ts
  packages/dev/core/src/PostProcesses/thinChromaticAberrationPostProcess.ts
  packages/dev/core/src/PostProcesses/thinCircleOfConfusionPostProcess.ts
  packages/dev/core/src/PostProcesses/thinExtractHighlightsPostProcess.ts
  packages/dev/core/src/PostProcesses/thinSSRBlurCombinerPostProcess.ts
  packages/dev/core/src/PostProcesses/thinSSRBlurPostProcess.ts
  packages/dev/core/src/PostProcesses/thinSSRPostProcess.ts
  packages/dev/core/src/PostProcesses/thinTAAPostProcess.ts
Labels: bug, post-process

#16444 Add support for BasedOnInput connection point type in node port design
  packages/tools/nodeEditor/src/graphSystem/registerNodePortDesign.ts
Labels: bug

#16446 PBR: Add flags for translucency backward compatibility
  packages/dev/core/src/Materials/PBR/pbrSubSurfaceConfiguration.ts
  packages/dev/core/src/Shaders/ShadersInclude/lightFragment.fx
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockDirectLighting.fx
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockFinalUnlitComponents.fx
  packages/dev/core/src/Shaders/ShadersInclude/pbrDirectLightingFunctions.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/lightFragment.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/pbrBlockDirectLighting.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/pbrBlockFinalUnlitComponents.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/pbrDirectLightingFunctions.fx
Labels: enhancement, materials

#16457 CharCtrl setPosition teleporter
  packages/dev/core/src/Physics/v2/characterController.ts
Labels: enhancement

#16460 Frame Graph: Add image processing support
  packages/dev/core/src/FrameGraph/Node/Blocks/PostProcesses/imageProcessingPostProcessBlock.ts
  packages/dev/core/src/FrameGraph/Node/Blocks/Rendering/baseObjectRendererBlock.ts
  packages/dev/core/src/FrameGraph/Node/Blocks/index.ts
  packages/dev/core/src/FrameGraph/Tasks/PostProcesses/imageProcessingTask.ts
  packages/dev/core/src/FrameGraph/Tasks/Rendering/objectRendererTask.ts
  packages/dev/core/src/FrameGraph/Tasks/Rendering/taaObjectRendererTask.ts
  packages/dev/core/src/FrameGraph/index.ts
  packages/dev/core/src/Materials/Textures/renderTargetTexture.ts
  packages/dev/core/src/Materials/imageProcessingConfiguration.ts
  packages/dev/core/src/PostProcesses/imageProcessingPostProcess.ts
  packages/dev/core/src/PostProcesses/index.ts
  packages/dev/core/src/PostProcesses/thinChromaticAberrationPostProcess.ts
  packages/dev/core/src/PostProcesses/thinImageProcessingPostProcess.ts
  packages/dev/core/src/Rendering/objectRenderer.ts
  packages/dev/loaders/src/glTF/2.0/Extensions/KHR_materials_transmission.ts
  packages/tools/nodeRenderGraphEditor/src/blockTools.ts
  packages/tools/nodeRenderGraphEditor/src/components/nodeList/nodeListComponent.tsx
  packages/tools/tests/test/visualization/ReferenceImages/FrameGraph-image-processing.png
  packages/tools/tests/test/visualization/config.json
Labels: enhancement, frame graph

#16463 Fix double disconnect issue in `AbstractSound` class
  packages/dev/core/src/AudioV2/abstractAudio/abstractSound.ts
Labels: bug, audio

#16465 SandBox: Add support for .exr files
  packages/tools/sandbox/src/components/renderingZone.tsx
Labels: enhancement, sandbox

#16468 glTF Exporter: Missing node metadata export
  packages/dev/serializers/src/glTF/2.0/glTFExporter.ts
  packages/dev/serializers/src/glTF/2.0/glTFSerializer.ts
  packages/dev/serializers/test/integration/glTFSerializer.test.ts
Labels: breaking change

#16464 Add AudioEngineV2 listener playwright tests
  package.json
  packages/tools/babylonServer/public/audiov2-test.js
  packages/tools/testTools/src/index.ts
  packages/tools/tests/test/audioV2/audioEngineV2.listener.test.ts
  packages/tools/tests/test/audioV2/utils/audioEngineV2.utils.ts
Labels: audio, skip changelog

#16472 GS Kernel size & opacity compensation
  packages/dev/core/src/Materials/GaussianSplatting/gaussianSplattingMaterial.ts
  packages/dev/core/src/Materials/Node/Blocks/GaussianSplatting/gaussianSplattingBlock.ts
  packages/dev/core/src/Shaders/ShadersInclude/gaussianSplatting.fx
  packages/dev/core/src/Shaders/gaussianSplatting.vertex.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/gaussianSplatting.fx
  packages/dev/core/src/ShadersWGSL/gaussianSplatting.vertex.fx
  packages/tools/tests/test/visualization/ReferenceImages/gsplat-loading.png
  packages/tools/tests/test/visualization/ReferenceImages/gsplat-nme.png
Labels: enhancement

#16470 Attach playwright audio test result .wav files to test info on failure
  packages/tools/babylonServer/public/audiov2-test.js
  packages/tools/tests/test/audioV2/utils/audioEngineV2.utils.ts
Labels: audio, skip changelog

#16474 Shader pre-processor: Improve parsing + fix WGSL
  packages/dev/core/src/Engines/Processors/Expressions/Operators/shaderDefineArithmeticOperator.ts
  packages/dev/core/src/Engines/Processors/iShaderProcessor.ts
  packages/dev/core/src/Engines/Processors/shaderCodeConditionNode.ts
  packages/dev/core/src/Engines/Processors/shaderCodeNode.ts
  packages/dev/core/src/Engines/Processors/shaderProcessor.ts
  packages/dev/core/src/Engines/WebGPU/webgpuShaderProcessorsWGSL.ts
Labels: enhancement, rendering engine

#16478 Fix flaky playwright audio tests
  packages/tools/tests/test/audioV2/utils/audioEngineV2.utils.ts
Labels: audio, skip changelog

#16477 Add static and streaming sound playback tests
  packages/tools/babylonServer/public/audiov2-test.js
  packages/tools/tests/test/audioV2/audioEngineV2.listener.test.ts
  packages/tools/tests/test/audioV2/audioEngineV2.state.test.ts
  packages/tools/tests/test/audioV2/shared/abstractSound.playback.ts
  packages/tools/tests/test/audioV2/staticSound.playback.test.ts
  packages/tools/tests/test/audioV2/streamingSound.playback.test.ts
  packages/tools/tests/test/audioV2/utils/abstractSound.utils.ts
  packages/tools/tests/test/audioV2/utils/audioV2.utils.ts
Labels: audio, skip changelog

#16479 NME - indexOfRefraction is optional, so it has no variable name. defaulting to 1.0
  packages/dev/core/src/Materials/Node/Blocks/PBR/pbrMetallicRoughnessBlock.ts
Labels: bug

#16480 Post processes: Fix Depth of Field effect
  packages/dev/core/src/PostProcesses/depthOfFieldBlurPostProcess.ts
  packages/dev/core/src/PostProcesses/thinBlurPostProcess.ts
  packages/dev/core/src/PostProcesses/thinDepthOfFieldEffect.ts
  packages/tools/tests/test/visualization/ReferenceImages/FrameGraph-nrge-depth-of-field.png
  packages/tools/tests/test/visualization/ReferenceImages/bakedVertexAnimationDOF.png
  packages/tools/tests/test/visualization/ReferenceImages/prepass-ssao-dof.png
  packages/tools/tests/test/visualization/config.json
Labels: bug, post-process

#16482 Add `currentTime` playwright sound tests for static and streaming sounds
  packages/tools/tests/test/audioV2/shared/abstractSound.currentTime.ts
  packages/tools/tests/test/audioV2/staticSound.currentTime.test.ts
  packages/tools/tests/test/audioV2/streamingSound.currentTime.test.ts
  packages/tools/tests/test/audioV2/utils/abstractSound.utils.ts
Labels: audio, skip changelog

#16489 Visu test: Fix error ratio for Webkit
  packages/tools/tests/test/visualization/config.json
Labels: skip changelog

#16487 Add volume playwright audio tests
  packages/tools/babylonServer/public/audiov2-test.js
  packages/tools/tests/test/audioV2/audioBus.volume.test.ts
  packages/tools/tests/test/audioV2/audioEngineV2.listener.test.ts
  packages/tools/tests/test/audioV2/audioEngineV2.volume.test.ts
  packages/tools/tests/test/audioV2/mainAudioBus.volume.test.ts
  packages/tools/tests/test/audioV2/shared/abstractAudioNode.volume.ts
  packages/tools/tests/test/audioV2/shared/abstractSound.currentTime.ts
  packages/tools/tests/test/audioV2/shared/abstractSound.playback.ts
  packages/tools/tests/test/audioV2/staticSound.currentTime.test.ts
  packages/tools/tests/test/audioV2/staticSound.playback.test.ts
  packages/tools/tests/test/audioV2/staticSound.volume.test.ts
  packages/tools/tests/test/audioV2/streamingSound.currentTime.test.ts
  packages/tools/tests/test/audioV2/streamingSound.playback.test.ts
  packages/tools/tests/test/audioV2/streamingSound.volume.test.ts
  packages/tools/tests/test/audioV2/utils/abstractAudioNode.utils.ts
  packages/tools/tests/test/audioV2/utils/audioV2.utils.ts
Labels: audio, skip changelog

#16493 Refactor type validation logic for uniformity checks
  packages/dev/loaders/src/glTF/2.0/Extensions/KHR_interactivity/declarationMapper.ts
Labels: skip changelog

#16492 Add spatial and stereo playwright audio tests
  packages/tools/babylonServer/public/audiov2-test.js
  packages/tools/tests/test/audioV2/audioBus.spatial.test.ts
  packages/tools/tests/test/audioV2/audioBus.stereo.test.ts
  packages/tools/tests/test/audioV2/shared/abstractAudioNode.spatial.ts
  packages/tools/tests/test/audioV2/shared/abstractAudioNode.stereo.ts
  packages/tools/tests/test/audioV2/staticSound.currentTime.test.ts
  packages/tools/tests/test/audioV2/staticSound.playback.test.ts
  packages/tools/tests/test/audioV2/staticSound.spatial.test.ts
  packages/tools/tests/test/audioV2/staticSound.stereo.test.ts
  packages/tools/tests/test/audioV2/streamingSound.spatial.test.ts
  packages/tools/tests/test/audioV2/streamingSound.stereo.test.ts
  packages/tools/tests/test/audioV2/utils/audioV2.utils.ts
Labels: audio, skip changelog

#16497 CopyTexture Native rendering command
  packages/dev/core/src/Engines/Native/nativeInterfaces.ts
  packages/dev/core/src/Engines/nativeEngine.ts
Labels: enhancement, native

#16499 FrameGraph: add FXAA and Grain post-processes
  packages/dev/core/src/FrameGraph/Node/Blocks/PostProcesses/fxaaPostProcessBlock.ts
  packages/dev/core/src/FrameGraph/Node/Blocks/PostProcesses/grainPostProcessBlock.ts
  packages/dev/core/src/FrameGraph/Node/Blocks/index.ts
  packages/dev/core/src/FrameGraph/Tasks/PostProcesses/fxaaTask.ts
  packages/dev/core/src/FrameGraph/Tasks/PostProcesses/grainTask.ts
  packages/dev/core/src/FrameGraph/index.ts
  packages/dev/core/src/PostProcesses/fxaaPostProcess.ts
  packages/dev/core/src/PostProcesses/grainPostProcess.ts
  packages/dev/core/src/PostProcesses/index.ts
  packages/dev/core/src/PostProcesses/thinFXAAPostProcess.ts
  packages/dev/core/src/PostProcesses/thinGrainPostProcess.ts
  packages/tools/nodeRenderGraphEditor/src/blockTools.ts
  packages/tools/nodeRenderGraphEditor/src/components/nodeList/nodeListComponent.tsx
Labels: new feature, frame graph

#16500 update treeitemselectablecomponent to accept shiftclick to expand all
  packages/dev/inspector/src/components/sceneExplorer/treeItemSelectableComponent.tsx
Labels: new feature

#16501 Better fix for inertia blockers
  packages/dev/core/src/Cameras/Inputs/arcRotateCameraMouseWheelInput.ts
Labels: skip changelog

#16496 Speed up playwright audio tests
  packages/dev/core/src/AudioV2/webAudio/webAudioEngine.ts
  packages/tools/babylonServer/public/audiov2-test.js
  packages/tools/tests/test/audioV2/audioEngineV2.listener.test.ts
  packages/tools/tests/test/audioV2/shared/abstractAudioNode.spatial.ts
  packages/tools/tests/test/audioV2/shared/abstractAudioNode.stereo.ts
  packages/tools/tests/test/audioV2/shared/abstractAudioNode.volume.ts
  packages/tools/tests/test/audioV2/shared/abstractSound.currentTime.ts
  packages/tools/tests/test/audioV2/shared/abstractSound.playback.ts
  packages/tools/tests/test/audioV2/staticSound.currentTime.test.ts
  packages/tools/tests/test/audioV2/staticSound.playback.test.ts
  packages/tools/tests/test/audioV2/utils/abstractAudioNode.utils.ts
  packages/tools/tests/test/audioV2/utils/abstractSound.utils.ts
  packages/tools/tests/test/audioV2/utils/audioV2.utils.ts
Labels: audio, skip changelog

#16503 Fix sandbox animation issue
  packages/tools/sandbox/src/components/animationBar.tsx
Labels: bug, sandbox

#16504 Playground: Prevents crashes when running multiple PG's in succession
  packages/tools/playground/src/components/rendererComponent.tsx
Labels: bug, Playground

#16517 fix cam far plane
  packages/dev/core/src/Gizmos/cameraGizmo.ts
Labels: bug, gizmos

#16518 Fix timing issue with ACE when used with complex animations
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/animations/curveEditor/graph/graphComponent.tsx
Labels: bug

#16512 Add warning message when core mesh is not in the GPU picking list
  packages/dev/core/src/Collisions/gpuPicker.ts
Labels: bug

#16520 Add missing blend modes to the particle system dropdown
  packages/dev/core/src/Engines/constants.ts
  packages/dev/core/src/Particles/IParticleSystem.ts
  packages/dev/core/src/Particles/baseParticleSystem.ts
  packages/dev/core/src/Particles/gpuParticleSystem.ts
  packages/dev/core/src/Particles/thinParticleSystem.ts
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/materials/commonMaterialPropertyGridComponent.tsx
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/particleSystems/particleSystemPropertyGridComponent.tsx
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/sprites/spriteManagerPropertyGridComponent.tsx
  packages/dev/sharedUiComponents/src/constToOptionsMaps.ts
  packages/tools/nodeEditor/src/components/preview/previewAreaComponent.tsx
  packages/tools/nodeEditor/src/components/propertyTab/propertyTabComponent.tsx
Labels: inspector, new feature, nme

#16523 WebGPU: Fix highlight layer in fast snapshot rendering mode
  packages/dev/core/src/Materials/uniformBuffer.ts
Labels: bug, WebGPU

#16525 ConvertToRightHandedRotation: Fix comparison
  packages/dev/serializers/src/glTF/2.0/glTFUtilities.ts
Labels: skip changelog

#16529 SH fix for compressed .PLY
  packages/dev/core/src/Meshes/GaussianSplatting/gaussianSplattingMesh.ts
  packages/dev/core/src/ShadersWGSL/gaussianSplatting.vertex.fx
  packages/dev/loaders/src/SPLAT/splatFileLoader.ts
Labels: bug

#16535 ShadowDepthWrapper: Fix original effect not ready
  packages/dev/core/src/Materials/shadowDepthWrapper.ts
Labels: bug, materials, shadows

#16524 Fixed issue in the .babylon serializer
  packages/dev/core/src/Meshes/geometry.ts
  packages/dev/core/src/Meshes/mesh.vertexData.ts
Labels: bug

#16539 Expanded support for EXR files
  packages/dev/core/src/Materials/Textures/Loaders/EXR/exrLoader.decoder.ts
Labels: new feature

#16538 Particle update and create functions are now dynamic
  packages/dev/core/src/Particles/baseParticleSystem.ts
  packages/dev/core/src/Particles/thinParticleSystem.function.ts
  packages/dev/core/src/Particles/thinParticleSystem.ts
Labels: particles, new feature

#16541 Particle attractors
  packages/dev/core/src/Particles/Queue/executionQueue.ts
  packages/dev/core/src/Particles/attractor.ts
  packages/dev/core/src/Particles/index.ts
  packages/dev/core/src/Particles/particleSystem.ts
  packages/dev/core/src/Particles/thinParticleSystem.ts
  packages/tools/tests/test/visualization/ReferenceImages/attractors.png
  packages/tools/tests/test/visualization/config.json
Labels: particles, new feature

#16542 Texture: Fix texture format
  packages/dev/core/src/Materials/Textures/texture.ts
Labels: skip changelog

#16543 Rendering Pipelines: Fix dispose
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/lensRenderingPipeline.ts
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/ssao2RenderingPipeline.ts
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/ssaoRenderingPipeline.ts
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/ssrRenderingPipeline.ts
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/standardRenderingPipeline.ts
  packages/dev/core/src/PostProcesses/RenderPipeline/Pipelines/taaRenderingPipeline.ts
Labels: bug, rendering engine

#16546 Update freezeWorldMatrix documentation
  packages/dev/core/src/Meshes/transformNode.ts
Labels: skip changelog
