Repository BabylonJS/Babylon.js, pull requests merged in 2025-08, with the labels that each got.

#16952 Finish animations panel
  packages/dev/inspector-v2/src/components/properties/animation/animationsProperties.tsx
Labels: inspector, skip changelog

#16956 Add mesh display properties for inspector v2
  packages/dev/inspector-v2/src/components/properties/nodes/abstractMeshProperties.tsx
  packages/dev/inspector-v2/src/components/properties/nodes/meshProperties.tsx
  packages/dev/inspector-v2/src/services/panes/properties/nodePropertiesService.tsx
Labels: inspector, skip changelog

#16961 Inspector v2: Common material props
  packages/dev/inspector-v2/src/components/properties/materials/materialProperties.tsx
  packages/dev/inspector-v2/src/services/panes/properties/materialPropertiesService.tsx
Labels: skip changelog

#16955 Frame Graph UI - Inspector V2
  packages/dev/inspector-v2/src/components/properties/frameGraph/frameGraphProperties.tsx
  packages/dev/inspector-v2/src/services/panes/properties/frameGraphPropertiesService.tsx
Labels: inspector, skip changelog

#16962 Address feedback
  packages/dev/inspector-v2/src/components/properties/animation/animationGroupProperties.tsx
Labels: inspector, skip changelog

#16957 Add all mesh advanced properties to inspector v2
  packages/dev/inspector-v2/src/components/properties/nodes/abstractMeshProperties.tsx
Labels: inspector, skip changelog

#16959 Inspector v2 mesh general properties
  packages/dev/inspector-v2/src/components/properties/nodes/abstractMeshProperties.tsx
  packages/dev/inspector-v2/src/components/properties/nodes/nodeProperties.tsx
  packages/dev/inspector-v2/test/app/index.ts
Labels: skip changelog

#16964 Allow NME to serialize RTTs
  .build/config.json
  packages/dev/core/src/Materials/Node/Blocks/Dual/imageSourceBlock.ts
  packages/dev/core/src/Materials/Node/Blocks/Dual/textureBlock.ts
  packages/dev/core/src/Materials/Node/nodeMaterial.ts
Labels: new feature, nme

#16954 Adding debug properties for mesh in InspectorV2
  packages/dev/inspector-v2/src/components/properties/nodes/abstractMeshProperties.tsx
  packages/dev/inspector-v2/src/services/panes/properties/nodePropertiesService.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/propertyLines/dropdownPropertyLine.tsx
Labels: inspector, skip changelog

#16970 Fix shader material clone missing the alphaMode
  packages/dev/core/src/Materials/material.ts
Labels: bug

#16951 Inspector V2: SkyMaterial, AbstractMesh Occlusions, AbstractMesh Edge Rendering
  packages/dev/inspector-v2/src/components/properties/materials/skyMaterialProperties.tsx
  packages/dev/inspector-v2/src/components/properties/nodes/abstractMeshProperties.tsx
  packages/dev/inspector-v2/src/services/panes/properties/materialPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/nodePropertiesService.tsx
Labels: inspector, skip changelog

#16974 RH WebXR camera fix
  packages/dev/core/src/XR/webXRCamera.ts
Labels: bug

#16971 Inspector v2: Improve scene explorer command infra
  packages/dev/inspector-v2/src/components/properties/nodes/abstractMeshProperties.tsx
  packages/dev/inspector-v2/src/components/scene/sceneExplorer.tsx
  packages/dev/inspector-v2/src/hooks/resourceHooks.ts
  packages/dev/inspector-v2/src/services/panes/scene/nodeExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/sceneExplorerService.tsx
  packages/dev/inspector-v2/src/services/shellService.tsx
Labels: inspector

#16967 [InspectorV2/Fluent] Various new features/fixes from our muster munday madness
  packages/dev/inspector-v2/src/components/properties/animation/animationGroupProperties.tsx
  packages/dev/inspector-v2/src/components/properties/animation/targetedAnimationProperties.tsx
  packages/dev/inspector-v2/src/components/properties/boundProperty.tsx
  packages/dev/inspector-v2/src/components/properties/cameras/cameraProperties.tsx
  packages/dev/inspector-v2/src/components/properties/lights/shadowGeneratorProperties.tsx
  packages/dev/inspector-v2/src/components/properties/linkToEntityPropertyLine.tsx
  packages/dev/inspector-v2/src/components/properties/materials/materialProperties.tsx
  packages/dev/inspector-v2/src/components/properties/nodes/abstractMeshProperties.tsx
  packages/dev/inspector-v2/src/components/properties/nodes/nodeProperties.tsx
  packages/dev/inspector-v2/src/components/properties/physics/physicsProperties.tsx
  packages/dev/inspector-v2/src/components/properties/skeleton/boneProperties.tsx
  packages/dev/inspector-v2/src/components/properties/skeleton/skeletonProperties.tsx
  packages/dev/inspector-v2/src/components/properties/sprites/spriteGeneralProperties.tsx
  packages/dev/inspector-v2/src/components/properties/textures/advancedDynamicTextureProperties.tsx
  packages/dev/inspector-v2/src/components/properties/textures/baseTextureProperties.tsx
  packages/dev/inspector-v2/src/components/scene/sceneExplorer.tsx
  packages/dev/inspector-v2/src/services/panes/properties/nodePropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/skeletonPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/spritePropertiesService.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/propertyLines/dropdownPropertyLine.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/propertyLines/propertyLine.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/propertyLines/stringifiedPropertyLine.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/propertyLines/vectorPropertyLine.tsx
  packages/dev/sharedUiComponents/src/fluent/primitives/dropdown.tsx
Labels: inspector, skip changelog

#16949 spz v3 loader
  packages/dev/core/src/ShadersWGSL/gaussianSplatting.vertex.fx
  packages/dev/loaders/src/SPLAT/splatFileLoader.ts
  packages/tools/tests/test/visualization/ReferenceImages/gsplat-spz-v3.png
  packages/tools/tests/test/visualization/config.json
Labels: loaders, new feature

#16987 [InspectorV2/Fluent] Message bar reflow fix
  packages/dev/sharedUiComponents/src/fluent/primitives/messageBar.tsx
Labels: inspector, skip changelog

#16966 Add multimaterial support to inspector v2
  packages/dev/inspector-v2/src/components/properties/materials/multiMaterialProperties.tsx
  packages/dev/inspector-v2/src/services/panes/properties/materialPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/materialExplorerService.tsx
  packages/dev/inspector-v2/test/app/index.ts
Labels: inspector, skip changelog

#16968 Vicartas/muster pbrmaterial
  packages/dev/inspector-v2/src/components/properties/materials/pbrBaseMaterialProperties.tsx
  packages/dev/inspector-v2/src/components/properties/materials/pbrMaterialProperties.tsx
  packages/dev/inspector-v2/src/services/panes/properties/materialPropertiesService.tsx
  packages/dev/inspector-v2/test/app/index.ts
Labels: inspector, skip changelog

#16989 Update Fluent packages to the latest
  package-lock.json
Labels: tools, skip changelog

#16988 Add support for SSAO in NME
  packages/dev/core/src/Materials/Node/Blocks/Fragment/ambientOcclusionBlock.ts
  packages/dev/core/src/Materials/Node/Blocks/Fragment/index.ts
  packages/dev/core/src/Materials/Node/Blocks/Input/inputBlock.ts
  packages/dev/core/src/Materials/Node/Enums/nodeMaterialSystemValues.ts
  packages/tools/nodeEditor/src/blockTools.ts
  packages/tools/nodeEditor/src/components/nodeList/nodeListComponent.tsx
  packages/tools/nodeEditor/src/graphSystem/display/inputDisplayManager.ts
  packages/tools/nodeEditor/src/graphSystem/properties/inputNodePropertyComponent.tsx
Labels: new feature, nme

#16999 Npe update age
  .build/config.json
  packages/dev/core/src/Particles/Node/Blocks/Update/updateAgeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/index.ts
  packages/tools/nodeParticleEditor/src/blockTools.ts
  packages/tools/nodeParticleEditor/src/components/nodeList/nodeListComponent.tsx
  packages/tools/nodeParticleEditor/src/graphSystem/registerToDisplayLedger.ts
Labels: skip changelog, npe

#17002 Add check for build errors before running CopyMinToMax Webpack plugin
  packages/dev/buildTools/src/webpackTools.ts
Labels: build

#16990 Adding lottie playback using Babylon
  packages/dev/addons/src/lottie/index.ts
  packages/dev/addons/src/lottie/lottie/animationParser.ts
  packages/dev/addons/src/lottie/lottie/parsedTypes.ts
  packages/dev/addons/src/lottie/lottie/rawTypes.ts
  packages/dev/addons/src/lottie/lottiePlayer.ts
  packages/dev/addons/src/lottie/maths/bezier.ts
  packages/dev/addons/src/lottie/maths/boundingBox.ts
  packages/dev/addons/src/lottie/maths/matrix.ts
  packages/dev/addons/src/lottie/readme.md
  packages/dev/addons/src/lottie/rendering/animationController.ts
  packages/dev/addons/src/lottie/rendering/controlNode.ts
  packages/dev/addons/src/lottie/rendering/node.ts
  packages/dev/addons/src/lottie/rendering/renderingManager.ts
  packages/dev/addons/src/lottie/sprites/spriteNode.ts
  packages/dev/addons/src/lottie/sprites/spritePacker.ts
  packages/dev/addons/src/lottie/worker.ts
  packages/tools/devHost/package.json
Labels: new feature

#17005 Inspector v2: Add scene explorer command for playing/pausing animation groups
  packages/dev/inspector-v2/src/services/panes/scene/animationGroupExplorerService.tsx
  packages/dev/inspector-v2/test/app/index.ts
Labels: inspector

#17011 FrameGraph: Add support for bounding box renderer
  packages/dev/core/src/FrameGraph/Node/Blocks/Rendering/baseObjectRendererBlock.ts
  packages/dev/core/src/FrameGraph/Node/nodeRenderGraph.ts
  packages/dev/core/src/FrameGraph/Tasks/Rendering/objectRendererTask.ts
  packages/dev/core/src/FrameGraph/frameGraph.ts
  packages/dev/core/src/Rendering/boundingBoxRenderer.ts
  packages/dev/core/src/Rendering/objectRenderer.ts
  packages/tools/tests/test/visualization/ReferenceImages/FrameGraph-nrge-bounding-boxes.png
  packages/tools/tests/test/visualization/config.json
Labels: enhancement, frame graph

#17014 [InspectorV2] Particle attractor PR comments
  packages/dev/inspector-v2/src/components/properties/particles/attractor.tsx
  packages/dev/inspector-v2/src/components/properties/particles/attractorList.tsx
  packages/dev/inspector-v2/src/components/properties/particles/particleSystemProperties.tsx
  packages/dev/inspector-v2/src/hooks/resourceHooks.ts
Labels: inspector, skip changelog

#17022 Add missing API to NPE
  packages/dev/core/src/Particles/Node/nodeParticleSystemSet.ts
Labels: skip changelog, npe

#16975 [Inspectorv2] Add metadata properties
  packages/dev/inspector-v2/src/components/properties/metadataProperties.tsx
  packages/dev/inspector-v2/src/inspector.tsx
  packages/dev/inspector-v2/src/services/panes/properties/metadataPropertiesService.tsx
  packages/dev/inspector-v2/test/app/index.ts
  packages/dev/sharedUiComponents/src/fluent/primitives/textarea.tsx
Labels: inspector, skip changelog

#17018 GUI: Image nine-patch
  packages/dev/gui/src/2D/controls/image.ts
Labels: bug, gui

#17030 Fix RenderNinePatch bug in GUI image
  packages/dev/gui/src/2D/controls/image.ts
Labels: bug, gui, skip changelog

#17032 Object Renderer: Fix crash when bounding box renderer not present
  packages/dev/core/src/Rendering/objectRenderer.ts
Labels: bug, rendering engine

#17033 [InspectorV2/Fluent] BoundProperty auto-detects known compoundProperties and uses their compoundPropertyHooks
  packages/dev/inspector-v2/src/components/properties/boundProperty.tsx
  packages/dev/inspector-v2/src/components/properties/lights/areaLightProperties.tsx
  packages/dev/inspector-v2/src/components/properties/lights/directionalLightProperties.tsx
  packages/dev/inspector-v2/src/components/properties/lights/hemisphericLightProperties.tsx
  packages/dev/inspector-v2/src/components/properties/lights/pointLightProperties.tsx
  packages/dev/inspector-v2/src/components/properties/lights/spotLightProperties.tsx
  packages/dev/inspector-v2/src/components/properties/nodes/abstractMeshProperties.tsx
  packages/dev/inspector-v2/src/components/properties/sprites/spriteTransformProperties.tsx
  packages/dev/inspector-v2/src/components/properties/transformProperties.tsx
Labels: inspector, tools, skip changelog

#17040 FrameGraph: adds support for frozen meshes + allows no output color texture for the geometry buffer renderer task
  packages/dev/core/src/Engines/Extensions/engine.multiRender.ts
  packages/dev/core/src/Engines/WebGPU/Extensions/engine.multiRender.ts
  packages/dev/core/src/Engines/WebGPU/webgpuDrawContext.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/dev/core/src/FrameGraph/Node/Blocks/Rendering/baseObjectRendererBlock.ts
  packages/dev/core/src/FrameGraph/Node/Blocks/Rendering/geometryRendererBlock.ts
  packages/dev/core/src/FrameGraph/Node/nodeRenderGraph.ts
  packages/dev/core/src/FrameGraph/Tasks/Layers/baseLayerTask.ts
  packages/dev/core/src/FrameGraph/Tasks/Misc/cullObjectsTask.ts
  packages/dev/core/src/FrameGraph/Tasks/Rendering/geometryRendererTask.ts
  packages/dev/core/src/FrameGraph/Tasks/Rendering/objectRendererTask.ts
  packages/dev/core/src/FrameGraph/Tasks/Texture/clearTextureTask.ts
  packages/dev/core/src/FrameGraph/frameGraph.ts
  packages/dev/core/src/FrameGraph/frameGraphRenderTarget.ts
  packages/dev/core/src/Meshes/abstractMesh.ts
  packages/dev/core/src/Rendering/objectRenderer.ts
  packages/dev/core/src/Shaders/ShadersInclude/pbrBlockPrePass.fx
  packages/dev/core/src/Shaders/default.fragment.fx
  packages/dev/core/src/Shaders/pbr.fragment.fx
  packages/dev/core/src/ShadersWGSL/ShadersInclude/pbrBlockPrePass.fx
  packages/dev/core/src/ShadersWGSL/default.fragment.fx
  packages/dev/core/src/scene.ts
  packages/tools/tests/test/visualization/ReferenceImages/FrameGraph-nrge-frozen-meshes.png
  packages/tools/tests/test/visualization/config.json
Labels: new feature, frame graph

#17042 Adding support for texture and color update in NPE converter
  packages/dev/buildTools/src/webpackTools.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/createParticleBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/meshShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Update/basicColorUpdateBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/index.ts
  packages/dev/core/src/Particles/Node/Blocks/particleInputBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/particleSourceTextureBlock.ts
  packages/dev/core/src/Particles/Node/Enums/nodeParticleContextualSources.ts
  packages/dev/core/src/Particles/Node/nodeParticleBuildState.ts
  packages/dev/core/src/Particles/Node/nodeParticleSystemSet.helper.ts
  packages/dev/core/src/Particles/particle.ts
  packages/dev/inspector/src/components/actionTabs/tabs/propertyGrids/particleSystems/particleSystemPropertyGridComponent.tsx
  packages/tools/nodeParticleEditor/src/blockTools.ts
  packages/tools/nodeParticleEditor/src/components/nodeList/nodeListComponent.tsx
  packages/tools/nodeParticleEditor/src/graphSystem/display/inputDisplayManager.ts
  packages/tools/nodeParticleEditor/src/graphSystem/properties/inputNodePropertyComponent.tsx
  packages/tools/nodeParticleEditor/src/graphSystem/registerToDisplayLedger.ts
Labels: skip changelog, npe

#17047 Add support for initial color range for NPE converter
  packages/dev/core/src/Particles/Node/nodeParticleSystemSet.helper.ts
Labels: skip changelog, npe

#17041 Inspector v2: Rework BoundProperty to have no conditional hooks
  packages/dev/inspector-v2/src/components/properties/boundProperty.tsx
  packages/dev/inspector-v2/src/hooks/compoundPropertyHooks.ts
Labels: inspector, skip changelog

#17050 Add support for more features in the particules to NPE converter
  packages/dev/core/src/Particles/Node/Blocks/systemBlock.ts
  packages/dev/core/src/Particles/Node/nodeParticleSystemSet.helper.ts
  packages/dev/core/src/Particles/Node/nodeParticleSystemSet.ts
  packages/dev/core/src/Particles/particleSystem.ts
  packages/tools/nodeParticleEditor/src/components/preview/previewManager.ts
Labels: skip changelog, npe

#17053 Rendering Engine: Fix blending when blending parameters per target are not supported
  packages/dev/core/src/Engines/abstractEngine.ts
  packages/dev/core/src/Engines/thinEngine.ts
  packages/dev/core/src/Engines/webgpuEngine.ts
  packages/dev/core/src/States/alphaCullingState.ts
Labels: bug, rendering engine

#17054 NRGE: Fix error in console at load time (WebGPU)
  packages/tools/nodeRenderGraphEditor/src/components/preview/previewManager.ts
Labels: bug, WebGPU, nrge

#17058 Inspector v2: Picking toolbar
  packages/dev/core/src/Gizmos/cameraGizmo.ts
  packages/dev/core/src/Gizmos/lightGizmo.ts
  packages/dev/inspector-v2/src/components/pickingToolbar.tsx
  packages/dev/inspector-v2/src/inspector.tsx
  packages/dev/inspector-v2/src/services/gizmoService.ts
  packages/dev/inspector-v2/src/services/pickingService.tsx
Labels: inspector

#17059 Moving lottie code to its own package and new features
  package-lock.json
  package.json
  packages/dev/addons/src/lottie/index.ts
  packages/dev/addons/src/lottie/lottie/animationParser.ts
  packages/dev/addons/src/lottie/lottiePlayer.ts
  packages/dev/addons/src/lottie/readme.md
  packages/dev/addons/src/lottie/sprites/spritePacker.ts
  packages/dev/addons/src/lottie/worker.ts
  packages/dev/lottiePlayer/license.md
  packages/dev/lottiePlayer/package.json
  packages/dev/lottiePlayer/readme.md
  packages/dev/lottiePlayer/src/animationConfiguration.ts
  packages/dev/lottiePlayer/src/index.ts
  packages/dev/lottiePlayer/src/localPlayer.ts
  packages/dev/lottiePlayer/src/maths/bezier.ts
  packages/dev/lottiePlayer/src/maths/boundingBox.ts
  packages/dev/lottiePlayer/src/maths/matrix.ts
  packages/dev/lottiePlayer/src/messageTypes.ts
  packages/dev/lottiePlayer/src/nodes/controlNode.ts
  packages/dev/lottiePlayer/src/nodes/node.ts
  packages/dev/lottiePlayer/src/nodes/spriteNode.ts
  packages/dev/lottiePlayer/src/parsing/parsedTypes.ts
  packages/dev/lottiePlayer/src/parsing/parser.ts
  packages/dev/lottiePlayer/src/parsing/rawTypes.ts
  packages/dev/lottiePlayer/src/parsing/spritePacker.ts
  packages/dev/lottiePlayer/src/player.ts
  packages/dev/lottiePlayer/src/rendering/animationController.ts
  packages/dev/lottiePlayer/src/rendering/renderingManager.ts
  packages/dev/lottiePlayer/src/worker.ts
  packages/dev/lottiePlayer/tsconfig.build.json
  packages/dev/lottiePlayer/tsconfig.json
  packages/public/@babylonjs/lottiePlayer/license.md
  packages/public/@babylonjs/lottiePlayer/package.json
  packages/public/@babylonjs/lottiePlayer/readme.md
  packages/public/@babylonjs/lottiePlayer/tsconfig.build.json
Labels: enhancement

#17063 Fix several UI issues + move colorDead to particle instead of system
  packages/dev/core/src/Particles/Node/Blocks/Emitters/createParticleBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/meshShapeBlock.ts
  packages/dev/core/src/Particles/Node/nodeParticleBuildState.ts
  packages/dev/core/src/Particles/particle.ts
  packages/dev/core/src/Particles/thinParticleSystem.function.ts
  packages/dev/core/src/Particles/thinParticleSystem.ts
  packages/tools/nodeParticleEditor/src/graphSystem/properties/genericNodePropertyComponent.tsx
  packages/tools/nodeParticleEditor/src/graphSystem/properties/nodePortPropertyComponent.tsx
  packages/tools/nodeParticleEditor/src/graphSystem/registerNodePortDesign.ts
Labels: skip changelog, npe

#17068 Fix light reset when reducing maxSimultaneousLights value
  packages/dev/core/src/Materials/materialHelper.functions.ts
Labels: bug

#17069 Bounding Box: Fix bounding boxes not visible when rtt is pushed in camera.customRenderTarget
  packages/dev/core/src/Materials/Textures/renderTargetTexture.ts
  packages/dev/core/src/Rendering/objectRenderer.ts
  packages/dev/core/src/scene.ts
Labels: bug, rendering engine

#17081 WebGPU: Adds support for sprite rendering in fast snapshot rendering mode
  packages/dev/core/src/Misc/snapshotRenderingHelper.ts
  packages/dev/core/src/Sprites/spriteManager.ts
  packages/dev/core/src/Sprites/spriteRenderer.ts
  packages/dev/core/src/scene.ts
Labels: enhancement, WebGPU

#17086 Inspector v2: Setup public package
  package-lock.json
  package.json
  packages/dev/inspector-v2/src/components/properties/particles/attractor.tsx
  packages/dev/inspector-v2/src/components/properties/particles/attractorList.tsx
  packages/dev/inspector-v2/src/components/tools/importTools.tsx
  packages/dev/inspector-v2/src/hooks/pollingHooks.ts
  packages/dev/inspector-v2/src/modularTool.tsx
  packages/dev/inspector-v2/src/services/extensionsListService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/particleSystemPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/spritePropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/animationGroupExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/effectLayersExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/frameGraphExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/guiExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/materialExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/nodeExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/particleSystemExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/postProcessExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/spriteManagerExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/texturesExplorerService.tsx
  packages/dev/sharedUiComponents/src/constToOptionsMaps.ts
  packages/public/@babylonjs/inspector-v2/license.md
  packages/public/@babylonjs/inspector-v2/package.json
  packages/public/@babylonjs/inspector-v2/prepublish.cjs
  packages/public/@babylonjs/inspector-v2/readme.md
  packages/public/@babylonjs/inspector-v2/rollup.config.lib.mjs
  packages/public/@babylonjs/inspector-v2/tsconfig.build.lib.json
  packages/public/@babylonjs/inspector-v2/tsconfig.json
Labels: inspector

#17090 NodeMaterial: Fix alphaMode being wrong in cloned materials
  packages/dev/core/src/Materials/Node/nodeMaterial.ts
Labels: bug, materials

#17092 FrameGraph: Adds support for rig cameras
  packages/dev/core/src/FrameGraph/Tasks/Rendering/objectRendererTask.ts
  packages/dev/core/src/Rendering/objectRenderer.ts
  packages/tools/tests/test/visualization/ReferenceImages/FrameGraph-nrge-rig-camera.png
  packages/tools/tests/test/visualization/config.json
Labels: new feature, frame graph
