Repository BabylonJS/Babylon.js, pull requests merged in 2025-10, with the labels that each got.

#17220 Inspector v2: Improve configurability of theme mode and extension feeds
  packages/dev/inspector-v2/src/extensibility/builtInsExtensionFeed.ts
  packages/dev/inspector-v2/src/extensibility/defaultInspectorExtensionFeed.ts
  packages/dev/inspector-v2/src/hooks/themeHooks.ts
  packages/dev/inspector-v2/src/index.ts
  packages/dev/inspector-v2/src/inspector.tsx
  packages/dev/inspector-v2/src/modularTool.tsx
  packages/dev/inspector-v2/src/services/shellService.tsx
  packages/dev/inspector-v2/src/services/themeSelectorService.tsx
Labels: inspector

#17224 Adding support for text alignment attributes
  packages/dev/lottiePlayer/src/parsing/parser.ts
  packages/public/@babylonjs/lottiePlayer/readme.md
  packages/tools/tests/test/visualization/ReferenceImages/triangles-text-center.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-text-left.png
  packages/tools/tests/test/visualization/ReferenceImages/triangles-text-right.png
  packages/tools/tests/test/visualization/config.lottie.json
Labels: enhancement

#17231 Remove the hard dependency to Color in MaterialHelper.functions
  packages/dev/core/src/Materials/Background/backgroundMaterial.ts
  packages/dev/core/src/Materials/PBR/openPbrMaterial.ts
  packages/dev/core/src/Materials/PBR/pbrBaseMaterial.ts
  packages/dev/core/src/Materials/materialHelper.functions.ts
  packages/dev/core/src/Materials/standardMaterial.ts
Labels: skip changelog

#17232 Inspector v2: Various fixes and cleanup
  packages/dev/inspector-v2/src/components/pane.tsx
  packages/dev/inspector-v2/src/components/properties/animation/animationGroupProperties.tsx
  packages/dev/inspector-v2/src/components/properties/linkToEntityPropertyLine.tsx
  packages/dev/inspector-v2/src/components/properties/metadataProperties.tsx
  packages/dev/inspector-v2/src/components/properties/particles/attractorList.tsx
  packages/dev/inspector-v2/src/components/stats/statsPane.tsx
  packages/dev/inspector-v2/src/index.ts
  packages/dev/inspector-v2/src/services/panes/properties/materialPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/spritePropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/texturePropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/properties/transformPropertiesService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/guiExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/settingsService.tsx
  packages/dev/inspector-v2/src/services/shellService.tsx
  packages/dev/inspector-v2/test/app/index.tsx
  packages/dev/inspector-v2/webpack.config.js
Labels: bug, skip changelog

#17230 NPE: Add support for cameraPosition, Fresnel and Initial Direction
  packages/dev/core/src/Particles/Node/Blocks/Emitters/boxShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/customShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/cylinderShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/meshShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/pointShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/Emitters/sphereShapeBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/index.ts
  packages/dev/core/src/Particles/Node/Blocks/particleFresnelBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/particleInputBlock.ts
  packages/dev/core/src/Particles/Node/Blocks/particleLerpBlock.ts
  packages/dev/core/src/Particles/Node/Enums/nodeParticleContextualSources.ts
  packages/dev/core/src/Particles/Node/Enums/nodeParticleSystemSources.ts
  packages/dev/core/src/Particles/Node/nodeParticleBuildState.ts
  packages/tools/nodeParticleEditor/src/blockTools.ts
  packages/tools/nodeParticleEditor/src/components/nodeList/nodeListComponent.tsx
  packages/tools/nodeParticleEditor/src/graphSystem/display/inputDisplayManager.ts
  packages/tools/nodeParticleEditor/src/graphSystem/properties/inputNodePropertyComponent.tsx
Labels: new feature, npe

#17242 FrameGraph: miscellaneous
  packages/dev/core/src/FrameGraph/Node/Blocks/Textures/copyTextureBlock.ts
  packages/dev/core/src/FrameGraph/Node/nodeRenderGraph.ts
  packages/dev/core/src/FrameGraph/Tasks/Rendering/utilityLayerRendererTask.ts
  packages/dev/core/src/Misc/copyTextureToTexture.ts
  packages/dev/core/src/Shaders/copyTextureToTexture.fragment.fx
  packages/dev/core/src/ShadersWGSL/copyTextureToTexture.fragment.fx
Labels: enhancement, rendering engine, frame graph

#17245 Adding dispose for player
  packages/dev/lottiePlayer/src/localPlayer.ts
  packages/dev/lottiePlayer/src/messageTypes.ts
  packages/dev/lottiePlayer/src/player.ts
  packages/dev/lottiePlayer/src/rendering/animationController.ts
  packages/dev/lottiePlayer/src/worker.ts
Labels: bug

#17248 FrameGraph: Add support for convolution post-process
  packages/dev/core/src/FrameGraph/Node/Blocks/PostProcesses/convolutionPostProcessBlock.ts
  packages/dev/core/src/FrameGraph/Node/Blocks/index.ts
  packages/dev/core/src/FrameGraph/Tasks/PostProcesses/convolutionTask.ts
  packages/dev/core/src/FrameGraph/index.ts
  packages/dev/core/src/PostProcesses/convolutionPostProcess.ts
  packages/dev/core/src/PostProcesses/index.ts
  packages/dev/core/src/PostProcesses/thinConvolutionPostProcess.ts
  packages/tools/nodeRenderGraphEditor/src/blockTools.ts
  packages/tools/nodeRenderGraphEditor/src/components/nodeList/nodeListComponent.tsx
  packages/tools/tests/test/visualization/ReferenceImages/FrameGraph-convolution-post-process.png
  packages/tools/tests/test/visualization/config.json
Labels: new feature, frame graph

#17251 Background material: Fix blur not taken into account
  packages/dev/core/src/Materials/Background/backgroundMaterial.ts
  packages/dev/core/src/Materials/materialHelper.functions.ts
  packages/dev/core/src/Materials/standardMaterial.ts
  packages/tools/tests/test/visualization/ReferenceImages/Background-material-blur.png
  packages/tools/tests/test/visualization/config.json
Labels: bug, materials

#17250 Inspector v2: UX pass
  packages/dev/inspector-v2/src/components/gizmoToolbar.tsx
  packages/dev/inspector-v2/src/components/properties/metadataProperties.tsx
  packages/dev/inspector-v2/src/components/scene/sceneExplorer.tsx
  packages/dev/inspector-v2/src/services/panes/scene/animationGroupExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/defaultSectionsMetadata.ts
  packages/dev/inspector-v2/src/services/panes/scene/frameGraphExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/materialExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/nodeExplorerService.tsx
  packages/dev/inspector-v2/src/services/panes/scene/spriteManagerExplorerService.tsx
  packages/dev/inspector-v2/src/services/shellService.tsx
  packages/dev/sharedUiComponents/src/fluent/hoc/propertyLines/propertyLine.tsx
  packages/dev/sharedUiComponents/src/fluent/icons.ts
  packages/dev/sharedUiComponents/src/fluent/primitives/dropdown.tsx
  packages/dev/sharedUiComponents/src/fluent/primitives/spinButton.tsx
  packages/dev/sharedUiComponents/src/fluent/primitives/textInput.tsx
  packages/dev/sharedUiComponents/src/fluent/primitives/utils.ts
Labels: inspector
